@use "sass:math";
@use "../color-palette/index" as palette;

$default-border-radius: 12px;
$component-border-radius: math.div($default-border-radius, 3);

$standard-light-border: 1px solid palette.$mdn-light-grey300;
$standard-primary-border: 1px solid palette.$mdn-light-grey300;

.fade {
  mask-image: linear-gradient(
    to bottom,
    palette.$mdn-neutral900 65%,
    transparent 100%
  );
}
