@use "sass:color";
@use "../../base/styles" as *;
@use "../../base/theme" as *;
@use "../../base/typography" as *;

.notifications-menu {
  position: relative;

  .notifications-button {
    color: $text-primary;
    margin: 12px 0;
    padding: 0;

    @media screen and (min-width: $screen-md) {
      display: flex;
      margin: initial;
    }
  }

  .notifications-count-container {
    background-color: $icon-secondary;
    border-radius: 50%;
    color: white;
    display: inline-block;
    height: 21px;
    line-height: 1;
    margin-left: 0.5rem;
    padding: 2px;
    text-align: center;
    width: 21px;

    @media screen and (min-width: $screen-md) {
      background-color: transparent;
      padding: 0;

      &::before {
        background-color: $icon-primary;
        background-size: 21px 21px;
        content: "";
        display: block;
        height: 21px;
        mask-image: url("~@mdn/dinocons/plus/bell.svg");
        width: 21px;
      }
    }

    &.unread-notifications {
      background-color: $icon-secondary;

      @media screen and (min-width: $screen-md) {
        background-color: transparent;

        &::before {
          background-color: $accent-primary;
          mask-image: url("~@mdn/dinocons/plus/notification.svg");
        }
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    .notifications-label,
    .notifications-count {
      display: none;
    }
  }
}

.my-notifications {
  display: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }

  .notifications-submenu-action {
    border-top: 1px solid $border-primary;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    &.unread {
      background-color: color.adjust($mdn-color-blue-50, $alpha: -0.92);
    }

    &:hover,
    &:focus {
      background-color: $background-secondary;
      text-decoration: none;
    }
  }

  li:last-child .notifications-submenu-action {
    border-radius: 0 0 0.25rem 0.25rem;
  }

  .notifications-submenu-header,
  .notifications-submenu-item-heading,
  .notifications-submenu-item-description {
    font-size: 0.8125rem;
  }

  .notifications-submenu-header {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 1rem;
  }

  .notifications-submenu-header-action {
    padding: 0;
  }

  .notifications-submenu-item-heading,
  .notifications-submenu-item-description {
    color: $text-primary;
  }

  .notifications-submenu-item-heading {
    font-weight: bold;
  }

  .notifications-submenu-item-description {
    margin-bottom: 0;
  }

  .notifications-submenu-item-created {
    color: $text-inactive;
    font-size: 0.6875rem;
    font-weight: 600;
  }

  .notifications-submenu-empty-message {
    font-weight: 600;
    padding: 1rem;
    text-align: center;
  }

  @media screen and (min-width: $screen-md) {
    &.show {
      background-color: $background-primary;
      border: 1px solid $border-primary;
      border-radius: 0.25rem;
      box-shadow: $shadow-01;

      display: block;
      left: initial;
      min-width: 310px;
      padding: 0;
      position: absolute;
      right: 0;
      top: 32px;
      width: max-content;
      z-index: 1000;
    }
  }
}
