@use "sass:math";
@use "sass:map";

@use "../../minimalist/vars/layout";
@use "../../theme/index" as theme;

.notifications-menu {
  .notifications-button {
    color: map.get(theme.$light-mode, text-secondary);
    margin: 12px 0;
    padding: 0;

    @media #{layout.$mq-large-desktop-and-up} {
      display: flex;
      margin: initial;
    }
  }

  .notifications-count {
    background-color: map.get(theme.$light-mode, icon-secondary);
    border-radius: 50%;
    color: theme.$white;
    display: inline-block;
    height: 21px;
    line-height: 1;
    margin-left: math.div(theme.$base-spacing, 2);
    padding: 2px;
    text-align: center;
    width: 21px;

    @media #{layout.$mq-large-desktop-and-up} {
      background-color: transparent;
      padding: 0;

      &::before {
        background: transparent url("~@mdn/dinocons/plus/bell.svg") center
          center no-repeat;
        background-size: 21px 21px;
        content: "";
        display: block;
        height: 21px;
        width: 21px;
      }
    }

    &.unread-notifications {
      background-color: map.get(theme.$light-mode, icon-information);

      @media #{layout.$mq-large-desktop-and-up} {
        background-color: transparent;

        &::before {
          background-image: url("~@mdn/dinocons/plus/notification.svg");
        }
      }
    }
  }

  @media #{layout.$mq-large-desktop-and-up} {
    .notifications-label {
      display: none;
    }
  }
}
