@use "../../../ui/vars" as *;

.article-footer {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  box-shadow: var(--shadow-01);
  margin: 2rem 0;
  padding: 1rem;

  .article-footer-content-container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;

    h2 {
      margin-top: 0;
      padding: 0;
    }

    .last-modified-date {
      margin-bottom: 0;
    }
  }
}
