@use "../../../ui/vars" as *;

.main-page-content .article-footer {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  box-shadow: var(--shadow-01);
  margin: 2rem 0;
  padding: 1rem;

  h3 {
    font: var(--type-heading-h4);
    margin-top: 0.5rem;
    padding: 0;
  }
}

.article-footer-content-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  .last-modified-date {
    margin-bottom: 0;
  }
}
