@use "sass:math";

@use "../../minimalist/vars/layout";

@use "../../theme/index" as theme;
@use "../../theme/themes/light-mode" as light-mode;

.article-actions-container {
  align-items: center;
  background-color: light-mode.$mdn-light-color-background-secondary;
  border-bottom: 1px solid light-mode.$mdn-light-color-border-primary;
  border-top: 1px solid light-mode.$mdn-light-color-border-primary;
  display: flex;
  gap: theme.$base-spacing;
  padding-left: theme.$base-spacing * 2;

  @media #{layout.$mq-small-desktop-and-up} {
    margin: theme.$base-spacing 0 0;
    padding: 0 (theme.$base-spacing * 2);

    .breadcrumbs-container {
      flex: 1 1 90%;
    }

    .bookmark-button-container {
      flex: 0 0 40px;
    }

    .language-toggle {
      flex: 1 1 fit-content;
    }

    // when the breadcrumbs is the only item in the container
    .breadcrumbs-container:last-child {
      flex-basis: 100%;
    }

    // when the language toggle is the only item in the container
    .language-toggle:only-child {
      flex-basis: 100%;
      justify-content: flex-end;
    }
  }
}
