@use "sass:math";

@use "../../minimalist/vars/layout";

@use "../../theme/index" as theme;
@use "../../theme/themes/light-mode" as light;
@use "../../theme/themes/dark-mode" as dark;
@use "../../theme/themes/high-contrast-white";
@use "../../theme/themes/high-contrast-black";

.article-actions-container {
  align-items: center;
  background-color: light.$mdn-light-color-background-secondary;
  border-bottom: 1px solid light.$mdn-light-color-border-primary;
  border-top: 1px solid light.$mdn-light-color-border-primary;
  display: flex;
  gap: theme.$base-spacing;
  padding-left: theme.$base-spacing * 2;

  @media #{layout.$mq-small-desktop-and-up} {
    margin: theme.$base-spacing 0 0;
    padding: 0 (theme.$base-spacing * 2);

    .breadcrumbs-container {
      flex: 1 1 90%;
    }

    .bookmark-button-container {
      flex: 0 0 40px;
    }

    .language-toggle {
      flex: 1 1 fit-content;
    }

    // when the breadcrumbs is the only item in the container
    .breadcrumbs-container:last-child {
      flex-basis: 100%;
    }

    // when the language toggle is the only item in the container
    .language-toggle:only-child {
      flex-basis: 100%;
      justify-content: flex-end;
    }
  }
}

/* DARK MODE */
.dark {
  .article-actions-container {
    background-color: dark.$mdn-dark-color-background-secondary;
    border-bottom-color: dark.$mdn-dark-color-border-primary;
    border-top-color: dark.$mdn-dark-color-border-primary;
  }
}

/* HIGH CONTRAST WHITE MODE */
.high-contrast-white {
  .article-actions-container {
    background-color: high-contrast-white.$mdn-high-contrast-white-color-background-secondary;
    border-bottom-color: high-contrast-white.$mdn-high-contrast-white-color-border-primary;
    border-top-color: high-contrast-white.$mdn-high-contrast-white-color-border-primary;
  }
}

/* HIGH CONTRAST BLACK MODE */
.high-contrast-black {
  .article-actions-container {
    background-color: high-contrast-black.$mdn-high-contrast-black-color-background-secondary;
    border-bottom-color: high-contrast-black.$mdn-high-contrast-black-color-border-primary;
    border-top-color: high-contrast-black.$mdn-high-contrast-black-color-border-primary;
  }
}
