@import "../../base/styles";
@import "../../base/theme";

.article-actions-container {
  align-items: center;
  background-color: $background-secondary;
  border-bottom: 1px solid $border-primary;
  border-top: 1px solid $border-primary;
  display: flex;
  gap: 0.5rem;
  padding-left: 0.5rem;

  @media screen and (max-width: $screen-md) {
    margin: 0.5rem;
    padding: 0 0.5rem;

    .breadcrumbs-container {
      flex: 1 1 90%;
    }

    .bookmark-button-container {
      flex: 0 0 40px;
    }

    .language-toggle {
      flex: 1 1 fit-content;
    }

    // when the breadcrumbs is the only item in the container
    .breadcrumbs-container:last-child {
      flex-basis: 100%;
    }

    // when the language toggle is the only item in the container
    .language-toggle:only-child {
      flex-basis: 100%;
      justify-content: flex-end;
    }
  }
}
