@use "../../ui/vars" as *;

.featured-articles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  align-items: flex-start;

  h2 {
    font: var(--type-heading-h4);
    margin-top: 0;
  }

  .tile-container {
    display: flex;
    flex-direction: column;
    max-width: 52rem;
    gap: 1rem;

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      padding: 0 1rem;
    }
  }

  .article-tile {
    position: relative;
    border-radius: 0.5rem;
    border: 1px solid var(--border-primary);
    padding: 1rem;

    @media screen and (min-width: $screen-lg) {
      width: 33%;
    }

    &:hover {
      box-shadow: var(--shadow-02);
    }

    .tile-tag {
      color: var(--text-primary);
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    .tile-title {
      font: var(--type-heading-h5);
      font-weight: 500;
      line-height: var(--intermediate-line-height);
      margin: 0;
      margin-bottom: 1rem;

      a {
        color: var(--text-primary);

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    p {
      font: var(--type-smaller-font-size);
      line-height: var(--base-line-height);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}
