@use "../../../ui/vars" as *;

.mandala-container {
  display: flex;
  justify-content: center;
  // transform: skew(-7deg, 10deg);

  .mandala {
    animation: mandala-rotate 500s infinite;
    @media (prefers-reduced-motion) {
      animation: none;
    }
    position: relative;
    left: -10rem;
    width: 100%;
    height: 100%;

    @media screen and (min-width: $screen-md) {
      width: 40rem;
      height: 40rem;
    }

    [class*="mandala"] {
      fill: white;
    }

    @keyframes mandala-rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
