@use "../../../ui/vars" as *;

.mandala-container {
  display: flex;
  justify-content: center;

  .mandala {
    animation: mandala-rotate 500s infinite;
    @media (prefers-reduced-motion) {
      animation: none;
    }
    position: relative;
    left: -8rem;
    top: 7rem;
    width: 100%;
    height: 100%;

    @media screen and (min-width: $screen-md) {
      height: 30rem;
      width: 30rem;
    }

    [class*="mandala"] {
      fill: var(--background-primary);
      opacity: 0.5;
    }

    @keyframes mandala-rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
