.notes-container {
  background-color: var(--background-secondary);
  border: 1px solid var(--text-secondary);
  border-radius: var(--elem-radius);
  margin-bottom: 1rem;

  &.closed {
    border-bottom: none;
  }

  .notes-selector {
    align-self: center;
    display: flex;

    p {
      align-self: center;
      margin: 0;
    }

    select {
      align-self: center;
      appearance: none;
      background: none;
      border: none;
      cursor: pointer;
      font-weight: bold;
      max-width: fit-content;

      &:focus {
        outline: 0 none;
      }
    }
  }

  .notes-toggle {
    margin-left: auto;
    padding-bottom: 0.5rem;

    .switch .slider {
      height: 0.85rem;
      width: 1.7rem;
    }
  }

  button[disabled] {
    background-color: var(--background-secondary);
    border: 1px solid var(--text-secondary);
    color: var(--text-secondary);
  }

  &__header {
    align-items: baseline;
    background-color: var(--css-accent-background-color);
    border-bottom: solid 1px;
    border-bottom-right-radius: 0;
    display: flex;
    padding-left: 1rem;
  }

  &__contents {
    align-items: baseline;
    background-color: var(--background-primary);
    border: 1px solid;
    border-radius: var(--elem-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    height: 24rem;
    margin: 0.25rem;
    padding: 1rem;
  }
}
