@use "../../vars" as *;

.avatar {
  border-radius: 50%;
  height: 32px;
  /* pull the avatar into the space on the left
     introduced by the border */
  margin-left: -7px;
  margin-right: 0.5rem;
  width: 32px;

  @media screen and (min-width: $screen-md) {
    margin: initial;
  }
}
