$mdn-color-light-grey-05: #fbfbfe;
$mdn-color-light-grey-10: #f9f9fb;
$mdn-color-light-grey-20: #f0f0f4;
$mdn-color-light-grey-30: #e0e0e6;
$mdn-color-light-grey-40: #cfcfd8;
$mdn-color-light-grey-50: #bfbfc9;
$mdn-color-light-grey-60: #afafba;
$mdn-color-light-grey-70: #9f9fad;
$mdn-color-light-grey-80: #8f8f9d;
$mdn-color-light-grey-90: #80808e;
$mdn-color-dark-grey-05: #5b5b66;
$mdn-color-dark-grey-10: #52525e;
$mdn-color-dark-grey-20: #4a4a55;
$mdn-color-dark-grey-30: #42414d;
$mdn-color-dark-grey-40: #3a3944;
$mdn-color-dark-grey-50: #32313c;
$mdn-color-dark-grey-60: #2b2a33;
$mdn-color-dark-grey-70: #23222b;
$mdn-color-dark-grey-80: #1c1b22;
$mdn-color-dark-grey-90: #15141a;
$mdn-color-dark-theme-blue-10: #ccfaff;
$mdn-color-dark-theme-blue-20: #99f5ff;
$mdn-color-dark-theme-blue-30: #66efff;
$mdn-color-dark-theme-blue-40: #33eaff;
$mdn-color-dark-theme-blue-50: #00e5ff;
$mdn-color-dark-theme-blue-60: #00b7cc;
$mdn-color-dark-theme-blue-70: #008999;
$mdn-color-dark-theme-blue-80: #005c66;
$mdn-color-dark-theme-blue-90: #002e33;
$mdn-color-dark-theme-green-10: #ddfff4;
$mdn-color-dark-theme-green-20: #bbffe9;
$mdn-color-dark-theme-green-30: #98ffdf;
$mdn-color-dark-theme-green-40: #76ffd4;
$mdn-color-dark-theme-green-50: #54ffc9;
$mdn-color-dark-theme-green-60: #43cca1;
$mdn-color-dark-theme-green-70: #329979;
$mdn-color-dark-theme-green-80: #226650;
$mdn-color-dark-theme-green-90: #113328;
$mdn-color-dark-theme-yellow-10: #ffeacf;
$mdn-color-dark-theme-yellow-20: #ffd69f;
$mdn-color-dark-theme-yellow-30: #ffc16e;
$mdn-color-dark-theme-yellow-40: #ffad3e;
$mdn-color-dark-theme-yellow-50: #ff980e;
$mdn-color-dark-theme-yellow-60: #cc7a0b;
$mdn-color-dark-theme-yellow-70: #995b08;
$mdn-color-dark-theme-yellow-80: #663d06;
$mdn-color-dark-theme-yellow-90: #331e03;
$mdn-color-dark-theme-red-10: #ffdcdf;
$mdn-color-dark-theme-red-20: #ffb9bf;
$mdn-color-dark-theme-red-30: #ff959e;
$mdn-color-dark-theme-red-40: #ff727e;
$mdn-color-dark-theme-red-50: #ff4f5e;
$mdn-color-dark-theme-red-60: #cc3f4b;
$mdn-color-dark-theme-red-70: #992f38;
$mdn-color-dark-theme-red-80: #662026;
$mdn-color-dark-theme-red-90: #331013;
$mdn-color-dark-theme-violet-10: #f3e7ff;
$mdn-color-dark-theme-violet-20: #e7cfff;
$mdn-color-dark-theme-violet-30: #dab8ff;
$mdn-color-dark-theme-violet-40: #cea0ff;
$mdn-color-dark-theme-violet-50: #c288ff;
$mdn-color-dark-theme-violet-60: #9b6dcc;
$mdn-color-dark-theme-violet-70: #745299;
$mdn-color-dark-theme-violet-80: #4e3666;
$mdn-color-dark-theme-violet-90: #271b33;
$mdn-color-light-theme-blue-10: #d6ddf8;
$mdn-color-light-theme-blue-20: #aebbf1;
$mdn-color-light-theme-blue-30: #8599e9;
$mdn-color-light-theme-blue-40: #5d77e2;
$mdn-color-light-theme-blue-50: #3455db;
$mdn-color-light-theme-blue-60: #2a44af;
$mdn-color-light-theme-blue-70: #1f3383;
$mdn-color-light-theme-blue-80: #152258;
$mdn-color-light-theme-blue-90: #0a112c;
$mdn-color-light-theme-green-10: #cce6d9;
$mdn-color-light-theme-green-20: #99ccb3;
$mdn-color-light-theme-green-30: #66b38c;
$mdn-color-light-theme-green-40: #339966;
$mdn-color-light-theme-green-50: #008040;
$mdn-color-light-theme-green-60: #006633;
$mdn-color-light-theme-green-70: #004d26;
$mdn-color-light-theme-green-80: #00331a;
$mdn-color-light-theme-green-90: #001a0d;
$mdn-color-light-theme-yellow-10: #f6d7cc;
$mdn-color-light-theme-yellow-20: #eeb099;
$mdn-color-light-theme-yellow-30: #e58866;
$mdn-color-light-theme-yellow-40: #dd6133;
$mdn-color-light-theme-yellow-50: #d43900;
$mdn-color-light-theme-yellow-60: #aa2e00;
$mdn-color-light-theme-yellow-70: #7f2200;
$mdn-color-light-theme-yellow-80: #551700;
$mdn-color-light-theme-yellow-90: #2a0b00;
$mdn-color-light-theme-red-10: #f9cccc;
$mdn-color-light-theme-red-20: #f39999;
$mdn-color-light-theme-red-30: #ec6666;
$mdn-color-light-theme-red-40: #e63333;
$mdn-color-light-theme-red-50: #e00000;
$mdn-color-light-theme-red-60: #b30000;
$mdn-color-light-theme-red-70: #860000;
$mdn-color-light-theme-red-80: #5a0000;
$mdn-color-light-theme-red-90: #2d0000;
$mdn-color-light-theme-violet-10: #e8d5f9;
$mdn-color-light-theme-violet-20: #d0aaf3;
$mdn-color-light-theme-violet-30: #b980ee;
$mdn-color-light-theme-violet-40: #a155e8;
$mdn-color-light-theme-violet-50: #8a2be2;
$mdn-color-light-theme-violet-60: #6e22b5;
$mdn-color-light-theme-violet-70: #531a88;
$mdn-color-light-theme-violet-80: #37115a;
$mdn-color-light-theme-violet-90: #1c092d;
//$mdn-color-light-theme-blue-10: #ccecf0;
//$mdn-color-light-theme-blue-20: #99d9e0;
//$mdn-color-light-theme-blue-30: #66c6d1;
//$mdn-color-light-theme-blue-40: #33b3c1;
//$mdn-color-light-theme-blue-50: #00a0b2;
//$mdn-color-light-theme-blue-60: #00808e;
//$mdn-color-light-theme-blue-70: #00606b;
//$mdn-color-light-theme-blue-80: #004047;
//$mdn-color-light-theme-blue-90: #002024;
//$mdn-color-light-theme-green-10: #cfeee4;
//$mdn-color-light-theme-green-20: #9eddc9;
//$mdn-color-light-theme-green-30: #6ecbae;
//$mdn-color-light-theme-green-40: #3dba93;
//$mdn-color-light-theme-green-50: #0da978;
//$mdn-color-light-theme-green-60: #0a8760;
//$mdn-color-light-theme-green-70: #086548;
//$mdn-color-light-theme-green-80: #054430;
//$mdn-color-light-theme-green-90: #032218;
//$mdn-color-light-theme-yellow-10: #f6e6cf;
//$mdn-color-light-theme-yellow-20: #eecc9f;
//$mdn-color-light-theme-yellow-30: #e5b36e;
//$mdn-color-light-theme-yellow-40: #dd993e;
//$mdn-color-light-theme-yellow-50: #d4800e;
//$mdn-color-light-theme-yellow-60: #aa660b;
//$mdn-color-light-theme-yellow-70: #7f4d08;
//$mdn-color-light-theme-yellow-80: #553306;
//$mdn-color-light-theme-yellow-90: #2a1a03;
//$mdn-color-light-theme-red-10: #ffdcdf;
//$mdn-color-light-theme-red-20: #ffb9bf;
//$mdn-color-light-theme-red-30: #ff959e;
//$mdn-color-light-theme-red-40: #ff727e;
//$mdn-color-light-theme-red-50: #ff4f5e;
//$mdn-color-light-theme-red-60: #cc3f4b;
//$mdn-color-light-theme-red-70: #992f38;
//$mdn-color-light-theme-red-80: #662026;
//$mdn-color-light-theme-red-90: #331013;
//$mdn-color-light-theme-violet-10: #eeddff;
//$mdn-color-light-theme-violet-20: #ddbbff;
//$mdn-color-light-theme-violet-30: #cb9aff;
//$mdn-color-light-theme-violet-40: #ba78ff;
//$mdn-color-light-theme-violet-50: #a956ff;
//$mdn-color-light-theme-violet-60: #8745cc;
//$mdn-color-light-theme-violet-70: #653499;
//$mdn-color-light-theme-violet-80: #442266;
//$mdn-color-light-theme-violet-90: #221133;
$mdn-color-pink-05: #ffdff0;
$mdn-color-pink-10: #ffb4db;
$mdn-color-pink-20: #ff8ac5;
$mdn-color-pink-30: #ff6bba;
$mdn-color-pink-40: #ff4aa2;
$mdn-color-pink-50: #ff298a;
$mdn-color-pink-60: #e21587;
$mdn-color-pink-70: #c60084;
$mdn-color-pink-80: #7f145b;
$mdn-color-pink-90: #50134b;
$mdn-color-ink-05: #393473;
$mdn-color-ink-10: #342f6d;
$mdn-color-ink-20: #312a64;
$mdn-color-ink-30: #2e255d;
$mdn-color-ink-40: #2b2156;
$mdn-color-ink-50: #291d4f;
$mdn-color-ink-60: #271948;
$mdn-color-ink-70: #20123a;
$mdn-color-ink-80: #20133a;
$mdn-color-ink-90: #1d1133;
$mdn-color-marketing-grey-05: #f9f9fa;
$mdn-color-marketing-grey-10: #ededf0;
$mdn-color-marketing-grey-20: #cdcdd4;
$mdn-color-marketing-grey-30: #b1b1bc;
$mdn-color-marketing-grey-40: #9595a2;
$mdn-color-marketing-grey-50: #7a7a8b;
$mdn-color-marketing-grey-60: #5e5e72;
$mdn-color-marketing-grey-70: #42435a;
$mdn-color-marketing-grey-80: #1f2033;
$mdn-color-marketing-grey-90: #141422;
$mdn-color-black: #000000;
$mdn-color-white: #ffffff;

$mdn-theme-light-text-primary: $mdn-color-dark-grey-90;
$mdn-theme-light-text-secondary: #5b5b66;
$mdn-theme-light-text-inactive: #5b5b66a6;
$mdn-theme-light-text-link: $mdn-color-light-theme-blue-50;
$mdn-theme-light-background-primary: #ffffff;
$mdn-theme-light-background-secondary: #f9f9fb;
$mdn-theme-light-background-tertiary: #fbfbfe;
$mdn-theme-light-border-primary: #cfcfd8;
$mdn-theme-light-border-secondary: #e0e0e6;
$mdn-theme-light-button-primary-default: #15141a;
$mdn-theme-light-button-primary-hover: #3a3944;
$mdn-theme-light-button-primary-active: #5b5b66;
$mdn-theme-light-button-primary-inactive: #15141a;
$mdn-theme-light-button-secondary-default: #fbfbfe;
$mdn-theme-light-button-secondary-hover: #e0e0e6;
$mdn-theme-light-button-secondary-active: #e0e0e6;
$mdn-theme-light-button-secondary-inactive: #fbfbfe;
$mdn-theme-light-button-secondary-border-focus: $mdn-color-light-theme-blue-50;
$mdn-theme-light-button-secondary-border-red: $mdn-color-light-theme-red-30;
$mdn-theme-light-button-secondary-border-red-focus: $mdn-color-light-theme-red-10;
$mdn-theme-light-icon-primary: #5b5b66;
$mdn-theme-light-icon-secondary: #afafba;
$mdn-theme-light-icon-information: $mdn-color-light-theme-blue-50;
$mdn-theme-light-icon-warning: $mdn-color-light-theme-yellow-50;
$mdn-theme-light-icon-critical: $mdn-color-light-theme-red-60;
$mdn-theme-light-icon-success: $mdn-color-light-theme-green-60;
$mdn-theme-light-accent-primary: $mdn-color-light-theme-blue-50;
$mdn-theme-light-accent-secondary: $mdn-color-light-theme-blue-50;
$mdn-theme-light-field-focus-border: $mdn-color-light-theme-blue-50;
$mdn-theme-light-focus-01: 0px 0px 0px 3px rgba(0, 144, 237, 0.4);
$mdn-theme-light-shadow-01: 0px 1px 2px rgba(43, 42, 51, 0.05);
$mdn-theme-light-shadow-02: 0px 1px 6px rgba(43, 42, 51, 0.1);

$mdn-theme-light-code-token-tag: $mdn-color-light-theme-red-60;
$mdn-theme-light-code-token-punctuation: $mdn-color-light-theme-violet-80;
$mdn-theme-light-code-token-attribute-name: $mdn-color-light-theme-yellow-60;
$mdn-theme-light-code-token-attribute-value: $mdn-color-light-theme-green-70;
$mdn-theme-light-code-token-comment: #5b5b66;
$mdn-theme-light-code-token-default: #15141a;
$mdn-theme-light-code-token-selector: $mdn-color-light-theme-blue-70;
$mdn-theme-light-code-background-inline: #f0f0f4;
$mdn-theme-light-code-background-block: rgba(240, 240, 244, 0.5);

$mdn-theme-dark-text-primary: #fbfbfe;
$mdn-theme-dark-text-secondary: #cfcfd8;
$mdn-theme-dark-text-inactive: #cfcfd8a6;
$mdn-theme-dark-text-link: $mdn-color-dark-theme-green-50;
$mdn-theme-dark-background-primary: #15141a;
$mdn-theme-dark-background-secondary: #23222b;
$mdn-theme-dark-background-tertiary: #2b2a33;
$mdn-theme-dark-border-primary: #52525e;
$mdn-theme-dark-border-secondary: #3a3944;
$mdn-theme-dark-button-primary-default: #fbfbfe;
$mdn-theme-dark-button-primary-hover: #cfcfd8;
$mdn-theme-dark-button-primary-active: #9f9fad;
$mdn-theme-dark-button-primary-inactive: #fbfbfe;
$mdn-theme-dark-button-secondary-default: #2b2a33;
$mdn-theme-dark-button-secondary-hover: #52525e;
$mdn-theme-dark-button-secondary-active: #5b5b66;
$mdn-theme-dark-button-secondary-inactive: #2b2a33;
$mdn-theme-dark-shadow-01: 0px 1px 2px rgba(251, 251, 254, 0.2);
$mdn-theme-dark-shadow-02: 0px 1px 6px rgba(251, 251, 254, 0.2);
$mdn-theme-dark-icon-primary: #fbfbfe;
$mdn-theme-dark-icon-secondary: #afafba;
$mdn-theme-dark-icon-information: #0bb0f1;
$mdn-theme-dark-icon-warning: #ffa436;
$mdn-theme-dark-icon-critical: #ff4f5e;
$mdn-theme-dark-icon-success: $mdn-color-dark-theme-green-50;
$mdn-theme-dark-accent-primary: #0090ed;
$mdn-theme-dark-accent-secondary: #0090ed;
$mdn-theme-dark-field-focus-border: #fbfbfe;
$mdn-theme-dark-focus-01: 0px 0px 0px 3px rgba(251, 251, 254, 0.5);
$mdn-theme-dark-code-token-tag: #ff4f5e;
$mdn-theme-dark-code-token-punctuation: #8f8f9d;
$mdn-theme-dark-code-token-attribute-name: #ffffff;
$mdn-theme-dark-code-token-attribute-value: $mdn-color-dark-theme-green-50;
$mdn-theme-dark-code-token-comment: #8f8f9d;
$mdn-theme-dark-code-token-default: #fbfbfe;
$mdn-theme-dark-code-token-selector: #0bb0f1;
$mdn-theme-dark-code-background-inline: #3a3944;
$mdn-theme-dark-code-background-block: rgba(58, 57, 68, 0.5);

$screen-sm: 426px;
$screen-md: 769px;
$screen-lg: 1200px;
$screen-xl: 1441px;

/*
 * z-index scale
 */
$send-to-back: -1;
$bring-to-front: 9999;
$bottom-layer: 100;
$middle-layer: 200;
$top-layer: 300;
