@use "../../base/styles" as *;
@use "../../base/theme" as *;
@use "~@mdn/minimalist/sass/mixins/utils" as *;

.blog-feed {
  @media screen and (min-width: $screen-md) {
    flex-basis: 65%;
  }

  h3 {
    background-color: transparent;
    padding: 0;
  }

  ul {
    @include reset-list();

    li {
      border-bottom: 1px solid var(--border-primary);
      margin-bottom: 0.5rem;
    }
  }

  .post-meta {
    font-size: 0.8125rem;
    font-style: italic;
  }
}
