@import "../../base/styles";
@import "../../base/theme";
@import "~@mdn/minimalist/sass/mixins/utils";

.blog-feed {
  @media screen and (max-width: $screen-md) {
    flex-basis: 65%;
  }

  h3 {
    background-color: transparent;
    padding: 0;
  }

  ul {
    @include reset-list();

    li {
      border-bottom: 1px solid $border-primary;
      margin-bottom: 0.5rem;
    }
  }

  .post-meta {
    font-size: 0.8125rem;
    font-style: italic;
  }
}
