@import "~mdn-minimalist/sass/mdn-minimalist.scss";

// (At least without a theme) regular prism.css is really small so we can
// afford to load it on all pages globally.
@import "prismjs/themes/prism";
