$sidebar-summary-color: #333;
$sidebar-link-color: #3d7e9a;

* {
  box-sizing: border-box;
}

h1.page-title {
  background-color: #f5f9fa;
  padding: 10px;
}

.main {
  display: grid;
  grid-template:
    "nav nav" auto
    "sidebar content" auto / 300px auto;

  nav {
    grid-area: nav;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }
}

div.sidebar {
  position: sticky;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  font-size: 0.88889rem;

  h3,
  h4,
  h5,
  h6 {
    // The main content area might not start with a <hX> tag.
    // By doing this, the top of the sidebar aligns with the top
    // of the content.
    margin-top: 0;
  }

  ul {
    padding-left: 0;
    margin-bottom: 50px;

    li {
      list-style: none;
      margin-top: 20px;
    }
  }

  details {
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 20px;

    summary {
      color: $sidebar-summary-color;
      display: inline-block;
      margin-right: 5px;
      cursor: pointer;
    }

    summary::-webkit-details-marker {
      display: none;
    }

    summary:before {
      content: "▶︎";
      display: inline-block;
      width: 20px;
      color: $sidebar-link-color;
    }
  }

  details[open] > summary:before {
    content: "\25BC\FE0E";
  }

  ol {
    list-style-type: none;
    padding-left: 20px;

    li {
      padding-left: 0;
      margin-top: 0;
      line-height: 1.2;
      padding-bottom: 10px;

      &.active {
        a {
          font-style: italic;
          color: $sidebar-summary-color;
          &:hover {
            text-decoration: none;
          }
        }
      }

      a {
        color: $sidebar-link-color;
        display: inline-block;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        hyphens: auto;
      }
    }

    li:first-child {
      padding-top: 10px;
    }
  }
}

.error-message {
  margin: 10px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgb(252, 159, 159);
}



// :not(pre)>*>code, :not(pre)>code {
//   // background-color: #bbb;
//   // background-color: rgba(220,220,220,.5);
//   border-radius: 2px;
//   box-decoration-break: clone;
//   padding: 0 2px;
//   word-wrap: break-word;
// }
