// All things Yari specific that is not (and never was) in Kuma and is not
// on a specific page only.

.error-message {
    margin: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgb(252, 159, 159);
  }
