@use "../../vars" as *;

.manage-upgrade-dialog {
  --gutter-padding: 1rem;
  display: none;
  margin: 0;
  padding: 0;

  &.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background: var(--background-tertiary);
    z-index: var(--z-index-mid);
  }

  @media screen and (min-width: $screen-md) {
    &.show {
      padding: 0;
      left: initial;
      position: absolute;
      right: 0;
      top: calc(100% + 6px);
      bottom: auto;
      width: 316px;
      z-index: 1000;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: var(--background-tertiary);
      border: 1px solid var(--border-primary);
      border-radius: var(--elem-radius);
      box-shadow: var(--shadow-02);
    }
  }
}
