# To build only a subset of documents (which is much faster) you can
# use command line options with the cli. But if you don't want to type
# --locales=en-us every time, you can set:
#BUILD_LOCALES=en-us
# If you don't want to type --foldersearch=^web every time you can set:
#BUILD_FOLDERSEARCHES=^web

# Note that all these filters are *union* meaning
# `BUILD_LOCALES=en-us,sv-se` for example will match 'en-us' OR 'sv-se'
