# In GitHub Actions, all the content of the .gitignore gets added to
# this file.
# If there's both a `.gitignore` *and* `.npmignore` file, and a file
# might mentioned in `.gitignore` but not in `.npmignore` it will be
# included.
# And we don't want to have maintain both. So right before it runs the
# `npm publish` step it will combine these two files.

CODE_OF_CONDUCT.md
/deployer
/docs/
/mdn-web-docs.svg
kumascript/tests
README.md
scripts/
testing/
*.log

# Since we ship the built stuff, we actually no longer need any of the source
client/src/
*.ts

# Build/Dev files
.*
*.test.ts
*.tgz
**/node_modules/**
*config.js
Procfile.*
tsconfig*.json
