# Backup files
*~
# exclude these files
*.ejs
Dockerfile
Makefile
Procfile
content/_all-titles.json
_githistory.json
/client/src/serviceWorker.js
/fake-v1-api/*.json
# exclude these directories
/client/build/
/ssr/dist/
/node_modules/
/server/node_modules/
/client/node_modules/
/content/node_modules/
/cli/node_modules/
/deployment/node_modules/
/client/src/water.css/
/content/files/
/testing/content/
/kumascript/coverage/
/ssr/mozilla.dnthelper.min.js
