# Backup files
*~
# exclude these files
Dockerfile
Makefile
Procfile
# exclude these directories
/stumptown/
/client/build/
/ssr/dist/
/node_modules/
/server/node_modules/
/client/node_modules/
/cli/node_modules/
/deployment/node_modules/
/client/src/water.css/

# Mist files to ignore
/client/src/serviceWorker.js
client/src/touchthis.js
