/* mdn color palette v2 */
@use "../../vars/sass/variables" as style-disctionary;

$black: style-disctionary.$token-full-color-ramp-black-white-black;
$white: style-disctionary.$token-full-color-ramp-black-white-white;

$mdn-neutral050: style-disctionary.$token-full-color-ramp-marketing-grey-05;
$mdn-neutral100: style-disctionary.$token-full-color-ramp-marketing-grey-10;
$mdn-neutral200: style-disctionary.$token-full-color-ramp-marketing-grey-20;
$mdn-neutral300: style-disctionary.$token-full-color-ramp-marketing-grey-30;
$mdn-neutral400: style-disctionary.$token-full-color-ramp-marketing-grey-40;
$mdn-neutral500: style-disctionary.$token-full-color-ramp-marketing-grey-50;
$mdn-neutral600: style-disctionary.$token-full-color-ramp-marketing-grey-60;
$mdn-neutral700: style-disctionary.$token-full-color-ramp-marketing-grey-70;
$mdn-neutral800: style-disctionary.$token-full-color-ramp-marketing-grey-80;
$mdn-neutral900: style-disctionary.$token-full-color-ramp-marketing-grey-90;

$mdn-dark-grey050: style-disctionary.$token-full-color-ramp-dark-grey-05;
$mdn-dark-grey100: style-disctionary.$token-full-color-ramp-dark-grey-10;
$mdn-dark-grey200: style-disctionary.$token-full-color-ramp-dark-grey-20;
$mdn-dark-grey300: style-disctionary.$token-full-color-ramp-dark-grey-30;
$mdn-dark-grey400: style-disctionary.$token-full-color-ramp-dark-grey-40;
$mdn-dark-grey500: style-disctionary.$token-full-color-ramp-dark-grey-50;
$mdn-dark-grey600: style-disctionary.$token-full-color-ramp-dark-grey-60;
$mdn-dark-grey700: style-disctionary.$token-full-color-ramp-dark-grey-70;
$mdn-dark-grey800: style-disctionary.$token-full-color-ramp-dark-grey-80;
$mdn-dark-grey900: style-disctionary.$token-full-color-ramp-dark-grey-90;

$mdn-light-grey050: style-disctionary.$token-full-color-ramp-light-grey-05;
$mdn-light-grey100: style-disctionary.$token-full-color-ramp-light-grey-10;
$mdn-light-grey200: style-disctionary.$token-full-color-ramp-light-grey-20;
$mdn-light-grey300: style-disctionary.$token-full-color-ramp-light-grey-30;
$mdn-light-grey400: style-disctionary.$token-full-color-ramp-light-grey-40;
$mdn-light-grey500: style-disctionary.$token-full-color-ramp-light-grey-50;
$mdn-light-grey600: style-disctionary.$token-full-color-ramp-light-grey-60;
$mdn-light-grey700: style-disctionary.$token-full-color-ramp-light-grey-70;
$mdn-light-grey800: style-disctionary.$token-full-color-ramp-light-grey-80;
$mdn-light-grey900: style-disctionary.$token-full-color-ramp-light-grey-90;

$mdn-blue050: style-disctionary.$token-full-color-ramp-blue-05;
$mdn-blue100: style-disctionary.$token-full-color-ramp-blue-10;
$mdn-blue200: style-disctionary.$token-full-color-ramp-blue-20;
$mdn-blue300: style-disctionary.$token-full-color-ramp-blue-30;
$mdn-blue400: style-disctionary.$token-full-color-ramp-blue-40;
$mdn-blue500: style-disctionary.$token-full-color-ramp-blue-50;
$mdn-blue600: style-disctionary.$token-full-color-ramp-blue-60;
$mdn-blue700: style-disctionary.$token-full-color-ramp-blue-70;
$mdn-blue800: style-disctionary.$token-full-color-ramp-blue-80;
$mdn-blue900: style-disctionary.$token-full-color-ramp-blue-90;

$mdn-green050: style-disctionary.$token-full-color-ramp-green-05;
$mdn-green100: style-disctionary.$token-full-color-ramp-green-10;
$mdn-green200: style-disctionary.$token-full-color-ramp-green-20;
$mdn-green300: style-disctionary.$token-full-color-ramp-green-30;
$mdn-green400: style-disctionary.$token-full-color-ramp-green-40;
$mdn-green500: style-disctionary.$token-full-color-ramp-green-50;
$mdn-green600: style-disctionary.$token-full-color-ramp-green-60;
$mdn-green700: style-disctionary.$token-full-color-ramp-green-70;
$mdn-green800: style-disctionary.$token-full-color-ramp-green-80;
$mdn-green900: style-disctionary.$token-full-color-ramp-green-90;

$mdn-yellow050: style-disctionary.$token-full-color-ramp-yellow-05;
$mdn-yellow100: style-disctionary.$token-full-color-ramp-yellow-10;
$mdn-yellow200: style-disctionary.$token-full-color-ramp-yellow-20;
$mdn-yellow300: style-disctionary.$token-full-color-ramp-yellow-30;
$mdn-yellow400: style-disctionary.$token-full-color-ramp-yellow-40;
$mdn-yellow500: style-disctionary.$token-full-color-ramp-yellow-50;
$mdn-yellow600: style-disctionary.$token-full-color-ramp-yellow-60;
$mdn-yellow700: style-disctionary.$token-full-color-ramp-yellow-70;
$mdn-yellow800: style-disctionary.$token-full-color-ramp-yellow-80;
$mdn-yellow900: style-disctionary.$token-full-color-ramp-yellow-90;

$mdn-red050: style-disctionary.$token-full-color-ramp-red-05;
$mdn-red100: style-disctionary.$token-full-color-ramp-red-10;
$mdn-red200: style-disctionary.$token-full-color-ramp-red-20;
$mdn-red300: style-disctionary.$token-full-color-ramp-red-30;
$mdn-red400: style-disctionary.$token-full-color-ramp-red-40;
$mdn-red500: style-disctionary.$token-full-color-ramp-red-50;
$mdn-red600: style-disctionary.$token-full-color-ramp-red-60;
$mdn-red700: style-disctionary.$token-full-color-ramp-red-70;
$mdn-red800: style-disctionary.$token-full-color-ramp-red-80;
$mdn-red900: style-disctionary.$token-full-color-ramp-red-90;

$mdn-violet050: style-disctionary.$token-full-color-ramp-violet-05;
$mdn-violet100: style-disctionary.$token-full-color-ramp-violet-10;
$mdn-violet200: style-disctionary.$token-full-color-ramp-violet-20;
$mdn-violet300: style-disctionary.$token-full-color-ramp-violet-30;
$mdn-violet400: style-disctionary.$token-full-color-ramp-violet-40;
$mdn-violet500: style-disctionary.$token-full-color-ramp-violet-50;
$mdn-violet600: style-disctionary.$token-full-color-ramp-violet-60;
$mdn-violet700: style-disctionary.$token-full-color-ramp-violet-70;
$mdn-violet800: style-disctionary.$token-full-color-ramp-violet-80;
$mdn-violet900: style-disctionary.$token-full-color-ramp-violet-90;

$mdn-pink050: style-disctionary.$token-full-color-ramp-pink-05;
$mdn-pink100: style-disctionary.$token-full-color-ramp-pink-10;
$mdn-pink200: style-disctionary.$token-full-color-ramp-pink-20;
$mdn-pink300: style-disctionary.$token-full-color-ramp-pink-30;
$mdn-pink400: style-disctionary.$token-full-color-ramp-pink-40;
$mdn-pink500: style-disctionary.$token-full-color-ramp-pink-50;
$mdn-pink600: style-disctionary.$token-full-color-ramp-pink-60;
$mdn-pink700: style-disctionary.$token-full-color-ramp-pink-70;
$mdn-pink800: style-disctionary.$token-full-color-ramp-pink-80;
$mdn-pink900: style-disctionary.$token-full-color-ramp-pink-90;

$mdn-ink050: style-disctionary.$token-full-color-ramp-ink-05;
$mdn-ink100: style-disctionary.$token-full-color-ramp-ink-10;
$mdn-ink200: style-disctionary.$token-full-color-ramp-ink-20;
$mdn-ink300: style-disctionary.$token-full-color-ramp-ink-30;
$mdn-ink400: style-disctionary.$token-full-color-ramp-ink-40;
$mdn-ink500: style-disctionary.$token-full-color-ramp-ink-50;
$mdn-ink600: style-disctionary.$token-full-color-ramp-ink-60;
$mdn-ink700: style-disctionary.$token-full-color-ramp-ink-70;
$mdn-ink800: style-disctionary.$token-full-color-ramp-ink-80;
$mdn-ink900: style-disctionary.$token-full-color-ramp-ink-90;

$link-color: $mdn-blue700;
$text-color: $mdn-neutral900;
$text-color-inverted: $white;

$cta-button-gradient: linear-gradient(to right, $mdn-violet500, $mdn-blue200);
$gradient-accent: linear-gradient(90deg, $mdn-blue200, $mdn-green200);
$gradient-secondary: linear-gradient(90deg, $mdn-violet500, $mdn-blue400);

$page-overlay: rgba(66, 67, 90, 0.4);
$card-box-shadow: 0 0 6px rgba(20, 20, 34, 0.25);
