@use "sass:color";

@import "../../base/styles";
@import "../../base/theme";

ul.main-menu {
  box-sizing: border-box;
  font-weight: bold;
  list-style: none;
  padding: 0;
  width: 100%;

  @media screen and (max-width: $screen-md) {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
    max-width: 310px;

    li {
      &:last-child {
        flex-basis: inherit;
      }
    }
  }

  .top-level-entry-container {
    position: relative;
  }

  .top-level-entry {
    background: none;
    border: 0;
    color: $text-secondary;
    cursor: pointer;
    padding: 0.5rem;
    text-align: left;
    width: 100%;

    @media screen and (max-width: $screen-md) {
      border-radius: 0.25rem;
      padding: 0 0.5rem;

      &:hover,
      &:focus {
        background-color: color.adjust($accent-primary, $alpha: -0.9);
        color: $accent-primary;
      }
    }
  }

  &.show {
    display: block;

    @media screen and (max-width: $screen-md) {
      display: flex;
    }
  }

  .top-level-link {
    display: block;
    font-weight: normal;
    padding: 0.5rem;

    @media screen and (max-width: $screen-md) {
      border-radius: 0.25rem;
      padding: 0.5rem;

      &:hover,
      &:focus {
        background-color: color.adjust($accent-primary, $alpha: -0.9);
        color: $accent-primary;
        text-decoration: none;
      }
    }

    &:link,
    &:visited {
      color: $text-secondary;
    }
  }
}

/* enable hover interaction if javascript is not available */
@media screen and (max-width: $screen-md) {
  ul.main-menu.nojs {
    .top-level-entry-container:hover,
    .top-level-entry-container:focus {
      ul {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .page-overlay {
    display: none;
  }
}
