@use "sass:color";

@use "../../vars" as *;

ul.main-menu {
  box-sizing: border-box;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  width: 100%;

  &.show {
    display: block;

    @media (min-width: $screen-lg) {
      display: flex;
    }
  }

  @media (min-width: $screen-lg) {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 0 0;

    li:last-child {
      flex-basis: inherit;
    }

    .submenu.show {
      display: none;
    }

    .menu-toggle {
      display: none;
    }

    .top-level-entry-container {
      flex-shrink: 0;
    }
  }

  .top-level-entry .long {
    display: none;
  }

  @media (min-width: ($screen-xl)) {
    gap: 1rem;

    .top-level-entry {
      .long {
        display: unset;
      }

      .short {
        display: none;
      }
    }
  }
}

/* Enable hover interaction if javascript is not available */
@media (min-width: $screen-lg) {
  ul.main-menu .submenu {
    display: none;
  }

  ul.main-menu .top-level-entry-container {
    &:hover,
    &:focus-within {
      .submenu {
        display: block;
      }
    }
  }

  // This allows keyboard nav to work more predictably on desktop dropdowns.
  .open-on-focus-within {
    &:focus-within {
      .watch-submenu {
        display: flex;
      }

      .submenu {
        display: block;
      }
    }

    .submenu,
    .watch-submenu {
      display: none;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  #more-button {
    display: flex;

    &::after {
      display: none;
    }
  }
}

.submenu-icon {
  &.html {
    background-color: var(--html-accent-color);
  }

  &.css {
    background-color: var(--css-accent-color);
  }

  &.javascript {
    background-color: var(--js-accent-color);
  }

  &.http {
    background-color: var(--http-accent-color);
  }

  &.apis {
    background-color: var(--apis-accent-color);
  }

  &.learn {
    background-color: var(--learn-accent-color);
  }

  &.plus {
    background-color: var(--plus-accent-color);
  }

  &.curriculum {
    background-color: var(--curriculum-color);
  }

  &.blog {
    background-color: var(--apis-accent-color);
  }

  &.observatory {
    background-color: var(--observatory-accent);
  }
}
