@use "sass:color";

@use "../../minimalist/vars/layout";

@use "../../theme/index" as theme;
@use "../../theme/themes/light-mode" as light;
@use "../../theme/themes/dark-mode" as dark;
@use "../../theme/themes/high-contrast-white";
@use "../../theme/themes/high-contrast-black";

ul.main-menu {
  box-sizing: border-box;
  font-weight: bold;
  list-style: none;
  padding: 0;
  width: 100%;

  @media #{layout.$mq-small-desktop-and-up} {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
    max-width: 310px;

    li {
      &:last-child {
        flex-basis: inherit;
      }
    }
  }

  .top-level-entry-container {
    position: relative;
  }

  .top-level-entry {
    background: none;
    border: 0;
    color: light.$mdn-light-color-text-secondary;
    cursor: pointer;
    padding: (theme.$base-spacing * 2) theme.$base-spacing;
    text-align: left;
    width: 100%;

    @media #{layout.$mq-small-desktop-and-up} {
      border-radius: theme.$default-border-radius;
      padding: 0 (theme.$base-spacing * 1.5);

      &:hover,
      &:focus {
        background-color: color.adjust(theme.$mdn-green700, $alpha: -0.9);
        color: theme.$mdn-green700;
      }
    }
  }

  &.show {
    display: block;

    @media #{layout.$mq-small-desktop-and-up} {
      display: flex;
    }
  }

  .top-level-link {
    display: block;
    font-weight: normal;
    padding: (theme.$base-spacing * 2) theme.$base-spacing;

    @media #{layout.$mq-small-desktop-and-up} {
      border-radius: theme.$default-border-radius;
      padding: theme.$base-spacing;

      &:hover,
      &:focus {
        background-color: color.adjust(theme.$mdn-green700, $alpha: -0.9);
        color: theme.$mdn-green700;
        text-decoration: none;
      }
    }

    &:link,
    &:visited {
      color: light.$mdn-light-color-text-secondary;
    }
  }
}

/* enable hover interaction if javascript is not available */
@media #{layout.$mq-small-desktop-and-up} {
  ul.main-menu.nojs {
    .top-level-entry-container:hover,
    .top-level-entry-container:focus {
      ul {
        @include theme.submenu-base-desktop();
        display: block;
      }
    }
  }
}

@media #{layout.$mq-small-desktop-and-up} {
  .page-overlay {
    display: none;
  }
}

/* DARK MODE */
.dark {
  ul.main-menu {
    .top-level-entry {
      color: dark.$mdn-dark-color-text-secondary;
    }

    .top-level-link {
      &:link,
      &:visited {
        color: dark.$mdn-dark-color-text-secondary;
      }
    }
  }
}

/* HIGH CONTRAST WHITE MODE */
.high-contrast-white {
  ul.main-menu {
    .top-level-entry {
      color: high-contrast-white.$mdn-high-contrast-white-color-text-secondary;
    }

    .top-level-link {
      &:link,
      &:visited {
        color: high-contrast-white.$mdn-high-contrast-white-color-text-secondary;
      }
    }
  }
}

/* HIGH CONTRAST BLACK MODE */
.high-contrast-black {
  ul.main-menu {
    .top-level-entry {
      color: high-contrast-black.$mdn-high-contrast-black-color-text-secondary;
    }

    .top-level-link {
      &:link,
      &:visited {
        color: high-contrast-black.$mdn-high-contrast-black-color-text-secondary;
      }
    }
  }
}
