@use "../ui/vars" as *;

.page-content-container.settings {
  display: block;
  margin: auto;
  max-width: 60em;
  padding: 1rem;
  width: min(90vw, 40em);

  .field-group {
    margin: 2rem 0;

    ul {
      padding: 0;

      li {
        display: grid;
        grid-template-columns: 1fr 5em;
        margin: 2em 0;

        h4 {
          font-weight: 600;
        }

        span {
          font-size: 0.8rem;
          grid-column: 1/2;
          line-height: 1.2em;
          padding-top: 0.3em;
        }

        .loading,
        .switch {
          align-self: center;
          grid-column: 2/3;
          grid-row: 2/3;
          justify-self: end;
        }

        button {
          align-self: end;
          border: 1px solid var(--text-primary);
          border-radius: var(--elem-radius);
          color: var(--text-link);
          font-size: 0.8rem;
          grid-column: 2/3;
          grid-row: 1/3;
          height: max-content;
          justify-self: end;
          padding: 0.5rem 1rem;
          width: max-content;
        }

        /* stylelint-disable selector-no-qualifying-type  */
        button[disabled] {
          background-color: var(--background-secondary);
          border: 1px solid var(--text-secondary);
          color: var(--text-secondary);
        }
        /* stylelint-enable selector-no-qualifying-type  */
      }
    }
  }
}
