@import "~@mdn/minimalist/sass/vars/layout";

.edit-actions {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 100%;

  p.editor-opening-error {
    font-weight: bold;
  }
}
