.toggle-show-flaws {
  button.button {
    display: inline-block;
  }
}

#document-flaws {
  margin: 20px;

  button.toggle-show-flaws {
    display: inline;
  }

  details {
    margin-bottom: 20px;
  }

  .flaw .fetch-error {
    p {
      font-weight: bold;
    }
  }
  .flaw {
    li {
      margin-bottom: 15px;
    }

    ins {
      background-color: #d4fcbc;
    }
    del {
      text-decoration: none;
      background-color: #fbb;
    }

    .explanation-notes li {
      margin-bottom: 1px;
    }
  }

  .macro-filepath-in-prerequisite {
    font-size: 80%;
    background-color: orange;
    padding: 1px 5px;
  }

  details.fixed_flaw summary,
  li.fixed_flaw {
    text-decoration: line-through;
  }
}
