#document-flaws {
  margin: 20px;

  details {
    margin-bottom: 20px;
  }

  .flaw .fetch-error {
    p {
      font-weight: bold;
    }
  }

  .macro-filepath-in-prerequisite {
    font-size: 80%;
    background-color: orange;
    padding: 1px 5px;
  }

  details.fixed summary,
  li.fixed {
    text-decoration: line-through;
  }
}
