@import "~@mdn/minimalist/sass/vars/layout";
@import "~@mdn/minimalist/sass/vars/color-palette";
@import "~@mdn/minimalist/sass/vars/typography";

.toolbar-flaws {
  margin: $base-spacing 0;

  .button {
    margin-right: $base-spacing / 4;
  }

  .document-flaws {
    margin: $base-spacing 0;
  }

  a {
    &:link,
    &:visited {
      color: $neutral-600;
    }
  }

  pre {
    background-color: $neutral-200;
  }

  code {
    color: $neutral-100;
    margin-right: $base-spacing / 4;
    padding: $base-spacing / 4;
  }

  details,
  summary {
    margin-bottom: $base-spacing;
  }

  .flaw {
    li {
      margin-bottom: $base-spacing;
    }

    ins {
      background-color: $green-400;
    }

    del {
      background-color: $red-400;
      text-decoration: none;
    }
  }

  .flaw-fix-suggestion {
    margin: ($base-spacing / 4) 0;

    h5 {
      font-size: $small-font-size;
    }
  }

  .macro-filepath-in-prerequisite {
    font-size: 80%;
    background-color: orange;
    padding: 1px 5px;
  }

  details.fixed_flaw summary,
  li.fixed_flaw {
    text-decoration: line-through;
  }
}
