@import "~@mdn/minimalist/sass/vars/color-palette";
@import "~@mdn/minimalist/sass/vars/layout";

.toolbar {
  margin: 0 auto;
  padding: $base-unit;

  // This is the same we use for the `.titlebar-container h1`
  @media #{$mq-tablet-and-up} {
    max-width: $max-width-default;
    padding: $base-unit $base-spacing;
  }

  .toolbar-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .edit-actions {
      padding: $base-unit 0;
      li {
        margin-left: 0;
      }
    }
  }
}
