@import "~@mdn/minimalist/sass/vars/color-palette";
@import "~@mdn/minimalist/sass/vars/layout";
@import "~@mdn/minimalist/sass/vars/typography";

.document-watch-info {
  color: $neutral-100;
  font-size: $small-font-size;
  position: absolute;
  right: $base-spacing;
  text-align: right;
  top: 6px;
  width: 100%;
}
