@use "../../base/styles" as *;

.contribute {
  @media screen and (min-width: $screen-md) {
    flex-basis: 35%;
  }

  ul {
    li {
      border-bottom: 1px solid var(--border-primary);
      margin-bottom: 0.5rem;
    }
  }
}
