@use "../ui/vars" as *;
@use "../ui/base/mdn" as *;

// Mobile first.
$desktop-min-width: $screen-md;
$desktop-content-width: 78rem;

main.community {
  --primary-bg: var(--observatory-bg); // FIXME
  --secondary-bg: var(--background-primary);

  background-color: var(--primary-bg);
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2 {
    font-size: 1.5rem;
    margin-top: unset;
    text-wrap: balance;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  a[href]:not(.btn) {
    color: var(--text-primary);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .btn {
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5em; // sic!
    text-decoration: none;

    &.primary {
      background-color: var(--button-primary-default);
      color: var(--secondary-bg);

      &:hover {
        text-decoration: underline;
      }
    }

    &.secondary {
      background-color: var(--primary-bg);
      border: 1px solid var(--text-primary);
      color: var(--text-primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  table {
    border-radius: 0.5rem;
    background: var(--secondary-bg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    tr:nth-of-type(odd) {
      background: var(--primary-bg);
    }

    th,
    td {
      border: none;
    }

    th {
      padding: 1.5rem;
    }

    td {
      padding: 0.5rem 1.5rem;
    }
  }

  .desktop-only {
    display: none;
  }

  @media (min-width: $desktop-min-width) {
    .desktop-only {
      display: unset;
    }

    .mobile-only {
      display: none;
    }
  }

  > section {
    margin-top: 4rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @media (min-width: $desktop-min-width) {
      margin-left: auto;
      margin-right: auto;
      max-width: $desktop-content-width;
    }
  }

  section.hero {
    display: grid;
    grid-template-areas:
      "illustration"
      "heading"
      "copy"
      "actions";
    margin-top: 1rem;
    text-align: center;

    > h1 {
      grid-area: heading;
      margin: 0;
    }

    > p {
      grid-area: copy;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      text-wrap: balance;
    }

    .btn {
      font-size: 1.2rem;
    }

    .actions {
      grid-area: actions;
      flex-wrap: wrap;
      text-wrap: nowrap;
    }

    .illustration {
      grid-area: illustration;

      > svg {
        margin: 0 auto;
      }
    }

    @media (min-width: $desktop-min-width) {
      background-image: url("../assets/community/hero-bg.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 25rem;
      column-gap: 2rem;

      grid-template-areas:
        "top-left . ."
        "top-left heading . "
        ". copy ."
        "bottom-left actions bottom-right"
        "bottom-left . bottom-right";
      justify-content: space-around;
      margin: 0 auto;

      .actions {
        flex-direction: row;
        justify-content: center;
      }

      .top-left {
        grid-area: top-left;
      }

      .bottom-left {
        grid-area: bottom-left;
      }

      .bottom-right {
        grid-area: bottom-right;
      }
    }
  }

  section.community-stats {
    background-color: var(--secondary-bg);
    border-radius: 1rem;
    padding: 1.5rem 3rem;
    text-wrap: balance;
    text-align: center;

    > .stats {
      --border-width: 0.25rem;
      --size: 4rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: calc(-1 * var(--size) + 2 * var(--border-width));

      .number {
        background-color: rgba(0, 210, 48, 1);
        border: 0.25rem solid #eee;
        border-radius: 50%;
        display: block;
        //font-size: 1rem;
        font-weight: 500;
        height: var(--size);
        text-align: center;
        margin: 0 auto;
        line-height: calc(var(--size) - 2 * var(--border-width));
        width: var(--size);
      }
      .legend {
        display: block;
        font-size: 0.875rem;
        text-align: center;
      }

      @media (min-width: $desktop-min-width) {
        --size: 7.5rem;
        flex-direction: row;
        justify-content: space-around;

        .number {
          font-size: 1.75rem;
        }

        .legend {
          font-size: 1rem;
        }
      }
    }

    h2 {
      margin-top: 4rem;
    }

    &::after {
      content: url("../assets/community/globe.svg");
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: -3.5rem;
      margin-bottom: -2rem;
      height: 6rem;
      width: 6rem;
    }

    @media (min-width: $desktop-min-width) {
      margin-top: 10rem;
    }
  }

  section.community-contributors {
    .actions {
      flex-direction: row;
    }

    section.contributor-quotes {
      .quotes {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        overflow-y: scroll;
        width: 100%;

        blockquote {
          background-color: var(--secondary-bg);
          border: 0;
          border-radius: 0.5rem;
          padding: 2rem 3rem;
          flex: 20rem;
          flex-shrink: 0;

          > p {
            font-style: italic;
            font-variation-settings: "slnt" -10;

            &::before {
              content: url("../assets/community/quote.svg");
              display: block;
              position: relative;
              margin-bottom: -2rem;
              margin-left: -2rem;
              height: auto;
              width: 1rem;
            }
            &::after {
              content: url("../assets/community/quote.svg");
              display: block;
              position: relative;
              margin-left: calc(100% + 1rem);
              margin-top: -2rem;
              height: auto;
              transform: rotate(180deg);
              width: 1rem;
            }
          }

          > footer {
            margin-top: 2rem;
          }
        }
      }
    }

    @media (min-width: $desktop-min-width) {
      display: grid;
      grid-template-areas:
        "contributors copy"
        "contributors quotes";
      grid-template-columns: 2fr 1fr;
      gap: 4rem;

      > section.contributors {
        grid-area: contributors;
        background-image: url("../assets/community/contributors-bg.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: calc(100% - 10rem);
        position: relative;
        height: 60rem;
        width: 100%;

        .contributor {
          position: absolute;
          top: 50%;
          right: 0%;
          background-color: var(--primary-bg);
          display: block;
          padding: 1rem;
          text-align: center;

          > * {
            display: block;
            margin: 0 auto;
          }

          img {
            border: 6px solid #fff;
            border-radius: 100%;
            width: 5rem;
          }

          figcaption {
            max-width: 10rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .username {
            display: block;
            font-weight: 500;
          }

          @function transform-circle($radius, $degree) {
            @return translate(-4rem, -4rem) translateX(50%) rotate($degree)
              translate(-$radius) rotate(-$degree) translateY(0%);
          }

          /* stylelint-disable function-no-unknown */

          // Outer circle, top part.
          &:nth-child(1) {
            transform: transform-circle(27rem, 90deg);
          }
          &:nth-child(2) {
            transform: transform-circle(27rem, 54deg);
          }
          &:nth-child(3) {
            transform: transform-circle(27rem, 18deg);
          }
          &:nth-child(4) {
            transform: transform-circle(27rem, -18deg);
          }
          &:nth-child(5) {
            transform: transform-circle(27rem, -54deg);
          }
          &:nth-child(6) {
            transform: transform-circle(27rem, -90deg);
          }
          // Inner circle.
          &:nth-child(7) {
            transform: transform-circle(14rem, 90deg);
          }
          &:nth-child(8) {
            transform: transform-circle(14rem, 30deg);
          }
          &:nth-child(9) {
            transform: transform-circle(14rem, -30deg);
          }
          &:nth-child(10) {
            transform: transform-circle(14rem, -90deg);
          }

          /* stylelint-enable function-no-unknown */
        }
      }

      > section.meet-our-contributors {
        grid-area: copy;
        align-self: flex-start;
      }

      > section.contributor-quotes {
        grid-area: quotes;
        align-self: flex-end;
      }
    }
  }

  section.get-started {
    display: grid;
    grid-template-areas: "header" "copy" "figure";

    > h2 {
      grid-area: header;
    }

    > p {
      grid-area: copy;
    }

    > figure {
      grid-area: figure;
    }

    @media (min-width: $desktop-min-width) {
      grid-template-areas: "header figure" "copy figure";

      column-gap: 4rem;
    }
  }

  section.join-us {
    background-color: var(--secondary-bg);
    padding: 3rem 0;

    margin-left: 0;
    margin-right: 0;

    > h2 {
      margin-top: 0;
    }

    .notes {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      overflow-x: scroll;
      padding-top: 1rem;
      width: 100%;

      .note {
        position: relative;
        padding-top: 0.5rem; // Avoid that sticky part overflows.

        .note-inner {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          flex: 0;
          background-color: #00d230;
          box-shadow: 8px 8px 4px 0px rgba(103, 158, 116, 0.5);
          padding: 1rem;
          padding-top: 1.5rem;
        }

        &::before {
          content: "";
          display: block;
          opacity: 0.8;
          background: #f9f9fb;
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
          left: 50%;
          transform: translate(-50%);
          top: -0.5rem;
          position: absolute;
          height: 1.5rem;
          width: 4.5rem;
        }

        h3 {
          font-size: 1rem;
          font-weight: bold;
          margin-top: 0rem;
          margin-bottom: 0.5rem;
        }

        p {
          flex-grow: 1;
          margin: 0.5rem 0;
          text-wrap: balance;
        }

        .btn {
          align-self: center;
          align-content: center;
          justify-content: center;
          margin-top: 0.5rem;
          text-wrap: nowrap;
        }
      }

      @media (min-width: $desktop-min-width) {
        background-image: url("../assets/community/contribute-bg.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 0 calc((100% - $desktop-content-width) / 2);
        position: relative;
        height: 50rem;
        width: 100%;

        justify-content: space-between;

        .note {
          width: 12rem;

          .actions {
            flex-direction: row;
          }

          &:nth-child(1) {
            margin-top: 1rem;
          }

          &:nth-child(2) {
            margin-top: 25rem;
          }

          &:nth-child(3) {
            margin-top: 13rem;
          }

          &:nth-child(4) {
            margin-top: 30rem;
          }
        }
      }
    }

    @media (min-width: $desktop-min-width) {
      max-width: unset;

      > h2,
      > p {
        padding: 0 calc((100% - $desktop-content-width) / 2);
      }
    }
  }

  section.community-get-involved,
  section.celebrate {
    .labels {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }
    .label {
      background-color: var(--background-primary);
      padding: 0.5rem;
    }
  }

  section.contact {
    .channels {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      > figure {
        background-color: var(--secondary-bg);
        padding: 2rem;

        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        svg {
          align-self: flex-start;
          height: auto;
          width: 4.5rem;
        }

        figcaption {
          h3 {
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
          }

          p {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
          }
        }
      }

      @media (min-width: $desktop-min-width) {
        flex-direction: row;
        column-gap: 20%;
      }
    }
  }
}
