@use "../../minimalist/vars/layout";
@use "../spacing/index" as spacing;

@mixin submenu-base-desktop() {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  left: -20px;
  position: absolute;
  top: 32px;
  width: max-content;
  z-index: layout.$bring-to-front;
}
