@import "../../base/styles";
@import "../../base/theme";

.auth-disabled {
  border: 1px solid $border-primary;
  border-radius: 0.25rem;
  box-shadow: $shadow-01;
  color: $text-secondary;
  padding: 16px;

  p {
    margin-bottom: 0;
  }
}
