@use "sass:map";
@use "../../theme/index" as theme;

.auth-disabled {
  border: 1px solid theme.$standard-light-border;
  border-radius: theme.$default-border-radius;
  box-shadow: theme.$menu-box-shadow;
  color: map.get(theme.$light-mode, text-seconday);
  padding: 16px;

  p {
    margin-bottom: 0;
  }
}
