@use "sass:math";

@use "~@mdn/minimalist/sass/vars/layout";

@use "../../theme/index" as theme;

.bookmark-button {
  background-color: transparent;
  border-radius: math.div(theme.$default-border-radius, 3);
  height: 100%;
  max-width: inherit;
  min-height: inherit;
  padding: 8px;

  @media #{layout.$mq-small-desktop-and-up} {
    width: 150px;
  }

  &:hover,
  &:focus {
    background-color: theme.$mdn-light-grey300;
  }

  &::before {
    background-color: theme.$mdn-light-grey900;
    content: "";
    display: inline-block;
    height: 25px;
    margin: 0 8px 0 auto;
    mask-image: url("~@mdn/dinocons/general/bookmark.svg");
    padding: math.div(layout.$base-spacing, 2);
    vertical-align: middle;
    width: 25px;
  }

  &.bookmarked {
    &::before {
      background-color: theme.$mdn-blue500;
      mask-image: url("~@mdn/dinocons/general/bookmark-filled.svg");
    }
  }
}
