@use "../vars" as *;

/* 
 * Sets base, hover, focus and active state styles for solid buttons.
 * @param `$bg-color` - background color for default state [default: `$mdn-blue600`]
 * @param `$bg-hover-color` - background color for hover and focus state [default: `$mdn-blue700`]
 * @param `$bg-active-color` - background color for active state [default: `$bg-color`]
 * @param `$text-color` - foreground text color [default: `$text-color-inverted`]
 * @param `$text-hover-color` - foreground text color for hover state [default: null]
 */
@mixin button-state(
  $bg-color: $mdn-blue700,
  $bg-hover-color: $mdn-blue600,
  $bg-active-color: $bg-color,
  $text-color: $text-color-inverted,
  $text-hover-color: null
) {
  background-color: $bg-color;
  border: 2px solid $bg-color;
  color: $text-color;

  &:hover,
  &:focus {
    background-color: $bg-hover-color;

    @if $text-hover-color {
      color: $text-hover-color;
    }

    border-color: $bg-hover-color;
  }

  &:active {
    background-color: $bg-active-color;
    border-color: $bg-active-color;
  }
}

/* 
 * Sets base, hover, focus and active state styles for outline style buttons.
 * @param `$bg-color` - background color for default state [default: `$white`]
 * @param `$bg-hover-color` - background and border color for hover state [default: `null`]
 * @param `$bg-active-color` - background and border color for active state [default: `null`]
 * @param `$border-color` - border color [default: `$mdn-blue600`]
 * @param `$text-color` - text color [default: `$border-color`]
 * @param `$text-hover-color` - text color for hover state [default: $mdn-blue600]
 */
@mixin outline-button-state(
  $bg-color: $white,
  $bg-hover-color: null,
  $bg-active-color: null,
  $border-color: $mdn-blue600,
  $text-color: $border-color,
  $text-hover-color: $mdn-blue600
) {
  background-color: $bg-color;
  border-color: $border-color;
  color: $border-color;

  &:hover,
  &:focus {
    @if $bg-hover-color {
      background-color: $bg-hover-color;
    }
    border-color: $bg-hover-color;
    color: $text-hover-color;
  }

  &:active {
    @if $bg-active-color {
      background-color: $bg-active-color;
      border-color: $bg-active-color;
    }
  }
}

/* 
 * Returns a simple border with the default thickness and color or using those specified.
 * @param `$border-thickness` - border thickness [default: `2px`]
 * @param `$border-color` - the color of the border [default: `$mdn-blue700`]
 */
@mixin bordered($border-thickness: 2px, $border-color: $mdn-blue700) {
  border: $border-thickness solid $border-color;
}
