@use "../vars/" as *;

/* Used with flexbox and grid. The new syntax is to use `gap`, but here
   we also provide the fallback of `grid-gap`. This is also why we need
   the stylelint-disable-line as the order is important */
@mixin gap($width: $base-spacing) {
  grid-gap: $width;
  gap: $width; /* stylelint-disable-line order/properties-alphabetical-order */
}

/*
 * A simply utility for setting a max width on an element that constrains its
 * width to what is commonly known to be a readable line length for prose.
 */
@mixin readable-line-length() {
  max-width: $max-line-length-fallback;
  max-width: 85ch;
}

/* 
 * Hide an element visually, but not from screen readers
 * Use this mixin sparingly to avoid unnecessary code bloat
 * Instead, use the class `visually-hidden` directly on the
 * relevant element or component.
 */
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  /* !important required to ensure element is hidden when mixin is applied */
  position: absolute !important; /* stylelint-disable-line declaration-no-important */
  width: 1px;
}

@mixin reset-visually-hidden {
  border: inherit;
  clip: inherit;
  height: inherit;
  margin: inherit;
  overflow: inherit;
  padding: inherit;
  position: inherit !important; /* stylelint-disable-line declaration-no-important */
  width: inherit;
}

/* A common reset for `ol` and `ul` elements  */
@mixin reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin caret-arrow($color, $direction: right, $size: 6px, $thickness: 2px) {
  border: solid $color;
  border-width: 0 $thickness $thickness 0;
  content: "";
  display: inline-block;
  height: $size;
  width: $size;

  /* stylelint-disable block-closing-brace-newline-after */
  @if ($direction == up) {
    transform: rotate(-135deg);
  } @else if ($direction == left) {
    transform: rotate(135deg);
  } @else if ($direction == down) {
    transform: rotate(45deg);
  } @else if ($direction == right) {
    transform: rotate(-45deg);
  }
}
