@media screen and (min-width: $screen-xl) {
  .table-container {
    margin: 0;
    width: 100%;
  }
  
  .bc-table-container {
    margin: 1rem 0 0;
  }

  .table-container-inner {
    padding: 0;
  }
}
