@use "sass:math";
@use "~@mdn/minimalist/sass/vars/layout";
@use "~@mdn/minimalist/sass/vars/typography";

@use "../../ui/theme/index" as theme;

.page-content-container.deep-dives {
  background-color: #f9f9fb;
  display: block;
  max-width: inherit;
  padding: 0;
}

.intro-banner {
  background-color: theme.$mdn-violet900;
  border-radius: 4px;
  color: theme.$white;
  margin: 24px 24px 0;
  padding: 18px;

  @media #{layout.$mq-small-desktop-and-up} {
    margin: 24px;
  }

  a {
    &:link,
    &:visited {
      color: theme.$white;
      font-weight: bold;
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.deep-dive-article-container {
  @include theme.readable-line-length();
  font-size: 18px;
  line-height: 175%;
  margin-bottom: layout.$base-spacing * 3;
  padding: layout.$base-spacing 16px (layout.$base-spacing * 2);
  text-align: justify;

  @media #{layout.$mq-small-desktop-and-up} {
    padding: layout.$base-spacing layout.$base-spacing
      (layout.$base-spacing * 2);
  }

  code {
    background-color: rgba(224, 224, 230, 0.5);
  }

  img {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 100%;
    text-align: left;
  }

  .main-heading-group {
    h1 {
      font-size: 36px;
      letter-spacing: -0.5px;
      text-align: left;
    }

    h2 {
      color: theme.$mdn-neutral700;
      margin-bottom: layout.$base-spacing;
      text-transform: uppercase;
    }
  }

  h3,
  h4 {
    letter-spacing: 0.5px;
  }

  h3 {
    border-left: 5px solid theme.$mdn-green500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
    padding-left: 16px;
  }

  h4 {
    font-size: 18px;
    line-height: 44px;
  }

  figcaption {
    color: theme.$mdn-neutral700;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 0;
  }

  button.ghost {
    color: theme.$mdn-neutral900;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;

    span {
      font-weight: normal;
    }
  }

  .article-lead {
    color: theme.$mdn-neutral700;
    font-size: 18px;
    line-height: 175%;
  }

  .article-sidebar {
    border: 1px solid rgba(32, 17, 57, 0.1);
    border-radius: theme.$default-border-radius;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    padding: layout.$base-spacing;

    ul {
      padding: 8px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.deep-dive-article-footer {
  background-color: theme.$mdn-violet900;
  font-weight: bold;
  padding: 0 layout.$base-spacing;

  a {
    display: block;
    padding: 32px layout.$base-spacing;

    @media #{layout.$mq-small-desktop-and-up} {
      width: 50%;
    }

    &:link,
    &:visited {
      color: theme.$white;
    }

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
      text-decoration: none;
    }
  }

  .girdle {
    margin-bottom: 0;
  }

  &.previous {
    text-align: right;

    .girdle {
      display: flex;
      justify-content: flex-end;
    }
  }

  .next-article,
  .previous-article {
    color: theme.$mdn-green400;
    display: block;
    font-size: typography.$default-font-size;
  }

  .next-article {
    &::after {
      background-color: theme.$mdn-green400;
      background-size: 16px;
      content: "";
      display: inline-block;
      height: 16px;
      margin-left: math.div(layout.$base-spacing, 4);
      mask-image: url("~@mdn/dinocons/arrows/arrow.svg");
      transform: rotate(90deg);
      vertical-align: middle;
      width: 16px;
    }
  }

  .previous-article {
    &::before {
      background-color: theme.$mdn-green400;
      background-size: 16px;
      content: "";
      display: inline-block;
      height: 16px;
      margin-right: math.div(layout.$base-spacing, 4);
      mask-image: url("~@mdn/dinocons/arrows/arrow.svg");
      transform: rotate(-90deg);
      vertical-align: sub;
      width: 16px;
    }
  }
}

.main-article-page-content-container {
  @media #{layout.$mq-small-desktop-and-up} {
    display: flex;
    gap: layout.$base-spacing;
    justify-content: space-between;
    padding: 0;

    .deep-dive-article-container {
      flex: 0 1 65%;
    }

    .series-card {
      flex: 0 1 35%;
      margin-top: layout.$base-spacing * 2;
    }
  }

  .deep-dive-article-sidebar {
    display: none;

    @media #{layout.$mq-small-desktop-and-up} {
      display: block;
      padding-right: layout.$base-spacing;
    }
  }
}

.take-survey-mobile {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 99999;

  @media #{layout.$mq-small-desktop-and-up} {
    display: none;
  }

  a.take-survey-link {
    &:link,
    &:visited {
      background: linear-gradient(to right, #8565ff, #6581ff);
      color: theme.$white;
      display: block;
      font-size: 18px;
      font-weight: bold;
      margin-top: layout.$base-spacing;
      min-height: 40px;
      padding: 20px;
      text-align: center;
    }

    &:hover,
    &:focus {
      background: theme.$mdn-violet700;
      text-decoration: none;
    }
  }
}
