@use "../../minimalist/vars/layout";

@use "../../theme/index" as theme;
@use "../../theme/themes/light-mode" as light-mode;

.article-actions {
  display: none;

  &.show-utilities {
    background-color: light-mode.$mdn-light-color-background-primary;
    color: light-mode.$mdn-light-color-text-primary;
    display: block;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: layout.$bring-to-front;
  }

  @media #{layout.$mq-small-desktop-and-up} {
    display: block;
  }

  .submenu.show {
    left: initial;
    right: -15px;
  }
}

.article-actions-entries {
  list-style: none;
  margin: 0;
  padding: 0;

  @media #{layout.$mq-small-desktop-and-up} {
    display: flex;
  }
}

.article-actions-entry {
  position: relative;
}
