@use "../../base/styles" as *;
@use "../../base/theme" as *;

.article-actions {
  display: none;

  &.show-utilities {
    background-color: $background-primary;
    color: $text-primary;
    display: block;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 9999;
  }

  @media screen and (min-width: $screen-md) {
    display: block;
  }

  .submenu.show {
    left: initial;
    right: -15px;
  }
}

.article-actions-entries {
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $screen-md) {
    display: flex;
  }
}

.article-actions-entry {
  position: relative;
}
