@use "sass:math";

@use "~@mdn/minimalist/sass/vars/layout";

@use "../../theme/index" as theme;

ul.language-toggle {
  display: flex;
  gap: math.div(layout.$base-spacing, 2);
  height: 35px;

  @media #{layout.$mq-tablet-and-up} {
    text-align: inherit;
  }

  li {
    height: 35px;
  }

  .icon {
    margin: 0;
  }

  .language-icon {
    border-radius: math.div(theme.$default-border-radius, 3);
    display: inline-block;
    height: 35px;
    width: 35px;

    &:hover,
    &:focus {
      background-color: theme.$mdn-light-grey300;
    }

    // always set min-width for the English link
    &.default {
      min-width: 100px;
    }

    &::before {
      background-color: theme.$mdn-light-grey900;
      content: "";
      display: block;
      height: 25px;
      margin: 0 auto;
      mask-image: url("~@mdn/dinocons/general/language.svg");
      padding: math.div(layout.$base-spacing, 2);
      position: relative;
      top: 4px;
      width: 25px;
    }
  }

  .view-in-english {
    display: none;

    @media #{layout.$mq-tablet-and-up} {
      display: block;
      position: relative;
      top: 3px;
    }
  }

  .show-desktop {
    display: none;

    @media #{layout.$mq-small-desktop-and-up} {
      display: inline;
    }
  }
}
