@font-face {
  font-family: "STIXTwoMath-Regular";
  font-weight: normal;
  src:
    local("STIXTwoMath-Regular"),
    url("./font/STIXTwoMath-Regular.woff2") format("woff2");
}

math {
  font-family: "STIXTwoMath-Regular";
}
