@use "../ui/vars" as *;

.home-content-container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem;
  position: relative;

  @media screen and (min-width: $screen-md) {
    display: flex;
    margin: 2rem auto;
  }
}
