@use "sass:math";

@import "~@mdn/minimalist/sass/vars/typography";

.bc-notes-wrapper {
  .bc-supports {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bc-level-yes {
  & + {
    span {
      vertical-align: middle;
      .bc-icons {
        .only-icon {
          vertical-align: middle;
        }
      }
    }
  }
}

.bc-icons {
  display: inline-block;
  .only-icon {
    vertical-align: baseline;
  }
}

.bc-icons i,
.legend-icons {
  &::before {
    background-size: 1rem * 3;
    display: inline-block;
    height: 1rem * 3;
    line-height: 1;
    margin-left: math.div(1rem, 1.2);
    margin-right: math.div(1rem, 1.5);
    width: 1rem * 3;
  }
}
