@use "sass:math";

@import "~@mdn/minimalist/sass/vars/typography";

.bc-notes-wrapper {
  .bc-supports {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bc-level-yes {
  & + {
    span {
      vertical-align: middle;
      .bc-icons {
        .only-icon {
          vertical-align: middle;
        }
      }
    }
  }
}

.bc-icons {
  display: inline-block;
  .only-icon {
    vertical-align: baseline;
    .ic-footnote {
      vertical-align: sub;
    }
  }
}

.bc-icons i,
.legend-icons {
  &::before {
    background-size: 1rem * 3;
    display: inline-block;
    height: 1rem * 3;
    line-height: 1;
    margin-left: math.div(1rem, 1.2);
    margin-right: math.div(1rem, 1.5);
    width: 1rem * 3;
  }
}

.ic-footnote {
  &::before {
    background-image: url("~@mdn/dinocons/general/asterisk.svg");
    content: "";
  }
}

.ic-non-standard {
  &::before {
    background-image: url("~@mdn/dinocons/notifications/exclamation-triangle.svg");
    content: "";
  }
}

.ic-deprecated {
  &::before {
    background-image: url("~@mdn/dinocons/emojis/thumbs-down.svg");
    content: "";
  }
}

.ic-experimental {
  &::before {
    background-image: url("~@mdn/dinocons/general/flask.svg");
    content: "";
  }
}

.ic-prefix {
  display: inline-block;
  margin-right: 5px;

  &::before {
    color: $mdn-color-dark-grey-90;
    content: "-x-";
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
  }
}

.ic-disabled {
  &::before {
    background-image: url("~@mdn/dinocons/general/flag.svg");
    content: "";
  }
}

.ic-altname {
  &::before {
    background-image: url("~@mdn/dinocons/general/fork.svg");
    content: "";
  }
}
