.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;

  &-label {
    font: var(--type-body-m);
  }
}

.main-page-content .prev-next,
.prev-next {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
