@import "~@mdn/minimalist/sass/vars/layout";

.pagination {
  @media #{$mq-small-desktop-and-up} {
    display: flex;
    justify-content: space-between;
  }

  li {
    display: inline;

    a {
      display: inline-block;
    }
  }
}
