.plus-header {
  padding-top: 2rem;
}

.plus-header h1 {
  margin-bottom: 1rem;
  font: var(--type-title-l);
}

.notification-card {
  background-color: var(--background-primary);
  padding: 0.5rem;
}
