@use "sass:math";

@use "../../../ui/vars" as *;

.document-toc {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  position: relative;

  @media screen and (max-width: $screen-sm) {
    padding: 0 1rem;
  }

  @media screen and (min-width: $screen-md) {
    margin-top: 1rem;
  }

  &-heading {
    font: var(--type-heading-h6);
    letter-spacing: 1.5px;
    padding: 2rem 0 1rem 0;
    text-transform: uppercase;
  }

  &-link {
    display: block;
    padding: 0.5rem 1rem;
    font: var(--type-body-m);
    border-left: 2px solid var(--border-primary);
    color: var(--text-primary);

    &:hover {
      color: var(--text-link);
    }

    &[aria-current] {
      color: var(--text-link);
      font-weight: 600;
      border-left: 2px solid var(--text-link);
    }
  }

  .show-toc {
    display: block;
  }
}
