@use "../../ui/vars" as *;

.ai-help {
  > header {
    --plus-header: var(--ai-help-header);
    --plus-mandala: var(--ai-help-mandala);
    --plus-icon: var(--ai-help-icon);
    --plus-link: var(--ai-help-link);
  }

  button.button[disabled],
  input[disabled] {
    cursor: not-allowed;
  }

  .ai-help-inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    .ai-help-body,
    .ai-help-footer {
      padding: 0.5rem 0;
    }

    .ai-help-body {
      flex: auto;
      overflow-y: scroll;
    }

    .ai-help-examples {
      display: flex;
      flex-direction: column;
    }

    .ai-help-example {
      border-radius: 100px;
      color: var(--text-secondary);
      display: flex;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: var(--background-secondary);
      }
    }

    .ai-help-example-icon {
      flex-shrink: 0;
      margin-right: 0.5rem;
      text-align: center;
      width: 1.1rem;
    }

    .ai-help-messages {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .ai-help-message {
      border: 1px solid transparent;
      display: flex;
      padding: 1rem;
    }

    .ai-help-message-user {
      color: var(--text-secondary);

      .avatar-wrap {
        border-radius: unset;
        height: 1.5rem;
        margin-left: unset;
        margin-right: unset;
        margin-top: 0.1rem; /* Align with text. */
        position: unset;
        width: 1.5rem;
      }
    }

    .ai-help-message-assistant {
      --icon-size: 1.5rem;
      background-color: var(--background-secondary);
      border: 1px solid var(--border-primary);
    }

    .ai-help-message-role {
      flex-shrink: 0;
      width: 2.5rem;
    }

    .ai-help-message-content {
      p {
        margin: 1rem 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    input {
      background-color: var(--background-primary);
      border: 1px solid var(--border-primary);
      border-radius: 100px;
      color: var(--text-primary);
      height: var(--form-elem-height);
      margin: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: calc(100% - 1rem);
    }
  }
}
