@use "sass:math";
@use "~@mdn/minimalist/sass/vars/layout";
@use "~@mdn/minimalist/sass/vars/typography";

@use "../ui/theme/index" as theme;

.page-content-container.deep-dives {
  background-color: theme.$mdn-neutral050;
  display: block;
  max-width: inherit;
  padding: 0;
}

.deep-dive-article-container,
.deep-dive-article-footer {
  padding: (layout.$base-spacing * 2) layout.$base-spacing;
}

.deep-dive-article-container {
  @include theme.readable-line-length();
  margin-bottom: layout.$base-spacing * 3;

  .main-heading-group {
    h1 {
      font-size: typography.$xl-font-size;
    }

    h2 {
      color: theme.$mdn-neutral700;
      font: bold typography.$small-font-size theme.$inter-font-family;
      margin-bottom: layout.$base-spacing;
      text-transform: uppercase;
    }
  }

  .article-lead {
    color: theme.$mdn-neutral700;
    font-size: typography.$small-medium-font-size;
  }

  .article-sidebar {
    border: theme.$standard-light-border;
    border-radius: theme.$default-border-radius;
    font-style: italic;
    padding: math.div(layout.$base-spacing, 2);
  }
}

.deep-dive-article-footer {
  background-color: theme.$mdn-violet900;
  font-size: typography.$small-medium-font-size;
  font-weight: bold;

  a {
    &:link,
    &:visited {
      color: theme.$white;
    }

    &:hover,
    &:focus {
      color: theme.$mdn-green400;
    }
  }

  &.previous {
    text-align: right;
  }

  .next-article,
  .previous-article {
    color: theme.$mdn-green400;
    display: block;
    font-size: typography.$default-font-size;
  }

  .next-article {
    &::after {
      background-color: theme.$mdn-green400;
      background-size: 16px;
      content: "";
      display: inline-block;
      height: 16px;
      margin-left: math.div(layout.$base-spacing, 4);
      mask-image: url("~@mdn/dinocons/arrows/arrow.svg");
      transform: rotate(90deg);
      vertical-align: middle;
      width: 16px;
    }
  }

  .previous-article {
    &::before {
      background-color: theme.$mdn-green400;
      background-size: 16px;
      content: "";
      display: inline-block;
      height: 16px;
      margin-right: math.div(layout.$base-spacing, 4);
      mask-image: url("~@mdn/dinocons/arrows/arrow.svg");
      transform: rotate(-90deg);
      vertical-align: sub;
      width: 16px;
    }
  }
}
