@use "sass:math";
@use "~@mdn/minimalist/sass/vars/layout";
@use "~@mdn/minimalist/sass/vars/typography";

@use "../../../ui/theme/index" as theme;

.byline {
  @media #{layout.$mq-tablet-and-up} {
    display: flex;
    gap: math.div(layout.$base-spacing, 2);
  }

  .author-name {
    font-family: theme.$inter-font-family;
    font-size: 16px;
  }

  .author-description {
    color: theme.$mdn-neutral700;
  }
}
