<%
let linkText = mdn.localString({
    "en-US": "Animation type",
    "es"   : "Animation type",
    "fr"   : "Type d'animation",
    "ja"   : "アニメーションの種類",
    "ko"   : "Animation type",
    "ru"   : "Animation type",
    "zh-CN": "Animation type",
    "zh-TW": "Animation type"
});
%>
<%- `<a href="/${env.locale}/docs/Web/CSS/CSS_animated_properties">${linkText}</a>` %>
