<%
// Inserts a notecards about this feature being available in Web Workers.
//
// Parameters:
//
//  $0 - workerType (optional):
//      'dedicated': only in DedicatedWorker (and in Window)
//      'dedicatedonly' only in DedicatedWorker
//      'notservice': all workers but ServiceWorker (and in Window)
//      'notservicenotwindow': all workers but ServiceWorker (and no window)
//      'service': only in ServiceWorker (and in Window)
//      'serviceonly': only in ServiceWorker
//      null: (default) All workers (and Window)
//
//
//  {{AvailableInWorkers}}
//  {{AvailableInWorkers("notservice")}}
//

const locale = env.locale;

const note = mdn.localString({
    "en-US": "Note:",
    "es": "Nota:",
    "fr": "Note:",
    "ja": "注:",
    "ko": "참고:",
    "ru": "Примечание:",
    "zh-CN": "备注：",
    "zh-TW": "備註：",
});

const textDefault = mdn.localString({
  "en-US": `This feature is available in <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Workers</a>.`,
  "zh-CN": `此特性在 <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Worker</a> 中可用。`,
  "zh-TW": `此功能可在 <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Worker</a> 中使用。`,
  "es": `Esta característica está disponible en <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Workers</a>.`,
  "fr": `Cette fonctionnalité est disponible via les <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Workers</a>.`,
  "ja": `この機能は <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Worker</a> 内で利用可能です。`,
  "ko": `이 기능은 <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Worker</a>에서 사용할 수 있습니다.`,
  "ru": `Эта возможность доступна в <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Workers</a>.`,
});

const textNotService = mdn.localString({
  "en-US": `This feature is available in <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Workers</a>, except for <a href="/${locale}/docs/Web/API/Service_Worker_API">Service Workers</a>.`,
  "zh-CN": `此特性在 <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Worker</a>（不包括 <a href="/${locale}/docs/Web/API/Service_Worker_API">Service Worker</a>）中可用。`,
  "zh-TW": `此功能可在 <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Worker</a>（不包括 <a href="/${locale}/docs/Web/API/Service_Worker_API">Service Worker</a>）中使用。`,
});

const textNotServiceNotWindow = mdn.localString({
  "en-US": `This feature is only available in <a href="/${locale}/docs/Web/API/Web_Workers_API">Web Workers</a>, except for <a href="/${locale}/docs/Web/API/Service_Worker_API">Service Workers</a>.`,
});

const textDedicated = mdn.localString({
  "en-US": `This feature is available in <a href="/${locale}/docs/Web/API/DedicatedWorkerGlobalScope">Dedicated Web Workers</a>.`,
});

const textDedicatedOnly = mdn.localString({
  "en-US": `This feature is only available in <a href="/${locale}/docs/Web/API/DedicatedWorkerGlobalScope">Dedicated Web Workers</a>.`,
});

const textService = mdn.localString({
  "en-US": `This feature is available in <a href="/${locale}/docs/Web/API/Service_Worker_API">Service Workers</a>.`,
});

const textServiceOnly = mdn.localString({
  "en-US": `This feature is only available in <a href="/${locale}/docs/Web/API/Service_Worker_API">Service Workers</a>.`,
})

const workerType = $0 || 'default';

const associatedText = {
  default: () => textDefault,
  notservice: () => textNotService,
  notservicenotwindow: () => textNotServiceNotWindow,
  dedicated: () => textDedicated,
  dedicatedonly: () => textDedicatedOnly,
  service: () => textService,
  serviceonly: () => textServiceOnly,
};

if (!associatedText[workerType]) {
  throw new Error(`'${workerType}' is not a recognized argument to this macro`);
}

const text = associatedText[workerType]();

%>

<div class="notecard note">
  <p><strong><%- note %></strong> <%- text %></p>
</div>
