<%

// Compatibility tables have been migrated to {{Compat}} which uses the
// browser-compat-data project. Remove this file when compat tables in
// translated-content are converted to {{Compat}}

// Throw a MacroDeprecatedError flaw
mdn.deprecated()

var style = "color: rgb(255, 153, 0);";

// Localizers: add your language to the switch statement below!

switch(env.locale) {
    case 'es':
        title = "Compatibilidad desconocida, por favor actualízala.";
        str = "?";
        break;
    case 'ja':
        title = "互換性は不明です。更新にご協力ください。";
        str = "?";
        break;
    case 'ru':
        title = "Совместимость неизвестна; пожалуйста, обновите информацию.";
        str = "?";
        break;
    default:
        title = "Compatibility unknown; please update this.";
        str = "?";
        break;
}
%>
<span title="<%-title%>" style="<%-style%>"><%-str%></span>
