<%

// Compatibility tables have been migrated to {{Compat}} which uses the
// browser-compat-data project. Remove this file when compat tables in
// translated-content are converted to {{Compat}}

// Throw a MacroDeprecatedError flaw
mdn.deprecated()

var text = mdn.localString({
    "en-US": "No&nbsp;support",
    "de"   : "Nicht unterstützt",
    "es"   : "Sin soporte",
    "fr"   : "Pas de support",
    "ja"   : "未対応",
    "nl"   : "Niet ondersteund",
    "pt-BR": "Não suportado",
    "ru"   : "Нет",
    "zh-CN": "未实现"
});

%><span style="color:#f00;"><%- text %></span>
