<%

let lang = env.locale;
let directive = $0;
let str = $1 || $0;
let URL = "/" + lang + '/docs/Web/HTTP/Headers/Content-Security-Policy/' + directive;
let anch = '';

if ($2) {
  str = str + '.' + $2;
  anch = '#' + $2;
}

let code = '';
let endcode = '';
if (!$3) { code = '<code>'; endcode = '</code>' }

%><a href="<%- URL+anch %>"><%- code %><%- str %><%- endcode %></a>
