<%
// Inserts an inline indicator noting that an inline item is deprecated.
//
// NOTE:    "Deprecated" means that the item should no longer be used, but
//          still functions.
//
// Parameters:
//
//   None

const title = mdn.localString({
  "en-US": "Deprecated. Not for use in new websites.",
  "ko": "지원이 중단되었습니다. 새로운 웹사이트에서 사용하지 마세요.",
  "zh-CN": "已弃用。请不要在新的网站中使用。",
  "zh-TW": "已棄用。請不要在新的網站中使用。"
});

const abbreviation = mdn.localString({
  "en-US": "Deprecated",
  "es": "Obsoleto",
  "fr": "Obsolète",
  "ja": "非推奨",
  "ko": "지원이 중단되었습니다",
  "ru": "Устарело",
  "zh-CN": "已弃用",
  "zh-TW": "已棄用"
});
%>

<abbr class="icon icon-deprecated" title="<%= title %>">
  <span class="visually-hidden"><%= abbreviation %></span>
</abbr>
