<%
// Embeds a live sample from a interactive-examples.mdn.mozilla.net GitHub page
//
// Parameters:
//  $0 - The URL of interactive-examples.mdn.mozilla.net page (relative)
//
//  Example call {{EmbedInteractiveExample("pages/css/animation.html")}}
//

const url = (new URL($0, env.interactive_examples.base_url)).toString();
// Iframe height is acquired from height-data.json file exported by interactive-examples
const heightData = await mdn.fetchInteractiveExampleHeightData();

let height;
if (heightData[$0]) {
  height = heightData[$0];
} else if ($0.includes('/js/')) {
  height = 'js';
} else {
  height = 'default';
}
const heightClass = 'is-' + height + '-height';

const text = mdn.localStringMap({
  "en-US": {
    "title": "Try it",
  },
  "fr": {
    "title": "Exemple interactif",
  },
  "ja": {
    "title": "試してみましょう",
  },
  "ko": {
    "title": "시도해보기",
  },
  "ru": {
    "title": "Интерактивный пример",
  },
  "pt-BR": {
    "title": "Experimente",
  },
  "es": {
    "title": "Pruébalo",
  },
  "zh-CN": {
    "title": "尝试一下",
  },
  "zh-TW": {
    "title": "嘗試一下",
  }
});

%>
<h2><%=text["title"]%></h2>
<iframe class="interactive <%= heightClass %>" height="200" src="<%= url %>" title="MDN Web Docs Interactive Example"></iframe>
