<%
// Embeds a live sample from a interactive-examples.mdn.mozilla.net GitHub page
//
// Parameters:
//  $0 - The URL of interactive-examples.mdn.mozilla.net page (relative)
//
//  Example call {{EmbedInteractiveExample("pages/css/animation.html")}}
//

const url = (new URL($0, env.interactive_examples.base_url)).toString();
const heights = await mdn.getInteractiveExampleHeight(url);

// We convert the heights to a string, so we can place it in the data-heights attribute, which is used by interactive-example.tsx
const heightsStr = JSON.stringify(heights || "", null, "");

const text = mdn.localStringMap({
  "en-US": {
    "title": "Try it",
  },
  "fr": {
    "title": "Exemple interactif",
  },
  "ja": {
    "title": "試してみましょう",
  },
  "ko": {
    "title": "시도해보기",
  },
  "ru": {
    "title": "Интерактивный пример",
  },
  "pt-BR": {
    "title": "Experimente",
  },
  "es": {
    "title": "Pruébalo",
  },
  "zh-CN": {
    "title": "尝试一下",
  },
  "zh-TW": {
    "title": "嘗試一下",
  }
});

if (heights) {
  // iframe is later replaced by interactive-example.tsx
%>
  <h2><%=text["title"]%></h2>
  <iframe class="interactive" height="200" src="<%= url %>" title="MDN Web Docs Interactive Example" data-heights="<%= heightsStr %>"></iframe>
<%
} else {
%>
  <div class="notecard warning">
    <p>
      Error! Height of interactive example couldn't be fetched.
    </p>
  </div>
<% } %>
