<%
//
// Inserts a badge indicating that a term or API is experimental.
//
// Parameters: none

const title = mdn.localString({
    "en-US": "Experimental. Expect behavior to change in the future.",
    "zh-CN": "实验性。预期行为可能会在未来发生变更。",
    "zh-TW": "實驗性。預期行為可能會在未來发生變更。"
});

const abbreviation = mdn.localString({
    "en-US": "Experimental",
    "zh-CN": "实验性",
    "zh-TW": "實驗性"
});
%>
<abbr class="icon icon-experimental" title="<%= title %>">
    <span class="visually-hidden"><%= abbreviation %></span>
</abbr>
