<%
/*
 * $0 - Firefox version
 * $1 - Note content
*/
mdn.deprecated();

var lang = env.locale;

var product = "Firefox";
var version = $0.split('.',2).join('.').replace(/\.0/,'');
if (product == 'Firefox OS' && $0 == '1.0.1') {
    version = $0
}

var productVersion = product + ' ' + version
var note = productVersion + " note";

switch(lang) {
    case 'es':
        note = "Nota sobre " + productVersion;
        break;
    case 'fr':
        note = "Note concernant " + productVersion;
        break;
    case 'ja':
        note = productVersion + " における注記";
        break;
    case 'ru':
        note = "Замечание по "+productVersion;
        break;
    default: break;
} %>
<div class="notecard note">
    <h4><%- note %></h4>
    <p><%- $1 %></p>
</div>

