<%
// Throw a MacroDeprecatedError flaw
// Can be removed when its usage translated-content is down to 0
mdn.deprecated();
%>

<span title="<%= await template("geckoRelease", [$0]) %>">Gecko <%=$0%></span>
