<%
async function renderRootItem(slug) {
  const [link, title] = await getPageLinkAndTitle(slug);
  return `<li><a href="${link}"><strong>${title}</strong></a></li>`
}

async function getPageLinkAndTitle(slug) {
  let link = `/${env.locale}${slug}`;
  let page = await wiki.getPage(link);
  if (!page.title && env.locale !== 'en-US') {
    link = `/en-US${slug}`;
    page = await wiki.getPage(link);
  }
  let title = page.short_title || page.title;
  title = mdn.htmlEscape(title);
  return [link, title];
}

%>

<section id="Quick_links" data-macro="GlossarySidebar">
  <ol>
    <%- await renderRootItem("/docs/Glossary") %>
    <%- await template("ListSubpagesForSidebar", ['/docs/Glossary', 1]) %>
  </ol>
</section>
