<%
// Inserts a link to a term's entry in our glossary.
//
// Parameters:
//
//  $0 - Term name
//  $1 - name to display (optional)

let str = $1 || $0;

let URL = `/${env.locale}/docs/Glossary/`;
URL += $0.replace(/\s+/g,'_');

%><a href="<%- URL %>"><%= str %></a>
