<%
/* one parameter: HTML version */

// Throw a MacroDeprecatedError flaw
// Condition for removal: no more use in translated-content (May 2022: 585 occurrences)
// 0 occurrences left in en-US
mdn.deprecated();

var link = "HTML " + $0;
var envLocale = env.locale;

if ($0 == "4") {
    link = web.link("/" + envLocale + "/docs/HTML", "HTML 4");
} else if ($0 == "5") {
    link = web.link("/" + envLocale + "/docs/HTML/HTML5", "HTML5");
}%>
<span class="badge inline html-version"><%-link%></span>
