<%
// Throw a MacroDeprecatedError flaw
// Condition for removal: no more use in translated-content
// 0 occurrences left in en-US
mdn.deprecated("This macro is deprecated; see https://github.com/orgs/mdn/discussions/347 to learn how to replace it.");
%>
<a id="attr-<%=$0%>" class="inline-block" href="#attr-<%=$0%>"><b><code><%=$0%></code></b></a>
