<%
/*
  Draws an SVG diagram to display an interface's inheritance chain

  $0 - Interface name (defaults to the interface page the macro is called on)

  Test pages

    - http://localhost:3000/en-US/docs/Web/API/SVGTextPositioningElement
    - http://localhost:3000/en-US/docs/Web/API/WheelEvent
    - http://localhost:3000/en-US/docs/Web/API/USB/connect_event
*/

const data = web.getJSONData("InterfaceData");
const href = '/' + env.locale + '/docs/Web/API/';
const mainInterfaceName = $0 || env.slug.replace('Web/API/','').split('/')[0];

let out = "";
let height = 40;
let offset = 0;
let xpos = 1;
let ypos = 1;

let inheritanceChain = [mainInterfaceName];
let inh = data[0][mainInterfaceName] != undefined ? data[0][mainInterfaceName].inh : '';

function getInheritance(inh) {
  if (inh.length > 0) {
    inheritanceChain.unshift(inh);
    if (Object.prototype.hasOwnProperty.call(data[0], inh)) {
        inh = data[0][inh].inh;
        getInheritance(inh);
    }
  }
}
getInheritance(inh);

function rectWithText(x, y, fill, interfaceName, reverse) {
  const rectWidth = interfaceName.length * 8 < 75 ? 75 : interfaceName.length * 8;
  if (reverse) {
    xpos -= rectWidth;
    x = xpos;
  } else {
    xpos += rectWidth;
  }
  return `
  <a style="text-decoration: none;" xlink:href="${href+interfaceName}">
    <rect x="${x}" y="${y}" width="${rectWidth}" height="25" fill="${fill}" stroke="#D4DDE4" stroke-width="2px" />
    <text x="${x+rectWidth/2}" y="${y+16}" font-size="10px" fill="#4D4E53" text-anchor="middle">
      ${interfaceName}
    </text>
  </a>`;
}

function lineWithTriangle(x, y, reverse) {
  let str = '';
  let polylinePoints = `${x},${y+14} ${x+10},${y+9} ${x+10},${y+19} ${x},${y+14}`;
  let linePoints = `x1="${x+10}" y1="${y+14}" x2="${x+30}" y2="${y+14}"`;

  if (reverse) {
    polylinePoints = `${x},${y+14} ${x-10},${y+9} ${x-10},${y+19} ${x},${y+14}`;
    linePoints = `x1="${x-10}" y1="${y+14}" x2="${x-30}" y2="${y+14}"`;
  }

  str += `<polyline points="${polylinePoints}" stroke="#D4DDE4" fill="none"/>`;
  x -= 10;
  str += `<line ${linePoints} stroke="#D4DDE4"/>`;

  return str;
}

function connectingLineWithTriangle() {
  out += `<polyline points="${xpos},${ypos+14} ${xpos+10},${ypos+9} ${xpos+10},${ypos+19} ${xpos},${ypos+14}" stroke="#D4DDE4" fill="none"/>`;
  xpos += 10;
  out += `<line x1="${xpos}" y1="${ypos+14}" x2="${xpos+8}" y2="${ypos+14}" stroke="#D4DDE4"/>`;
  xpos += 8;
  out += `<line x1="${xpos}" y1="${ypos+14}" x2="${xpos}" y2="${ypos+59}" stroke="#D4DDE4"/>`;
  ypos = 60;
  out += `<line x1="${xpos}" y1="${ypos}" x2="${xpos-17}" y2="${ypos}" stroke="#D4DDE4"/>`;
  xpos -= 18;
  ypos = 47
}

function drawDiagram(inheritanceChain) {
  for (let i = 0; i < inheritanceChain.length; i++) {
    const fill = (inheritanceChain[i] == mainInterfaceName) ? '#F4F7F8': '#fff';
    // we are going to the second row with a connecting line
    if (i === 4) {
      connectingLineWithTriangle()
    }
    // first row
    if (i < 4) {
      out += rectWithText(xpos, ypos, fill, inheritanceChain[i]);
      if (i != inheritanceChain.length - 1 && i != 3) {
        out += lineWithTriangle(xpos, ypos);
        xpos += 30;
      }
    // second row
    } else {
      height = 80; // need more space
      if (i > 5) {
        offset = 200; // in case of a really long chain, like SVGTextPositioningElement
      }
      out += rectWithText(xpos, ypos, fill, inheritanceChain[i], true);
      if (i != inheritanceChain.length - 1 && i != 3) {
        out += lineWithTriangle(xpos, ypos, true);
        xpos -= 30;
      }
    }
  }
}

drawDiagram(inheritanceChain);

let output = `<svg viewbox="-${offset} 0 650 ${height}" preserveAspectRatio="xMinYMin meet">`;
output += out;
output +='</svg>';

%>
<%-output%>
