<%
/* one parameter: SpiderMonkey version */

/* get the page language */
var lang = env.locale;
var link = '';

link = web.link(wiki.uri(lang + '/docs/SpiderMonkey/' + $0), 'SpiderMonkey ' + $0);

var str = 'This article covers features introduced in ' + link;

switch(lang) {
    case 'ja':
        str = 'この記事は ' + link + ' の新機能について書かれています。';
        break;
    case 'ru':
        str = 'Эта статья покрывает возможности, представленные в  ' + link;
        break;
}


%><div class="notecard note">
    <h4>Note</h4>
    <p><%- str %></p>
</div>
