// This macro is no more used. Use a regular Markdown link instead.
// Remove this file when there are no more {{manch}} calls in translated-content
// See also https://github.com/mdn/content/pull/13802
// Throw a MacroDeprecatedError flaw
mdn.deprecated()

<code><a href="<%-page.uri + '#' + $0 + '()'%>"><%-$0%>()</a></code>
