<%

var title = mdn.localString({
  "en-US": "Non-standard",
  "es":    "No estándar",
  "fr":    "Non standard",
  "ja":    "非標準",
  "ko":    "비표준",
  "ru":    "Не стандартно",
  "zh-CN": "非标准",
  "zh-TW": "非標準"
});

var description = mdn.localString({
  "en-US": "We do not recommend using this feature on production sites facing the web because it will not work for every user.",
  "es": "No recomendamos usar esto en sitios de producción que estén en la Web, ya que no funcionará para todos los usuarios.",
  "fr": "Nous ne recommandons pas d'utiliser ceci sur des sites de production accessibles sur le Web, car cela ne fonctionnera pas pour chaque utilisateur.",
  "ja": "これを Web に面した本番サイトで使用することはお勧めしません。すべてのユーザーに対して機能するわけではありません。",
  "ko": "웹을 향한 프로덕션 사이트에서 이를 사용하는 것을 권장하지 않습니다. 모든 사용자에게 작동하지 않을 것입니다.",
  "pt-BR": "Não recomendamos usar isso em sites de produção voltados para a Web, pois não funcionará para todos os usuários.",
  "ru": "Мы не рекомендуем использовать это на производственных сайтах, работающих в Интернете, так как это не будет работать для каждого пользователя.",
  "zh-CN": "我们不建议在面向 Web 的生产站点上使用它，因为它不会对每个用户都有效。",
  "zh-TW": "我們不建議在面向 Web 的生產站點上使用它，因為它不會對每個用戶都有效。",
});


%>
<div class="notecard nonstandard">
  <h4><%-title%></h4>
  <p><%-description%></p>
</div>
