<%

var title = mdn.localString({
  "en-US": "Non-standard",
  "es":    "No estándar",
  "fr":    "Non standard",
  "ja":    "非標準",
  "ko":    "비표준",
  "ru":    "Не стандартно",
  "zh-CN": "非标准",
  "zh-TW": "非標準"
});

var description = mdn.localString({
  "en-US": "We do not recommend using this feature on production sites facing the web because it will not work for every user.",
  "es": "No recomendamos usar esta función en sitios de producción que estén en la web porque no funcionará para todos los usuarios.",
  "fr": "Nous ne recommandons pas d'utiliser cette fonctionnalité sur des sites de production face au web car elle ne fonctionnera pas pour tous les utilisateurs.",
  "ja": "この機能をウェブに面した本番サイトで使用することはお勧めしません。すべてのユーザーに対応するわけではないからです。",
  "ko": "이 기능을 웹에 공개된 프로덕션 사이트에서 사용하는 것은 권장하지 않습니다. 모든 사용자에게 작동하지 않을 수 있기 때문입니다.",
  "pt-BR": "Não recomendamos usar este recurso em sites de produção na web, pois ele não funcionará para todos os usuários.",
  "ru": "Мы не рекомендуем использовать эту функцию на продукционных сайтах, доступных через веб, так как она не будет работать для каждого пользователя.",
  "zh-CN": "我们不建议在面向 web 的生产站点上使用此特性，因为它不会对每个用户都有效。",
  "zh-TW": "我們不建議在面向 web 的生產站點上使用此功能，因為它不會對每個用戶都有效。",
});


%>
<div class="notecard nonstandard">
  <h4><%-title%></h4>
  <p><%-description%></p>
</div>
