<% /* Inserts a badge indicating a term or API is non-standard.

    Parameters:
        $0  If specified and non-zero, a small badge is displayed.

*/

var titleAttrValue = mdn.localString({
    "ca": "This API has not been standardized.",
    "cs": "This API has not been standardized.",
    "de": "This API has not been standardized.",
    "el": "This API has not been standardized.",
    "es": "This API has not been standardized.",
    "fa": "This API has not been standardized.",
    "fi": "This API has not been standardized.",
    "fr": "Cette API n'a pas été standardisée.",
    "he": "This API has not been standardized.",
    "hr": "This API has not been standardized.",
    "hu": "This API has not been standardized.",
    "id": "This API has not been standardized.",
    "it": "This API has not been standardized.",
    "ja": "この API は標準化されていません。",
    "ka": "This API has not been standardized.",
    "ko": "This API has not been standardized.",
    "ms": "This API has not been standardized.",
    "nl": "This API has not been standardized.",
    "pl": "This API has not been standardized.",
    "ro": "This API has not been standardized.",
    "ru": "Это API не было стандартизировано.",
    "sq": "This API has not been standardized.",
    "th": "This API has not been standardized.",
    "tr": "This API has not been standardized.",
    "vi": "This API has not been standardized.",
    "bn-BD": "This API has not been standardized.",
    "fy-NL": "This API has not been standardized.",
    "ga-IE": "This API has not been standardized.",
    "pt-BR": "This API has not been standardized.",
    "pt-PT": "This API has not been standardized.",
    "zh-CN": "This API has not been standardized.",
    "zh-TW": "This API has not been standardized.",
    "en-US": "This API has not been standardized."
});
%>
<svg class="icon experimental" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
    role="img">
    <title><%=titleAttrValue%></title>
    <path
        d="M50 92.5H6.09a4.47 4.47 0 01-3.87-6.71l22-38 22-38a4.46 4.46 0 017.74 0l22 38 22 38a4.47 4.47 0 01-3.87 6.71z" />
    <path
        d="M57.41 78.1A7.41 7.41 0 1150 70.7a7.39 7.39 0 017.41 7.4zm-2.14-14.89H44.81l-1.72-36h13.82z"
        fill="#fff" />
</svg>
