<%
/* Inserts a badge indicating a term or API is non-standard.

    Parameters: none

*/

const title = mdn.localString({
    "de": "Kein Standard. Überprüfen Sie die Unterstützung in verschiedenen Browsern, bevor Sie es verwenden.",
    "en-US": "Non-standard. Check cross-browser support before using.",
    "ko": "비표준. 사용하기전에 다른 브라우저에서도 사용 가능한지 확인 해주세요.",
    "zh-CN": "非标准。请在使用前检查跨浏览器支持。",
    "zh-TW": "非標準。請在使用前檢查跨瀏覽器支援。"
});

const abbreviation = mdn.localString({
    "de": "Nicht standardisiert",
    "en-US": "Kein Standard",
    "ko": "비표준",
    "zh-CN": "非标准",
    "zh-TW": "非標準"
});
%>
<abbr class="icon icon-nonstandard" title="<%= title %>">
    <span class="visually-hidden"><%= abbreviation %></span>
</abbr>
