<%
/* Inserts a badge indicating a term or API is non-standard.

    Parameters: none

*/

var title = mdn.localString({
    "en-US": "Non-standard. Check cross-browser support before using.",
    "zh-CN": "非标准的。请在使用前检查跨浏览器支持。",
    "zh-TW": "非標準的。請在使用前檢查跨瀏覽器支援。"
});
%>
<abbr class="icon icon-nonstandard" title="<%= title %>">
    <span class="visually-hidden">Non-Standard</span>
</abbr>
