<%
// Inserts a badge marking an API or term as being obsolete.
//
// Parameters:
//  $0  If specified, the badge is "small"

var titleAttrValue = mdn.localString({
    "ca": "This is an obsolete API and is no longer guaranteed to work.",
    "cs": "This is an obsolete API and is no longer guaranteed to work.",
    "de": "Dies ist eine veraltete API und es wird nicht mehr garantiert, dass sie funktioniert.",
    "el": "This is an obsolete API and is no longer guaranteed to work.",
    "es": "This is an obsolete API and is no longer guaranteed to work.",
    "fa": "This is an obsolete API and is no longer guaranteed to work.",
    "fi": "This is an obsolete API and is no longer guaranteed to work.",
    "fr": "This is an obsolete API and is no longer guaranteed to work.",
    "he": "This is an obsolete API and is no longer guaranteed to work.",
    "hr": "This is an obsolete API and is no longer guaranteed to work.",
    "hu": "This is an obsolete API and is no longer guaranteed to work.",
    "id": "This is an obsolete API and is no longer guaranteed to work.",
    "it": "This is an obsolete API and is no longer guaranteed to work.",
    "ja": "これは廃止された API であり、動作は保証されていません。",
    "ka": "This is an obsolete API and is no longer guaranteed to work.",
    "ko": "This is an obsolete API and is no longer guaranteed to work.",
    "ms": "This is an obsolete API and is no longer guaranteed to work.",
    "nl": "This is an obsolete API and is no longer guaranteed to work.",
    "pl": "This is an obsolete API and is no longer guaranteed to work.",
    "ro": "This is an obsolete API and is no longer guaranteed to work.",
    "ru": "Этот API вышел из употребления и его работа больше не гарантируется.",
    "sq": "This is an obsolete API and is no longer guaranteed to work.",
    "th": "This is an obsolete API and is no longer guaranteed to work.",
    "tr": "This is an obsolete API and is no longer guaranteed to work.",
    "vi": "This is an obsolete API and is no longer guaranteed to work.",
    "bn-BD": "This is an obsolete API and is no longer guaranteed to work.",
    "fy-NL": "This is an obsolete API and is no longer guaranteed to work.",
    "ga-IE": "This is an obsolete API and is no longer guaranteed to work.",
    "pt-BR": "This is an obsolete API and is no longer guaranteed to work.",
    "pt-PT": "This is an obsolete API and is no longer guaranteed to work.",
    "zh-CN": "This is an obsolete API and is no longer guaranteed to work.",
    "zh-TW": "This is an obsolete API and is no longer guaranteed to work.",
    "en-US": "This is an obsolete API and is no longer guaranteed to work."
});
%>
<svg class="icon obsolete" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
    role="img">
    <title><%=titleAttrValue%></title>
    <path
        d="M38.75 78.13V36.88A1.85 1.85 0 0036.88 35h-3.75a1.85 1.85 0 00-1.88 1.88v41.25A1.85 1.85 0 0033.13 80h3.75a1.85 1.85 0 001.87-1.87zm15 0V36.88A1.85 1.85 0 0051.88 35h-3.75a1.85 1.85 0 00-1.88 1.88v41.25A1.85 1.85 0 0048.13 80h3.75a1.85 1.85 0 001.87-1.87zm15 0V36.88A1.85 1.85 0 0066.88 35h-3.75a1.85 1.85 0 00-1.88 1.88v41.25A1.85 1.85 0 0063.13 80h3.75a1.85 1.85 0 001.87-1.87zM36.88 20h26.25l-2.82-6.85a2.35 2.35 0 00-1-.65H40.74a2 2 0 00-1 .65zm54.37 1.88v3.75a1.85 1.85 0 01-1.87 1.87h-5.63v55.55c0 6.44-4.22 12-9.37 12H25.63c-5.16 0-9.38-5.27-9.38-11.72V27.5h-5.62a1.85 1.85 0 01-1.88-1.83v-3.8A1.85 1.85 0 0110.63 20h18.1l4.1-9.78A9.12 9.12 0 0140.63 5h18.75a9.1 9.1 0 017.79 5.22l4.1 9.78h18.11a1.85 1.85 0 011.87 1.87z" />
</svg>
