<% 
/*
parameters:
    $0: string of indicator
*/


var str = mdn.localString({
    "en-US": "Optional" + ($1 ? ' from Gecko ' + $1 : ''),
    "fr": "Facultatif" + ($1 ? ' depuis Gecko ' + $1 : ''),
    "ja": "省略可" + ($1 ? '(Gecko ' + $1 + ' 以降)' : ''),
    "ru": "Необязательный" + ($1 ? ' с версии Gecko ' + $1 : ''),
    "zh-CN": "可选" + ($1 ? '试用于Gecko ' + $1 : ''),
    "zh-TW": ($1 ? '自 Gecko ' + $1 + '開始變為' : '') + "選擇性",
    "es": "Opcional" + ($1 ? ' desde Gecko ' + $1 : ''),
});

%>

<span class="badge inline optional"><%- str %></span>
