<%
/* $0 = the URL of the previous page */
/* $1 = the title of the previous page */

// Throw a MacroDeprecatedError flaw
// Condition for removal: no more use in translated-content (May 2022: 39 occurrences)
// 0 occurrences left in en-US
mdn.deprecated();

var s_text = mdn.localString({
  "en-US": "Go to Previous Section:",
  "fr": "Retourner à la section précédente :",
  "ja": "前の章:",
  "de": "Zurück zur vorherigen Seite:",
  "ru": "Перейти к предыдущему разделу:"
});

var result = '<a class="button neutral previousPage" rel="prev" href="' + $0 + '" title="' + $1 +'">' + s_text + '<br />' + $1 + '</a>';


%><%- result %>
