<%
var str = mdn.localString({
    "en-US": "Read only ",
    "fr": "Lecture seule ",
    "ja": "読取専用 ",
    "ko": "읽기 전용",
    "pt-BR": "Somente leitura ",
    "ru": "Только для чтения ",
    "zh-CN": "只读 "
});

var title = mdn.localString({
    "en-US": "This value may not be changed.",
    "fr": "Cette valeur ne peut pas être changée.",
    "ko": "이 값은 변경 할 수 없습니다.",
    "pt-BR": "Este valor não pode ser alterado.",
    "ru": "Это значение изменять нельзя.",
    "zh-CN": "该属性的值无法更改",
});
%>
<span class="badge inline readonly" title="<%= title %>"><%= str %></span>
