<%
// Macro for inserting a block secure context header notice, i.e. to mark a
// feature as only available on secure contexts. See the following page:
// https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts

var lang = env.locale;

var str_title = mdn.localString({
  "de"   : "Sicherer Kontext",
  "en-US": "Secure context",
  "es"   : "Contexto seguro",
  "fr"   : "Contexte sécurisé",
  "ja"   : "安全なコンテキスト用",
  "ko"   : "보안 컨텍스트",
  "zh-CN": "安全上下文"
});

var str_desc = mdn.localString({
  "de"   : "Diese Funktion ist nur in <a href='/" + lang + "/docs/Web/Security/Secure_Contexts'>sicheren Kontexten</a> (HTTPS) in einigen oder allen <a href='#browser-kompatibilität'>unterstützenden Browsern</a> verfügbar.",
  "en-US": "This feature is available only in <a href='/" + lang + "/docs/Web/Security/Secure_Contexts'>secure contexts</a> (HTTPS), in some or all <a href='#browser_compatibility'>supporting browsers</a>.",
  "es"   : "Esta función está disponible solo en <a href='/" + lang + "/docs/Web/Security/Secure_Contexts'>contextos seguros</a> (HTTPS), en algunos o todos los <a href='#browser_compatibility'>navegadores que lo soportan</a>.",
  "fr"   : "Cette fonctionnalité est uniquement disponible dans des <a href='/" + lang + "/docs/Web/Security/Secure_Contexts'>contextes sécurisés</a> (HTTPS), pour certains <a href='#compatibilité_des_navigateurs'>navigateurs qui la prennent en charge</a>.",
  "ja"   : "この機能は一部またはすべての<a href='#browser_compatibility'>対応しているブラウザー</a>において、<a href='/" + lang + "/docs/Web/Security/Secure_Contexts'>安全なコンテキスト</a> (HTTPS) でのみ利用できます。",
  "ko"   : "이 기능은 일부 또는 모든 <a href='#브라우저_호환성'>지원 브라우저</a>의 <a href='/" + lang + "/docs/Web/Security/Secure_Contexts'>보안 컨텍스트</a> (HTTPS)에서만 사용할 수 있습니다.",
  "zh-CN": "此项功能仅在一些<a href='#浏览器兼容性'>支持的浏览器</a>的<a href='/" + lang + "/docs/Web/Security/Secure_Contexts'>安全上下文</a>（HTTPS）中可用。"
});

%>

<div class="notecard secure"><h4><%-str_title%></h4><p><%-str_desc%></p></div>
