<%
/* parameters: */
/* $0 = name of specification */
mdn.deprecated();

var specList = web.getJSONData("SpecData");

var status = {};

Object.keys(specList).forEach(function(name) {
  status[name] = specList[name].status;
});

status['CSS3 2D Transforms'] = status['CSS3 Transforms'];
status['CSS3 3D Transforms'] = status['CSS Transforms 2'];
status['CSS3 Flexbox'] = status['CSS Flexbox'];
status['CSS3 Grid'] = status['CSS Grid'];
status['CSS3 UI'] = status['CSS3 Basic UI'];
status['CSS4 UI'] = status['CSS4 Basic UI'];
status['CSS Scroll Snap Points'] = status['CSS Scroll Snap'];
status['WebSMS'] = status['Messaging'];
status['Blending'] = status['Compositing'];
status['ES2015'] = status['ES6'];
status['ES7'] = status['ES2016'];
status['ES8'] = status['ES2017'];

var label = {
  'REC': mdn.localString({
    'en-US' : 'Recommendation',
    'fr'    : 'Recommendation',
    'ja'    : '勧告',
    'ko'    : '권고안',
    'pt-BR' : 'Recomendação',
    'ru'    : 'Рекомендация'
  }),
  'PR' : mdn.localString({
    'en-US' : 'Proposed Recommendation',
    'fr'    : 'Recommendation proposée',
    'ja'    : '勧告案',
    'ko'    : '제안 권고안',
    'pt-BR' : 'Recomendação proposta',
    'ru'    : 'Предложенная рекомендация'
  }),
  'CR' : mdn.localString({
    'en-US' : 'Candidate Recommendation',
    'fr'    : 'Candidat au statut de recommandation',
    'ja'    : '勧告候補',
    'ko'    : '후보 권고안',
    'pt-BR' : 'Candidata a Recomendação',
    'ru'    : 'Кандидат в рекомендации'
  }),
  'RC' : mdn.localString({
    'en-US' : 'Release Candidate',
    'fr'    : 'En cours de validation comme recommandation',
    'ja'    : 'リリース候補',
    'ko'    : '최종 후보',
    'pt-BR' : 'Recomendação em homologação',
    'ru'    : 'Кандидат в рекомендации'
  }),
  'WD' : mdn.localString({
    'en-US' : 'Working Draft',
    'fr'    : 'Version de travail',
    'ja'    : '草案',
    'ko'    : '초안',
    'pt-BR' : 'Rascunho atual',
    'ru'    : 'Рабочий черновик'
  }),
  'ED' : mdn.localString({
    'en-US' : 'Editor\'s Draft',
    'fr'    : 'Brouillon de l\'éditeur',
    'ja'    : '編集者草案',
    'ko'    : '작성 중 초안',
    'pt-BR' : 'Rascunho editorial',
    'ru'    : 'Редакторский черновик'
  }),
  'Old-Transforms' : mdn.localString({
    'en-US' : 'This has been merged in another draft. Please update.',
    'fr'    : 'Cette spécification a été fusionnée avec une autre. Veuillez mettre à jour cette mention.',
    'ja'    : 'この仕様は他のドラフトへ移動されました。アップデートしてください。',
    'ko'    : "다른 초안과 합쳐졌습니다. 업데이트 하세요.",
    'pt-BR' : 'Isso foi anexado a outro rascunho. Por favor, atualize.',
    'ru'    : 'Эта спецификация была слита с другим черновиком. Пожалуйста, обновите.'
  }),
  'Living' : mdn.localString({
    'en-US' : 'Living Standard',
    'fr'    : 'Standard évolutif',
    'ja'    : '現行の標準',
    'pt-BR' : 'Padrão em tempo real',
    'ru'    : 'Живой стандарт'
  }),
  'RFC' : mdn.localString({
    'en-US'   : 'IETF RFC'
  }),
  'Standard' : mdn.localString({
    'en-US' : 'Standard',
    'fr'    : 'Standard',
    'ja'    : '標準',
    'ko'    : '표준',
    'pt-BR' : 'Padrão',
    'ru'    : 'Стандарт'
  }),
  'Draft'  : mdn.localString({
    'en-US' : 'Draft',
    'fr'    : 'Projet',
    'ja'    : 'ドラフト',
    'ko'    : '초안',
    'pt-BR' : 'Rascunho',
    'ru'    : 'Черновик',
  }),
  'Obsolete' : mdn.localString({
      'en-US' : 'Obsolete',
      'ja'    : '廃止',
      'ko'    : '폐기됨',
      'pt-BR' : 'Obsoleto',
      'ru'    : 'Устаревшая'
  }),
  'LC' : mdn.localString({
      'en-US' : 'Last Call Working Draft',
      'ja'    : '最終草案',
      'ko'    : '최종 초안',
      'pt-BR' : 'Ultima chamada para rascunho',
      'ru'    : 'Последнее изменение рабочего черновика'
  })
}

var unknown_label = mdn.localString({
    'en-US' : 'Unknown',
    'fr'    : 'Statut inconnu',
    'ja'    : '不明',
    'ko'    : '알 수 없음',
    'pt-BR' : 'Desconhecido',
    'ru'    : 'Неизвестно'
});

%>
<span class="spec-<%- status[$0] && status[$0].toLowerCase() || ''  %>"><%= (status[$0] && label[status[$0]]) || unknown_label %></span>
