<%
//    Outputs a link to an SVG element's reference page.
//
//    Parameters:
//        $0  SVG element name

let slug = {
    'en-US': "Element"
};

let URL = "/" + env.locale + "/docs/Web/SVG/" + mdn.localString(slug) + "/" + $0;
let localStrings = string.deserialize(await template("L10n:Common"));

// Gather the page summary

let term = $0;
let page = await wiki.getPageByURL(URL);

%>
<a href="<%- URL %>"<%- wiki.pageExists(URL) ? '' : ' class="new"' %>><code>&lt;<%= term %>&gt;</code></a>
