<%
/**
 * This template allow to make a quick link to the page listing the content with a given tag
 * 
 * @param 
 *  The tag to link to
 * @param [optional]
 *  The locale to link to (by default it's the same locale as the current page)
 */
 
// Throw a MacroDeprecatedError flaw
// Condition for removal: no more use in translated-content (May 2022: 593 occurrences)
// 0 occurrences left in en-US
mdn.deprecated();

 var lang = $1 || env.locale
 var url = '/' + lang + '/docs/tag/' + encodeURI($0);

%><a href="<%- url %>" hreflang="<%- lang %>" rel="tag"><%= $0 %></a>
