<%
// This macro is a simple link wrapper and should be replaced with
// `[WebKit bug <bug_id>](https://webkit.org/b/<bug_id>)`
// Condition for removal: no more use in any content (Feb 2023: 18 occurrences)
// 4 occurrences left in en-US
mdn.deprecated();

var bugPageURL = 'https://bugs.webkit.org/show_bug.cgi?id=' + $0;
var s = "";
var linkLabel = mdn.replacePlaceholders(mdn.localString({
    "en-US": "WebKit bug $1$",
    "ko": "WebKit 오류 $1$",
    "ru": "Баг WebKit $1$"
}), [$0]);

%>
<a rel="external" href="<%= bugPageURL %>" class="external" title="<%= s %>"><%= linkLabel %></a>
