<%
var bugPageURL = 'https://bugs.webkit.org/show_bug.cgi?id=' + $0;
var s = "";
var linkLabel = mdn.replacePlaceholders(mdn.localString({
    "en-US": "WebKit bug $1$",
    "de": "WebKit Bug $1$",
    "ca": "WebKit errada $1$",
    "cs": "WebKit chyba $1$",
    "pl": "WebKit błąd $1$",
    "ru": "Баг WebKit $1$",
}), [$0]);

%>
<a rel="external" href="<%= bugPageURL %>" class="external" title="<%= s %>"><%= linkLabel %></a>
