<%
let linkText = mdn.localString({
    "en-US": "Inherited",
    "de"   : "Vererbt",
    "es"   : "Heredable",
    "fr"   : "Héritée",
    "ja"   : "継承",
    "ko"   : "상속",
    "pl"   : "Dziedziczona",
    "zh-CN": "是否是继承属性",
    "zh-TW": "繼承與否",
    "ru"   : "Наследуется"
});
%>
<%- `<a href="/${env.locale}/docs/Web/CSS/inheritance">${linkText}</a>` %>
