<%
let linkText = mdn.localString({
    "en-US": "Computed value",
    "es"   : "Valor calculado",
    "fr"   : "Valeur calculée",
    "ja"   : "計算値",
    "ko"   : "계산 값",
    "ru"   : "Обработка значения",
    "zh-CN": "计算值"
});
%>
<%- `<a href="/${env.locale}/docs/Web/CSS/computed_value">${linkText}</a>` %>
