<%
let linkText = mdn.localString({
    "en-US": "Computed value",
    "de"   : "Berechneter Wert",
    "es"   : "Valor calculado",
    "fr"   : "Valeur calculée",
    "ja"   : "計算値",
    "pl"   : "Wartość wyliczona",
    "zh-CN": "计算值",
    "ru"   : "Обработка значения"
});
%>
<%- `<a href="/${env.locale}/docs/Web/CSS/computed_value">${linkText}</a>` %>
