<%
// Inserts a link to the XUL Reference page for the specified element.
//
// Parameters:
//
//  $0 - Element name

// Throw a MacroDeprecatedError flaw
// Condition for removal: no more use in translated-content (May 2022: 45 occurrences)
// 0 occurrences left in en-US
mdn.deprecated();

var lang = env.locale;

var url = "/" + lang + '/docs/Mozilla/Tech/XUL/' + $0;

%><code><a href="<%=url%>">&lt;xul:<%=$0%>&gt;</a></code>
