@use "../../base/styles" as *;
@use "../../base/theme" as *;

.document-page {
  .page-header,
  .generic-loading,
  .article-actions-container,
  .localized-content-note,
  .document-toc-container,
  .main-content,
  .sidebar,
  .metadata {
    display: flex;
  }

  .main-content,
  .sidebar {
    flex-direction: column;
  }

  /* Contains the sidebar and article content */
  .article-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $screen-xl) {
        flex-direction: row-reverse;
      }

      .toc {
        width: 100%;

        @media screen and (min-width: $screen-xl) {
          .document-toc-container {
            position: sticky;
            top: 1rem;
          }
        }
      }
    }
  }
}
