@use "../../base/styles" as *;

.user-menu {
  position: relative;

  .user-menu-toggle {
    align-items: center;
    background: none;
    border-radius: 50%;
    color: var(--text-secondary);
    display: flex;
    margin: 0.25rem;
    padding: 0;
    position: relative;
    width: 100%;

    @media screen and (min-width: $screen-md) {
      border: 5px solid white;
    }

    &[aria-haspopup="menu"] {
      &::after {
        position: absolute;
        right: 0;
      }
    }

    @media screen and (min-width: $screen-md) {
      &:focus {
        box-shadow: var(--focus-01);
      }
    }
  }
}

.submenu.my-mdn-plus.show {
  @media screen and (min-width: $screen-md) {
    left: initial;
    right: 0;
    top: 50px;
  }

  a,
  .usermenu-email-desktop {
    padding: 0.5rem;
  }

  .usermenu-email-desktop {
    border-bottom: 1px solid var(--border-primary);
  }

  .submenu-item-heading {
    font-weight: normal;
  }
}

.show-desktop-inline-block {
  display: none;

  @media screen and (min-width: $screen-md) {
    display: inline-block;
  }
}

@media screen and (min-width: $screen-md) {
  .hide-desktop {
    display: none;
  }
}
