@use "../../vars" as *;

.user-menu {
  position: relative;

  .user-menu-toggle {
    &[aria-haspopup="menu"] {
      &::after {
        position: absolute;
        right: 0;
      }
    }
  }
}

.submenu.my-mdn-plus.show {
  @media screen and (min-width: $screen-md) {
    left: initial;
    right: 0;
    top: 50px;
  }

  a,
  .usermenu-email-desktop {
    padding: 0.5rem;
  }

  .usermenu-email-desktop {
    border-bottom: 1px solid var(--border-primary);
  }

  .submenu-item-heading {
    font-weight: normal;
  }
}

.show-desktop-inline-block {
  display: none;

  @media screen and (min-width: $screen-md) {
    display: inline-block;
  }
}

@media screen and (min-width: $screen-md) {
  .hide-desktop {
    display: none;
  }
}
