@use "../../vars" as *;

.user-menu {
  position: relative;

  .submenu-header {
    display: none;
  }

  @media screen and (max-width: $screen-md) {
    .user-menu-toggle:hover {
      --button-bg: transparent;
    }
  }

  @media screen and (min-width: $screen-md) {
    /*
      The user menu button is shaped like an avatar and thus has some
      very specific focus and hover states.
    */
    .button.user-menu-toggle {
      &:hover,
      &:focus {
        &,
        .button-wrap {
          --button-border-color: transparent;
          background: transparent;
          box-shadow: none;
        }

        .avatar {
          box-shadow: var(--focus-effect);
        }
      }

      &::after {
        display: none;
      }
    }

    .submenu-header {
      display: block;
      margin-bottom: 0.5rem;
    }

    .signout-container {
      margin-top: 0.5rem;
    }

    .user-menu-id {
      display: none;
    }

    .submenu {
      left: initial;
      max-width: max-content;
      right: 0;
    }
  }
}
