@use "../../vars" as *;

.top-navigation-main {
  display: none;
  justify-content: space-between;
  left: 0;
  padding: 1rem var(--gutter);
  position: absolute;
  top: var(--top-nav-height);
  width: 100%;
  z-index: var(--z-index-top);

  &.is-open {
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column-reverse;
  }

  .toggle-search-button {
    display: none;
  }

  @media screen and (min-width: $screen-md) {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    left: inherit;
    padding: 0;
    position: initial;
    top: inherit;
    z-index: inherit;
  }

  .top-navigation-actions {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 0.5rem;
    font: var(--type-emphasis-m);

    @media screen and (min-width: $screen-md) {
      flex-direction: initial;
    }
  }
}
