@use "../../vars" as *;

.top-navigation-main {
  background-color: var(--background-primary);
  display: none;
  justify-content: space-between;
  padding: 1rem var(--gutter);
  width: 100%;

  .is-open & {
    display: flex;
    flex-direction: column-reverse;
  }

  .toggle-search-button {
    display: none;
  }

  .top-level-entry-container {
    position: relative;
  }

  .top-level-entry {
    display: block;
    background: none;
    border-top: 1px solid var(--border-secondary);
    color: var(--text-secondary);
    cursor: pointer;
    padding: 1rem 0.5rem;
    text-align: left;
    width: 100%;

    &:link,
    &:visited {
      color: var(--text-secondary);
    }

    @media screen and (min-width: $screen-md) {
      border-top: none;
      border-radius: 0.25rem;
      padding: 0.5rem;

      &:hover,
      &:focus {
        background-color: var(--accent-primary-engage);
        color: var(--accent-primary);
        text-decoration: none;
      }
    }
  }

  .menu-toggle {
    position: relative;
  }

  .menu-toggle:after {
    content: "";
    display: block;
    position: absolute;
    right: 0.5rem;
    top: calc(50% - (var(--icon-size) / 2));
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--icon-primary);

    mask-image: url("../../../assets/icons/chevron.svg");
  }

  .menu-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }

  .menu-toggle + .top-level-entry {
    display: none;
  }

  .top-navigation-actions {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 0.5rem;
    font: var(--type-emphasis-m);
  }

  .top-navigation-actions .header-search {
    max-width: 100%;
    width: 340px;
  }

  @media screen and (min-width: $screen-md) {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 0.5rem;
    left: inherit;
    padding: 0;
    position: initial;
    top: inherit;
    z-index: inherit;

    .menu-toggle {
      display: none;
    }

    .menu-toggle + .top-level-entry {
      display: inline-flex;
    }

    .top-navigation-actions {
      flex-direction: initial;
    }

    .is-open & {
      flex-direction: row;
    }

    .toggle-search-button {
      display: inline-block;
    }
  }
}

.top-navigation-main.search-open {
  .auth-container {
    display: none;
  }
}
