@use "../../ui/vars" as *;

:host {
  display: block;
}

.editor {
  height: 100%;

  .cm-editor {
    height: 100%;
    width: 100%;

    @media (max-width: $screen-sm) {
      font-size: 1rem;
    }
  }
}
