@use "../../ui/vars" as *;
@use "../../ui/mixins" as *;

.collections-overview {
  padding: 1rem 0;

  > header {
    padding: 1rem 0;

    &.container {
      display: block;

      .collections-hero {
        background: linear-gradient(
          270deg,
          rgba(232, 8, 64, 0.05) 0%,
          rgba(232, 8, 64, 0.3) 100%
        );
        /* Light/Color/Icon/Critical */
        display: grid;
        grid-template-rows: fit-content(12rem);
        margin: 1rem;

        .collections-hero-cta {
          grid-column: 1;
          grid-row: 1;
          padding: 1rem;

          h1 {
            font-size: 1.25rem;
            margin-right: 1rem;
          }

          p {
            --text-link: var(--html-code-color);
            display: block;
            max-width: 80%;

            @media screen and (max-width: $screen-md) {
              max-width: 100%;
            }
          }
        }
      }

      .mandala-wrapper {
        grid-column: 1;
        grid-row: 1;
        overflow: hidden;
        top: 0;
        width: 100%;

        .mandala-container {
          --mandala-primary: var(--text-secondary);
        }

        .mandala-translate {
          @media screen and (max-width: $screen-md) {
            display: none;
          }

          @media screen and (min-width: $screen-md) {
            transform: scale(0.95) translate(24rem, -15.4rem);
          }
        }
      }

      > * {
        margin-bottom: 1rem;
      }
    }

    .exit {
      flex: 100%;
      margin-top: -1rem;
    }

    h1 {
      font-size: 20px;
      margin-right: 1rem;
    }

    .count {
      color: var(--text-secondary);
    }

    p {
      color: var(--text-secondary);
      margin-top: 0;
      white-space: pre-wrap;
    }

    @media screen and (min-width: $screen-md) {
      h1 {
        font-size: 24px;
      }
    }
  }

  > .container {
    display: grid;
    gap: 1em;

    @media screen and (min-width: $screen-md) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }

  .notecard,
  .generic-loading {
    grid-column: 1/-1;
  }

  article {
    background-color: var(--background-primary);
    border: 1px solid var(--background-secondary);
    border-radius: var(--elem-radius);
    box-shadow: var(--shadow-02);
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    letter-spacing: var(--heading-letter-spacing);
    padding: 1rem;

    .dropdown-list {
      color: var(--text-primary);
      font-weight: 400;
      letter-spacing: 0;
    }

    &.default {
      background-color: var(--background-secondary);
    }

    header {
      align-items: start;
      display: grid;
      grid-template-columns: auto min-content;
    }

    h2 {
      align-self: center;
      font-size: 1.25rem;
      font-weight: 700;
      // vertically centre first line of title, without increasing line height:
      margin: 0.25rem 0;
      margin-right: 1rem;
      overflow-wrap: anywhere;

      a {
        color: var(--text-primary);
      }
    }

    .breadcrumbs {
      color: var(--text-secondary);
      font-size: var(--type-smaller-font-size);
      font-style: italic;
      overflow-wrap: anywhere;
    }

    p {
      margin: 0;
      overflow-wrap: anywhere;
      white-space: pre-wrap;
    }

    footer {
      align-items: baseline;
      color: var(--text-secondary);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: auto;
      overflow-wrap: anywhere;
      padding-top: 1rem;

      a {
        color: var(--collections-article-link);
      }
    }

    time {
      font-size: 0.875rem;
    }

    @media screen and (max-width: $screen-md) {
      .count {
        display: none;
      }
    }
  }

  .pagination {
    grid-column: 1/-1;
  }
}
