@use "../../ui/vars" as *;
@use "../../ui/mixins" as *;

.collections {
  color: var(--text-secondary);
  font-weight: 500;
  letter-spacing: var(--heading-letter-spacing);

  h1,
  h2 {
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: 700;

    a {
      color: inherit;
    }
  }

  @media screen and (min-width: $screen-md) {
    .container {
      max-width: 43rem;
    }
  }

  @media screen and (min-width: $screen-lg) {
    .container {
      max-width: 52rem;
    }
  }
}

.collections-overview {
  > header {
    background: var(--collections-header);
    overflow: hidden;
    padding: 1.25rem 0;

    .container {
      position: relative;

      > * {
        position: relative;
      }

      .mandala-icon-wrapper {
        position: relative;
        display: inline-block;
        margin-right: 0.5rem;
        top: -0.2rem;

        @media screen and (min-width: $screen-lg) {
          position: absolute;
          top: 50%;
          right: 10rem;
          transform: translate(0, -50%);
        }

        .mandala-container {
          position: absolute;
          --mandala-primary: var(--collections-mandala);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -49.4%);
        }

        .icon-bookmark-filled {
          width: 2rem;
          height: 2rem;
          background: var(--collections-icon);
        }
      }

      h1 {
        font-size: 2rem;
        margin: 0;
        position: static;

        span {
          position: relative;
        }
      }

      p {
        margin: 1rem 0;
      }

      h1 span,
      p {
        // improve text contrast against mandala
        text-shadow: 2px 2px 3px var(--collections-header),
          2px -2px 3px var(--collections-header),
          -2px -2px 3px var(--collections-header),
          -2px 2px 3px var(--collections-header);
      }

      a {
        color: var(--collections-link);
      }

      .button-wrap {
        font-size: 0.875rem;
        font-weight: 700;
      }
    }
  }

  > .container {
    display: grid;
    gap: 1rem;
    padding: 1rem;

    @media screen and (min-width: $screen-md) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }

  .notecard,
  .generic-loading {
    grid-column: 1/-1;
  }

  article {
    background-color: var(--background-primary);
    border: 1px solid var(--background-secondary);
    border-radius: var(--elem-radius);
    box-shadow: var(--shadow-02);
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .dropdown-list {
      color: var(--text-primary);
      font-weight: 400;
      letter-spacing: 0;
    }

    &.default {
      background-color: var(--background-secondary);
    }

    header {
      align-items: start;
      display: grid;
      grid-template-columns: auto min-content;
    }

    h2 {
      align-self: center;
      font-size: 1.25rem;
      font-weight: 700;
      // vertically centre first line of title, without increasing line height:
      margin: 0.25rem 0;
      margin-right: 1rem;
      overflow-wrap: anywhere;

      a {
        color: var(--text-primary);
      }
    }

    p {
      margin: 0;
      overflow-wrap: anywhere;
      white-space: pre-wrap;
      @include line-clamp(
        4,
        var(--font-content-line-height),
        var(--background-primary)
      );
    }

    footer {
      align-items: baseline;
      color: var(--text-secondary);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: auto;
      overflow-wrap: anywhere;
      padding-top: 1rem;

      a {
        color: var(--collections-link);
      }
    }

    time {
      font-size: 0.875rem;
    }

    @media screen and (max-width: $screen-md) {
      .count {
        display: none;
      }
    }
  }
}
