@import "~@mdn/minimalist/sass/vars/color-palette";
@import "~@mdn/minimalist/sass/vars/layout";
@import "~@mdn/minimalist/sass/vars/typography";

.metadata {
  background-color: $neutral-550;
  margin: ($base-spacing * 2) 0;
  padding: $base-spacing;
}

.metadata-content-container {
  margin: 0 auto;
  max-width: $max-width-default;

  a:link,
  a:visited {
    text-decoration: underline;
  }

  .on-github {
    margin-bottom: $base-spacing;
  }

  .last-modified-date {
    margin-bottom: 0;
  }
}
