@use "../../../ui/vars" as *;

.main-page-content .metadata {
  background-color: var(--background-secondary);
  margin: (1rem * 2) 0;
  padding: 1rem;

  h3 {
    padding-top: 0;
  }
}

.metadata-content-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  a:link,
  a:visited {
    text-decoration: underline;
  }

  .last-modified-date {
    margin-bottom: 0;
  }
}
