@use "sass:math";

@use "~@mdn/minimalist/sass/vars/layout";
@use "~@mdn/minimalist/sass/vars/typography";

@use "../../../ui/theme/index" as theme;

.deep-dives-feature-wrapper {
  background-color: theme.$mdn-violet900;
  color: theme.$white;
  padding: (layout.$base-spacing * 2) layout.$base-spacing;
  position: relative;

  @media #{layout.$mq-small-desktop-and-up} {
    padding: layout.$base-spacing (layout.$base-spacing * 5);
  }

  .girdle {
    &::before {
      background: transparent url("./deepdive.svg") center center no-repeat;
      content: "";
      display: block;
      height: 400px;
      margin: -69px auto 0;
      width: 95%;

      @media #{layout.$mq-small-desktop-and-up} {
        height: 530px;
        position: absolute;
        right: 0;
        top: -8px;
        width: 460px;
      }

      @media #{layout.$mq-large-desktop-and-up} {
        height: 650px;
        top: 8px;
        width: 560px;
      }
    }
  }

  .heading-group,
  p,
  ul {
    @media #{layout.$mq-small-desktop-and-up} {
      max-width: 45%;
    }
  }

  h1 {
    font-size: theme.$marketing-feature-h1-font-size;
    margin: 0 0 layout.$base-spacing 0;
  }

  h2 {
    font-size: typography.$medium-font-size;
    margin: layout.$base-spacing 0;
  }

  p,
  ul {
    font-size: typography.$small-medium-font-size-mobile;

    @media #{layout.$mq-tablet-and-up} {
      font-size: typography.$default-font-size;
    }
  }

  ul {
    font-style: italic;
    font-weight: 300;
    list-style: none;
    padding: 0;
  }

  li::before {
    color: theme.$mdn-pink600;
    content: "\002B";
    font-style: normal;
    font-weight: bold;
    margin-left: 0;
    padding-right: 18px;
    position: relative;
  }

  li:nth-child(3n)::before {
    color: theme.$mdn-yellow300;
  }

  li:nth-child(3n + 1)::before {
    color: theme.$mdn-blue200;
  }
}
