@use "sass:math";
@use "./mdn-web-docs-palette" as *;
@use "./layout" as *;

$standard-light-border: 1px solid $mdn-neutral400;
$standard-primary-border: math.div($base-unit, 3) solid $mdn-blue700;

$thin-primary-border: 1px solid $mdn-blue600;

$code-example-border: $base-unit solid $mdn-blue700;
$standard-table-border: $base-unit solid $mdn-green700;
$property-table-border: $base-unit solid $mdn-blue700;

$default-border-radius: 6px;
