@use "./mdn-web-docs-palette" as *;

/* Gradients */
$blockquote-gradient: linear-gradient(to right, $mdn-blue700, $mdn-blue300);
$standard-gradient: linear-gradient(to right, $mdn-blue300, $mdn-green100);
$blue-gradient: linear-gradient(to right, $mdn-blue700, $mdn-blue300);
$light-gray-gradient: linear-gradient(
  to bottom,
  $mdn-neutral100,
  $mdn-neutral200
);
