/* mdn color palette v2 */
$black: #000;
$white: #fff;
$lightgray: #eee;

$mdn-neutral100: #f4f4f4;
$mdn-neutral200: #d5d5d5;
$mdn-neutral300: #bababa;
$mdn-neutral400: #a4a4a4;
$mdn-neutral500: #8a8a8a;
$mdn-neutral600: #6d6d6d;
$mdn-neutral700: #4e4e4e;
$mdn-neutral800: #343434;
$mdn-neutral900: #1b1b1b;

$mdn-blue100: #ddeaff;
$mdn-blue200: #bbd8ff;
$mdn-blue300: #83bfff;
$mdn-blue400: #3eabff;
$mdn-blue500: #0090e0;
$mdn-blue600: #0072b3;
$mdn-blue700: #005282;
$mdn-blue800: #003759;
$mdn-blue900: #001c32;

$mdn-green100: #d0f1de;
$mdn-green200: #78ebb1;
$mdn-green300: #00d58b;
$mdn-green400: #00bc7a;
$mdn-green500: #009e66;
$mdn-green600: #007d50;
$mdn-green700: #005a38;
$mdn-green800: #003d24;
$mdn-green900: #002011;

$mdn-yellow100: #fbec74;
$mdn-yellow200: #e6d75b;
$mdn-yellow300: #cbbd30;
$mdn-yellow400: #b4a700;
$mdn-yellow500: #978c00;
$mdn-yellow600: #786e00;
$mdn-yellow700: #575000;
$mdn-yellow800: #3a3500;
$mdn-yellow900: #1e1b00;

$mdn-red100: #fae4e5;
$mdn-red200: #f8c9ca;
$mdn-red300: #fba3a4;
$mdn-red400: #ff7d7e;
$mdn-red500: #ff4044;
$mdn-red600: #db000e;
$mdn-red700: #a30008;
$mdn-red800: #700003;
$mdn-red900: #3f0001;

$mdn-orange100: #fae4e2;
$mdn-orange200: #f8cac5;
$mdn-orange300: #fba499;
$mdn-orange400: #ff7f69;
$mdn-orange500: #f84e00;
$mdn-orange600: #c53c00;
$mdn-orange700: #922a00;
$mdn-orange800: #641a00;
$mdn-orange900: #380a00;

$link-color: $mdn-blue700;
$text-color: $mdn-neutral900;
$text-color-inverted: $white;
