@use "../../vars/sass/variables" as style-dictionary;

/* Fonts */
$heading-font-family-fallback: palatino, "Palatino Linotype", serif;
$heading-font-family: Montserrat, $heading-font-family-fallback;
$site-font-family-fallback: x-locale-body, sans-serif;
$site-font-family: Inter, $site-font-family-fallback;

$code-inline-font-family: consolas, "Liberation Mono", courier, monospace;
$code-base-font-size: 1rem;

$base-font-size: style-dictionary.$token-typography-base-font-size;
$default-line-height: style-dictionary.$token-typography-base-line-height;
$document-line-height: 1.75;
$code-example-line-height: 1.4;
$heading-line-height: style-dictionary.$token-typography-heading-line-height;

$xxl-font-size: style-dictionary.$token-typography-heading-display-font-size; /* 49px */
$xl-font-size: style-dictionary.$token-typography-heading-extra-large-font-size; /* 39px */
$large-font-size: style-dictionary.$token-typography-heading-large-font-size; /* 31px */
$medium-font-size: style-dictionary.$token-typography-heading-medium-font-size; /* 25px */
$small-medium-font-size: style-dictionary.$token-typography-heading-small-medium-font-size; /* 20px */

$default-font-size: 1rem; /* 18px */
$small-font-size: 0.9rem; /* 16px */
$tiny-text: 0.75rem; /* 13.5px */

/* approx 72ch for base font size and HHGTTG reference */
$max-line-length-fallback: 45rem;
