@import "~@mdn/minimalist/sass/vars/layout";

.page-content-container.account-settings {
  display: flex;
  flex-flow: column;
  justify-content: center;

  @media #{$mq-large-desktop-and-up} {
    margin: ($base-spacing) auto;
  }
}
