.root {
  margin: 20px;
}

.details {
  margin-bottom: 20px;
}

.fetch-error {
  font-weight: bold;
}

.broken-link-404 {
  border: 1px solid red;
}
.broken-link-redirect {
  border: 1px solid orange;
}
