@use "../../vars" as *;

@media screen and (max-width: #{$screen-lg - 1}) {
  #menu-toggle:focus
    ~ .top-navigation
    > .top-navigation-main
    > .main-menu-toggle {
    outline-color: var(--accent-primary);
    outline-offset: 1px;
    outline-style: auto;
  }

  #menu-toggle:not(:checked) ~ .top-navigation > .top-navigation-main {
    .main-menu-toggle > .menu-toggle-icon {
      mask-image: url("../../../assets/icons/menu.svg");
    }

    > .mobile-hidden {
      display: none;
    }
  }
}

.top-navigation {
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--border-primary);
  position: relative;
  width: 100%;

  .main-menu-toggle {
    > .menu-toggle-icon {
      background-color: var(--text-primary);
      height: 1rem;
      mask-image: url("../../../assets/icons/cancel.svg");
      width: 1rem;
    }
  }

  &.is-transparent {
    background-color: transparent;
  }

  /* Wrapper strictly used for containing the logo and menu toggle */
  .top-navigation-main {
    align-items: center;
    display: grid;
    grid-template-areas:
      "logo   place  button"
      "theme  theme  theme "
      "search search search"
      "nav    nav    nav   "
      "user   user   user  ";
    min-height: var(--top-nav-height);
    @media screen and (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  #menu-toggle:checked ~ & {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .container {
      height: auto;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .main-menu-toggle {
    display: none;
  }
}
