@use "../../vars" as *;

.top-navigation {
  background-color: var(--background-primary);
  left: 0;
  position: relative;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: var(--z-index-top);

  @media screen and (max-width: ($screen-md - 1)) {
    &.is-open {
      height: 100vh;
      position: absolute;
    }
  }

  .container {
    align-items: center;
    display: flex;
    gap: var(--gutter);
    height: var(--top-nav-height);
    justify-content: space-between;
  }
}

.main-menu-toggle {
  @media screen and (min-width: $screen-md) {
    display: none;
  }
}
