@use "../../minimalist/vars/layout";

@use "../../theme/index" as theme;
@use "../../theme/themes/light-mode" as light-mode;

.watch-menu {
  align-items: center;
  border-bottom: 1px solid light-mode.$mdn-light-color-border-secondary;
  display: flex;
  gap: theme.$base-spacing;
  padding: theme.$base-spacing * 2;
  width: 100%;

  @media #{layout.$mq-small-desktop-and-up} {
    border-bottom: 0;
  }

  /* base style for an icon buttons is defined by `.icon-button`
     in client/src/ui/atoms/icon-button/index.scss */
  &::before {
    mask-image: url("~@mdn/dinocons/plus/watch.svg");
  }
}
