#document-flaws {
  margin: 20px;

  details {
    margin-bottom: 20px;
  }

  .flaw .fetch-error {
    margin: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgb(252, 159, 159);
    p {
      font-weight: bold;
    }
  }
}

a.flawed--broken_link_404 {
  border: 1px solid red;
}
a.flawed--broken_link_redirect {
  border: 1px solid orange;
}
