@use "../ui/base/styles" as *;
@use "../ui/base/theme" as *;
@use "../ui/molecules/grids/grids.scss" as *;
@use "../ui/base/typography" as *;

.main-content {
  @media screen and (min-width: $screen-md) {
    margin-top: 1rem;
  }

  article {
    dt {
      margin: 1rem 0;
      font-weight: bold;
    }
  }
}

.only-in-en-us {
  span {
    font-size: 0.8125rem;
  }
}

a.page-not-created {
  color: $icon-critical;
  cursor: not-allowed;
}

.main-page-content {
  padding: 0.5rem 1rem 1rem;

  figure {
    margin-bottom: 1rem;
  }

  ul li {
    margin-bottom: 8px;
  }

  .example-good,
  .example-bad {
    padding: 0 1rem;
    position: relative;

    &::after {
      background-size: 24px;
      content: "";
      display: block;
      height: 24px;
      position: absolute;
      right: 13px;
      top: 3px;
      width: 24px;
    }
  }

  .example-bad {
    &::after {
      background-color: $icon-critical;
      mask-image: url("~@mdn/dinocons/emojis/frown.svg");
    }
  }

  .example-good {
    &::after {
      background-color: $icon-success;
      mask-image: url("~@mdn/dinocons/emojis/smiley.svg");
    }
  }

  .code-example {
    position: relative;

    .copy-icon {
      background: $icon-primary url("../assets/clippy.svg") center center
        no-repeat;
      background-position: 61% 45%;
      background-size: 1rem;
      border: 1px solid $border-secondary;
      border-radius: 0.25rem;
      cursor: pointer;
      height: 3rem;
      margin: 0;
      padding: 0.25rem;
      position: absolute;
      right: 0.25rem;
      top: 0.25rem;
      vertical-align: middle;
      width: 33px;
      z-index: -1000;

      @media screen and (max-width: $screen-lg) {
        opacity: 0.4;

        &:hover,
        &:focus {
          background-color: $background-secondary;
          opacity: 1;
        }
      }
    }

    .copy-icon-message {
      background: $mdn-color-dark-grey-90;
      border-radius: 0.25rem;
      color: white;
      display: none;
      font-size: 0.8125rem;
      opacity: 1;
      padding: 0.125rem;
      position: absolute;
      right: 0.25rem;
      top: 15px;
      z-index: -1000;
    }

    &:focus,
    &:hover {
      .copy-icon {
        opacity: 1;
      }
    }

    .show {
      display: block;
    }

    .example-good,
    .example-bad {
      padding: 1rem;

      &::after {
        right: 44px;
        top: 13px;
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    margin-bottom: 0.5rem;
    padding: 0 1rem 1rem;
  }

  h1 {
    word-break: break-word;
  }

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:active {
      background-color: $text-link;
      color: white;

      code {
        background-color: transparent;
      }
    }

    &[id^="attr-"] {
      &:link,
      &:visited {
        color: $mdn-color-dark-grey-90;
        text-decoration: none;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &:active {
        color: white;
      }
    }
  }

  [aria-current] {
    color: $mdn-color-dark-grey-90;
    font-weight: bold;
    text-decoration: none;
  }

  h2,
  h3 {
    a:link,
    a:visited {
      color: $mdn-color-dark-grey-90;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: $mdn-color-dark-grey-90;
      text-decoration: underline;
    }

    a:active {
      background-color: transparent;
    }
  }

  table {
    margin-bottom: 0.5rem;
  }

  /* readonly inline badges needs a slightly darker background color in general article content  */
  .inline {
    &.optional,
    &.readonly {
      background-color: $background-secondary;
    }
  }

  /*
   * top navigational elements on tutorial pages
   * prevnext is added for backwards compatibility
   */
  .prevnext,
  .prev-next {
    @media screen and (max-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    a.button {
      margin-bottom: 0.5rem;
      max-width: inherit;

      @media screen and (max-width: $screen-sm) {
        margin-bottom: inherit;
      }
    }
  }

  /*
   * multi-column layout on pages with an index such as
   * https://developer.mozilla.org/en-US/docs/Web/API#Specifications
  */
  .index {
    columns: 300;
    margin-bottom: 1rem;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 0.5rem;
    }

    .icon-experimental,
    .icon-nonstandard {
      color: $icon-information;
    }

    .icon-deprecated {
      color: $icon-critical;
    }
  }

  iframe {
    max-width: 100%;
  }

  iframe:not(.sample-code-frame) {
    border: 0;
  }

  h1 {
    font: 600 3rem/120% $Montserrat;
    letter-spacing: -0.5px;
    padding-bottom: 4rem;
  }

  h2 {
    font: 600 28px/120% $Montserrat;
    letter-spacing: 0.5px;
    padding: 2rem 0 1rem 0;
  }

  h3 {
    font: 600 24px/120% $Montserrat;
    letter-spacing: 0.5px;
    padding: 2rem 0 1rem 0;
  }

  h4 {
    font: 600 18px/120% $Montserrat;
    letter-spacing: 0.5px;
    padding: 2rem 0 1rem 0;
  }

  h5 {
    font: 600 1rem/120% $Montserrat;
    letter-spacing: 1.5px;
    padding: 2rem 0 1rem 0;
    text-transform: uppercase;
  }

  h6 {
    font: 600 12px/120% $Montserrat;
    letter-spacing: 1.5px;
    padding: 2rem 0 1rem 0;
    text-transform: uppercase;
  }

  p {
    font-family: $Inter;
    line-height: 2;
    padding-bottom: 2rem;
  }

  .mdn-docs-type-notecard-bold {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.75;
  }
  .mdn-docs-type-notecard-regular {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.75;
  }
  .mdn-docs-type-notecard-underlined {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.75;
    text-decoration-line: underline;
  }
  .mdn-docs-type-code-regular {
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 150%;
  }
}
