@use "../ui/vars" as *;

.interactive {
  background-color: var(--background-secondary);
  border: none;
  color: var(--text-primary);

  margin: 1rem 0;
  padding: 0;
  width: 100%;
  // Height of the editor is set in interactive-example.tsx
}
