.section-newsletter {
  margin: 0 auto;
  max-width: 35rem;
  padding: 2rem;

  input[type="email"],
  button {
    width: 100%;
  }

  form {
    margin-bottom: 2rem;
  }

  .blog-container.post + & {
    h2 {
      font: var(--type-heading-h3);
      margin: 0;
    }
  }
}
