@use "../../base/styles" as *;
@use "../../base/theme" as *;

.mdn-plus-subscribe-link {
  background-color: $button-primary-default;
  border-radius: 0.25rem;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  padding: 0.5rem;
  text-align: center;

  @media screen and (min-width: $screen-md) {
    margin-top: 0;
  }

  &:link,
  &:visited {
    color: white;
  }
}
