@use "sass:map";
@use "../../theme/index" as theme;

.auth-container {
  .signin-link {
    font-weight: bold;

    &:link,
    &:visited {
      color: map.get(theme.$light-mode, text-secondary);

      @media (prefers-color-scheme: dark) {
        color: map.get(theme.$dark-mode, text-secondary);
      }
    }
  }
}
