@use "../../base/styles" as *;
@use "../../base/theme" as *;
.notification-container {
  background-color: $mdn-color-violet-90;
  color: white;
  padding: 12px;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}
