@import "~@mdn/minimalist/sass/vars/layout";
@import "~@mdn/minimalist/sass/vars/color-palette";

.auth-container {
  margin-top: $base-unit * 2;

  /* This media condition could be removed as margin-top isn't changing from above */
  // @media #{$mq-large-desktop-and-up} {
  //   margin-top: 0;
  // }

  /* Handling < 1199px Sign in button alignment, if there is a $var then use that instead */
  @media (max-width: 74.9375em) and (min-width: 768px) {
    margin-top: $base-unit * 3;
  }
}

.avatar {
  border-radius: 50%;
  height: 40px;
  /* avoid click events being sent from
     the avatar image */
  pointer-events: none;
  width: 40px;
}

.avatar-username {
  margin-left: $base-unit;

  @media #{$mq-large-desktop-and-up} {
    display: none;
  }
}

a.signin-link {
  color: $neutral-100;
  font-weight: bold;
}
