.login-banner {
  background-color: var(--background-success);
  border: 2px solid var(--background-success);
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .plus-link {
    color: var(--text-primary);
    font-style: normal;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.1em;
  }
}
