@use "../../ui/vars" as *;

.feature-highlight {
  background-color: white;
  width: 100%;
  min-height: 25rem;

  p {
    /* MDN/Plus/Type/Body/M */
    line-height: 1.75;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 4rem 1rem;
    max-width: 52rem;
    margin: 0 auto;

    .ft-sidebar {
      width: 100%;
      max-width: 13rem;
      display: none;

      @media screen and (min-width: $screen-md) {
        display: block;
      }

      a {
        background: $mdn-color-dark-grey-90;
        padding: 0.25rem 0.5rem;
        color: white;
        width: fit-content;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease;
        font-weight: 620;
        display: flex;

        &:after {
          position: absolute;
          content: "";
          width: 0;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          background: var(--plus-accent-engage);
          transition: all 0.3s ease;
        }

        &:hover {
          color: $mdn-color-dark-grey-90;
        }

        &:hover:after {
          left: auto;
          right: 0;
          width: 100%;
        }
      }
    }

    .ft-content {
      display: flex;
      gap: 4rem;
      flex-direction: column;

      .ft-title {
        gap: 1rem;
        display: flex;
        flex-direction: column;

        .ft-name {
          /* MDN/Plus/Type/Overline/S */
          font: 700 12px/120% Inter;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          color: var(--plus-accent-color);
        }

        .ft-headline {
          /* MDN/Plus/Type/Title */
          font: 700 48px/120% Inter;
          letter-spacing: -0.5px;
        }
      }
    }

    .ft-article {
      h1 {
        /* MDN/Plus/Type/Heading/1 */
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        padding-bottom: 1rem;
      }

      h2 {
        /* MDN/Plus/Type/Heading/2 */

        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        padding: 4rem 0 1rem;
      }
    }
  }
}
