@use "../../ui/vars" as *;

.feature-highlight {
  width: 100%;
  padding: 2rem 1rem;

  p {
    /* MDN/Plus/Type/Body/M */
    line-height: 1.75;
  }

  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: $screen-md) {
    grid-template-columns: 15rem 1fr;
  }
  @media screen and (min-width: $screen-lg) {
    grid-template-columns: 15rem 1fr 15rem;
  }
  gap: 2rem;

  .ft-sidebar {
    position: sticky;
    top: 2rem;
    width: 100%;
    max-width: 15rem;
    height: fit-content;

    .document-toc-container {
      width: max-content;
      margin-top: 2rem;
    }
    @media screen and (min-width: $screen-md) {
    }
  }

  .ft-content {
    h1 {
      /* MDN/Plus/Type/Overline/S */
      font: 700 12px/120% Inter;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: var(--plus-accent-color);
    }

    h1 + blockquote {
      border: revert;
      padding: revert;
      margin: 1rem 0 2rem;
      border: 1px solid var(--background-tertiary);
      background-color: var(--text-primary);
      border-radius: var(--elem-radius);
      color: var(--background-primary);
      padding: 1rem;
      p:first-child {
        font: var(--type-heading-h1);
        margin-bottom: 2rem;
      }
    }

    ol,
    ul {
      list-style: revert;
      padding: revert;
      margin: revert;
    }
  }
}
