@use "../../ui/vars" as *;

.static-page {
  width: 100%;
  padding: 2rem 1rem;

  p {
    /* MDN/Plus/Type/Body/M */
    line-height: 1.75;
  }

  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: $screen-md) {
    grid-template-columns: 15rem 1fr;
  }
  @media screen and (min-width: $screen-lg) {
    grid-template-columns: 15rem 1fr 15rem;
  }
  gap: 2rem;

  .static-sidebar {
    @media screen and (min-width: $screen-md) {
      position: sticky;
    }
    top: 2rem;
    width: 100%;
    max-width: 15rem;
    height: fit-content;

    .document-toc-container {
      max-width: fit-content;
      margin-top: 2rem;
    }
  }

  .static-content {
    em {
      text-decoration: underline;
      font-style: normal;
      text-decoration-thickness: 0.15rem;
      text-underline-offset: 0.1em;
      text-decoration-color: var(--text-link);
    }
    h1 {
      /* MDN/Plus/Type/Overline/S */
      font: 700 12px/120% Inter;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: var(--plus-accent-color);
    }

    h1 + blockquote {
      border: revert;
      padding: revert;
      margin: 1rem 0 2rem;
      border: 1px solid var(--background-tertiary);
      background-color: var(--background-tertiary);
      border-radius: var(--elem-radius);
      color: var(--text-primary);
      p:first-child {
        font: var(--type-heading-h1);
        margin-bottom: 2rem;
      }
      p {
        font-style: italic;
      }
    }

    ol,
    ul {
      list-style: revert;
      padding: revert;
      margin: revert;
    }
  }
}
