@use "sass:math";

.breadcrumb-locale-container {
  align-items: center;
  background-color: $mdn-neutral100;
  display: flex;
  gap: math.div($base-spacing, 2);
  padding: math.div($base-spacing, 2) $base-spacing;
  padding-left: $base-spacing;

  @media #{$mq-tablet-and-up} {
    margin: $base-spacing 0 0;
  }

  @media #{$mq-small-desktop-and-up} {
    margin: $base-spacing 0 0;
  }

  .breadcrumbs-container {
    flex: 1 1 90%;
  }

  .bookmark-button-container {
    flex: 0 0 40px;
  }

  .language-toggle {
    flex: 1 0 max-content;
  }

  // when the breadcrumbs is the only item in the container
  .breadcrumbs-container:last-child {
    flex-basis: 100%;
  }

  // when the language toggle is the only item in the container
  .language-toggle:only-child {
    flex-basis: 100%;
    justify-content: flex-end;
  }
}
