@import "~@mdn/minimalist/sass/vars/layout";

:global(.page-content-container).authPageContainer {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;

  @media #{$mq-tablet-and-up} {
    margin: ($base-spacing * 2);
  }

  @media #{$mq-large-desktop-and-up} {
    margin: ($base-spacing * 3) auto;
  }

  h1 {
    margin: $base-spacing 0;
  }
}

.signUp {
  text-align: center;

  :global(a) {
    &:link,
    &:visited {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  :global(.notecard) {
    width: 35%;
  }
}
