@import "~@mdn/minimalist/sass/vars/layout";

.sign-in {
  .auth-buttons {
    margin: 0 auto;
    max-width: 250px;
    width: 100%;

    li {
      margin-bottom: $base-spacing;
    }
  }

  .sign-out-form {
    text-align: center;
  }
}
