@use "../../base/styles" as *;
@use "../../base/theme" as *;
@forward "../button/button.scss";

.icon-button {
  background: none;
  color: var(--text-primary);

  &::before {
    background-color: var(--icon-primary);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
  }

  &.inline-block {
    display: inline-block;
  }
}

.toggle-search-button {
  &::before {
    mask-image: url("~@mdn/dinocons/general/search.svg");
  }
}

.article-actions-open {
  &::before {
    mask-image: url("~@mdn/dinocons/general/kebab-menu.svg");
  }
}

.article-actions-close {
  align-items: center;
  border-bottom: 1px solid var(--border-secondary);
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;

  &::before {
    mask-image: url("~@mdn/dinocons/navigation/menu-close.svg");
  }
}

.menu-open {
  &::before {
    background-size: 16px 12px;
    height: 12px;
    mask-image: url("~@mdn/dinocons/navigation/menu-open.svg");
  }

  &.menu-close {
    &::before {
      background-size: 16px;
      height: 16px;
      mask-image: url("~@mdn/dinocons/navigation/menu-close.svg");
    }
  }
}
