@use "../../theme/index" as theme;
@use "../../theme/themes/light-mode" as light;
@use "../../theme/themes/dark-mode" as dark;
@use "../../theme/themes/high-contrast-white";
@use "../../theme/themes/high-contrast-black";

.icon-button {
  background: none;
  color: light.$mdn-light-color-text-primary;

  &::before {
    background-color: light.$mdn-light-color-icon-primary;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
  }

  &.inline-block {
    display: inline-block;
  }
}

.toggle-search-button {
  &::before {
    mask-image: url("~@mdn/dinocons/general/search.svg");
  }
}

.article-actions-open {
  &::before {
    mask-image: url("~@mdn/dinocons/general/kebab-menu.svg");
  }
}

.article-actions-close {
  align-items: center;
  border-bottom: 1px solid light.$mdn-light-color-border-secondary;
  display: flex;
  gap: theme.$base-spacing;
  padding: theme.$base-spacing * 2;
  width: 100%;

  &::before {
    mask-image: url("~@mdn/dinocons/navigation/menu-close.svg");
  }
}

.menu-open {
  &::before {
    background-size: 16px 12px;
    height: 12px;
    mask-image: url("~@mdn/dinocons/navigation/menu-open.svg");
  }

  &.menu-close {
    &::before {
      background-size: 16px;
      height: 16px;
      mask-image: url("~@mdn/dinocons/navigation/menu-close.svg");
    }
  }
}

/* DARK MODE */
.dark {
  .icon-button {
    color: dark.$mdn-dark-color-text-primary;

    &::before {
      background-color: dark.$mdn-dark-color-icon-primary;
    }
  }
}

/* HIGH CONTRAST WHITE MODE */
.high-contrast-white {
  .icon-button {
    color: high-contrast-white.$mdn-high-contrast-white-color-text-primary;

    &::before {
      background-color: high-contrast-white.$mdn-high-contrast-white-color-icon-primary;
    }
  }
}

/* HIGH CONTRAST BLACK MODE */
.high-contrast-black {
  .icon-button {
    color: high-contrast-black.$mdn-high-contrast-black-color-text-primary;

    &::before {
      background-color: high-contrast-black.$mdn-high-contrast-black-color-icon-primary;
    }
  }
}
