@use "sass:map";
@use "../../theme/index" as theme;

.icon-button {
  background: none;

  &::before {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
  }

  &.inline-block {
    display: inline-block;
  }
}

.toggle-search-button {
  &::before {
    background-color: map.get(theme.$light-mode, icon-primary);
    background-size: 16px;
    height: 16px;
    mask-image: url("~@mdn/dinocons/general/search.svg");
    width: 16px;

    @media (prefers-color-scheme: dark) {
      background-color: map.get(theme.$dark-mode, icon-primary);
    }
  }
}

.menu-open {
  &::before {
    background-color: map.get(theme.$light-mode, icon-primary);
    mask-image: url("~@mdn/dinocons/navigation/menu-open.svg");

    @media (prefers-color-scheme: dark) {
      background-color: map.get(theme.$dark-mode, icon-primary);
    }
  }

  &.menu-close {
    &::before {
      mask-image: url("~@mdn/dinocons/navigation/menu-close.svg");
    }
  }
}
