@font-face {
  font-family: "Inter";
  src:
    url("/shared-assets/fonts/Inter.var.woff2")
      format("woff2 supports variations"),
    url("/shared-assets/fonts/Inter.var.woff2") format("woff2-variations");
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: oblique 0deg 20deg;
  font-display: swap;
}

body {
  color: var(--text-primary);
  background-color: var(--background-primary);
  font:
    400 1rem/1.1876 Inter,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-sans;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-color: var(--background-primary);
  overflow: hidden;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.flex-column {
  flex-direction: column;
  align-items: initial;
}

/* some examples does not work with a flex display on the container */
section.display-block {
  display: block;
}

section img {
  flex-grow: 0;
}

section.hidden {
  display: none;
}

.transition-all {
  transition: all 0.3s ease-in;
}

* {
  box-sizing: border-box;
}
