@use "sass:color";
@use "../../vars" as *;

.html-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-red-50, $alpha: -0.9);
  }
}

.css-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-yellow-50, $alpha: -0.9);
  }
}

.javascript-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-green-50, $alpha: -0.9);
  }
}

.http-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-blue-50, $alpha: -0.9);
  }
}

.apis-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-violet-50, $alpha: -0.9);
  }
}

.submenu-icon {
  &.html {
    background-color: var(--html-accent-color);
  }

  &.css {
    background-color: var(--css-accent-color);
  }

  &.javascript {
    background-color: var(--js-accent-color);
  }

  &.http {
    background-color: var(--http-accent-color);
  }

  &.apis {
    background-color: var(--apis-accent-color);
  }

  &.apis,
  &.http,
  &.html {
    &::before {
      background-color: white;
    }
  }
}
