@use "sass:color";
@use "../../base/styles" as *;

.html-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-red-50, $alpha: -0.9);
  }
}

.css-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-yellow-50, $alpha: -0.9);
  }
}

.javascript-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-green-50, $alpha: -0.9);
  }
}

.http-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-blue-50, $alpha: -0.9);
  }
}

.apis-link-container {
  a:hover,
  a:focus {
    background-color: color.adjust($mdn-color-violet-50, $alpha: -0.9);
  }
}

.submenu-icon {
  &.html {
    background-color: $mdn-color-red-50;
  }

  &.css {
    background-color: $mdn-color-yellow-50;
  }

  &.javascript {
    background-color: $mdn-color-green-50;
  }

  &.http {
    background-color: $mdn-color-blue-50;
  }

  &.apis {
    background-color: $mdn-color-violet-50;
  }

  &.apis,
  &.http,
  &.html {
    &::before {
      background-color: white;
    }
  }
}
