.site-search {
  min-height: 500px;

  // This is temporary. 
  // Once https://github.com/mdn/yari/issues/2901 lands we can delete this. 
  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.query-string {
  font-style: italic;
}
