@use "sass:math";
@use "sass:map";

@use "../../minimalist/vars/layout";

@use "../../theme/index" as theme;
@use "../../theme/themes/light-mode" as light-mode;

.main-menu-toggle {
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 14px;

  @media #{layout.$mq-small-desktop-and-up} {
    display: none;
  }
}

.page-header {
  margin: 0 auto;
  max-width: layout.$max-width-default;
  padding: theme.$base-spacing * 2;
  position: relative;
  width: 100%;

  @media #{layout.$mq-small-desktop-and-up} {
    display: flex;
    gap: theme.$base-spacing * 2;
  }
}
