@use "sass:math";

@import "~@mdn/minimalist/sass/vars/mdn-web-docs-palette";
@import "~@mdn/minimalist/sass/vars/layout";

.main-menu-toggle {
  background: none;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: $base-spacing;

  &::before {
    background: transparent url("~@mdn/dinocons/navigation/menu-open.svg") 0 0
      no-repeat;
    background-size: 21px;
    content: "";
    display: block;
    height: 21px;
    width: 21px;
  }

  &.expanded::before {
    background-image: url("~@mdn/dinocons/navigation/menu-close.svg");
  }

  @media #{$mq-tablet-and-up} {
    display: none;
  }
}

.page-header {
  margin: 0 auto;
  max-width: $max-width-default;
  padding: ($base-unit * 6) $base-spacing $base-spacing;
  position: relative;
  width: 100%;

  @media #{$mq-tablet-and-up} {
    display: flex;
    flex-flow: column;
    padding-bottom: math.div($base-spacing, 2);
  }

  @media #{$mq-large-desktop-and-up} {
    flex-flow: row;
  }
}

.page-header-main {
  background-color: $white;
  display: none;
  left: 0;
  padding: 0 $base-spacing $base-spacing;
  position: absolute;
  top: 90px;
  width: 100%;
  z-index: $bring-to-front;

  @media #{$mq-tablet-and-up} {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: inherit;
    padding: 0;
    position: relative;
    top: inherit;
    z-index: inherit;

    .main-nav {
      flex: 1 1 40%;
    }

    .header-search {
      flex: 0 1 30%;
    }

    .auth-container {
      flex: 1 1 30%;
    }
  }
}

.show {
  display: block;
}
