@use "./styles.scss";

$text-primary: #15141aff;
$text-secondary: #5b5b66ff;
$text-inactive: #5b5b66a6;
$text-link: #008787ff;
$background-primary: #ffffffff;
$background-secondary: #f9f9fbff;
$background-tertiary: #fbfbfeff;
$border-primary: #e0e0e6ff;
$border-secondary: #f0f0f4ff;
$button-primary-default: #005e5eff;
$button-primary-hover: #08403fff;
$button-primary-active: #08403fff;
$button-primary-inactive: #005e5eff;
$button-secondary-default: #fbfbfeff;
$button-secondary-hover: #e0e0e6ff;
$button-secondary-active: #e0e0e6ff;
$button-secondary-inactive: #fbfbfeff;
$icon-primary: #5b5b66ff;
$icon-secondary: #afafbaff;
$icon-information: #0090edff;
$icon-warning: #ffa436ff;
$icon-critical: #e22850ff;
$icon-success: #2ac3a2ff;
$accent-primary: #008787ff;
$accent-secondary: #005e5eff;
$shadow-01: 0px 1px 2px rgba(43, 42, 51, 0.05);
$focus-01: 0px 1px 2px rgba(43, 42, 51, 0.05);
