@mixin note {
  background-color: var(--curriculum-bg-color-note);
  border: 0;
  border-radius: var(--elem-radius);
  margin: 1rem;
  padding: 1rem;

  ol,
  ul {
    padding-left: 1rem;

    li:last-child {
      margin-bottom: 0;
    }
  }

  ol,
  ul,
  p {
    margin-top: 0.5rem;
  }

  > p:first-child {
    // The "Notes:" paragraph.
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
