@use "../ui/vars" as *;

.curriculum {
  --background-toc-active: var(--cur-bg-color);
  --category-color: var(--cur-category-color);

  --cur-bg-color-topic: var(--cur-bg-color);
  --cur-color-topic: var(--cur-color);

  .topic-standards {
    --cur-bg-color-topic: var(--cur-bg-color-topic-standards);
    --cur-color-topic: var(--cur-color-topic-standards);
  }

  .topic-styling {
    --cur-bg-color-topic: var(--cur-bg-color-topic-styling);
    --cur-color-topic: var(--cur-color-topic-styling);
  }

  .topic-scripting {
    --cur-bg-color-topic: var(--cur-bg-color-topic-scripting);
    --cur-color-topic: var(--cur-color-topic-scripting);
  }

  .topic-tooling {
    --cur-bg-color-topic: var(--cur-bg-color-topic-tooling);
    --cur-color-topic: var(--cur-color-topic-tooling);
  }

  .topic-practices {
    --cur-bg-color-topic: var(--cur-bg-color-topic-practices);
    --cur-color-topic: var(--cur-color-topic-practices);
  }

  .curriculum-content {
    .modules {
      input[type="radio"]:not(:checked) ~ ol {
        display: none;
      }
    }
  }

  .article-actions-container {
    // Duplicated from ../ui/molecules/grids/document-page.scss
    display: flex;
  }

  .sidebar {
    > ol:first-of-type > li:first-of-type {
      font-size: var(--type-base-font-size-rem);
      font-weight: bold;
    }

    li > em {
      background-color: var(--background-toc-active);
      border-left: 2px solid var(--category-color);
      display: inline-block;
      font-style: normal;
      font-weight: 600;
      padding: 0.25rem 0.25rem 0.25rem 0.5rem;
      width: 100%;
    }
  }
}

.curriculum-content-container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a:link,
    a:visited {
      color: var(--text-primary);
      text-decoration: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }

    a:active {
      background-color: transparent;
    }

    a[href^="#"] {
      &::before {
        color: var(--text-inactive);
        content: "#";
        display: inline-block;
        font-size: 0.7em;
        line-height: 1;
        margin-left: -0.8em;
        text-decoration: none;
        visibility: hidden;
        width: 0.8em;
      }

      &:hover {
        &::before {
          visibility: visible;
        }
      }
    }
  }

  .curriculum-sidebar,
  .toc,
  .curriculum-content {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  &.with-sidebar {
    .curriculum-content {
      grid-area: main;

      > header > h1 {
        margin-bottom: 2rem;

        > span {
          color: var(--cur-color);
        }
      }

      .module-contents {
        > h2 {
          margin-bottom: 2rem;
          margin-top: 4rem;
        }
      }

      section h2:first-of-type {
        margin-top: 2rem;
      }

      blockquote.curriculum-notes {
        background-color: #fcefe299;
        border: 0;
        border-radius: var(--elem-radius);
        margin: 1rem;
        padding: 1rem 2rem;

        > :last-child {
          margin-bottom: 0;
        }
      }

      p.curriculum-outcomes {
        display: flex;
        font-weight: var(--font-body-strong-weight);
        margin-bottom: 0.5rem;

        &::before {
          content: url("../assets/icons/cur-resources.svg");
          display: block;
          height: 24px;
          margin-right: 0.5rem;
          width: 24px;
        }
      }

      ol,
      ul {
        margin: 1rem 0 2rem;
        padding-left: 2rem;

        ol,
        ul {
          margin: 0;
        }
      }

      li {
        list-style-type: disc;
        margin: 0.5rem 0;
      }
    }
    @media screen and (min-width: $screen-md) {
      display: grid;
      gap: 3rem;
      grid-template-areas: "sidebar main";
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
      padding-left: 1.5rem;
      padding-right: 3rem;
    }

    @media screen and (min-width: $screen-xl) {
      display: grid;
      gap: 3rem;
      grid-template-areas: "sidebar main toc";
      grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 15rem);
      padding-left: 1rem;
      padding-right: 1rem;

      .toc {
        --offset: var(--sticky-header-with-actions-height);

        display: block;
        grid-area: toc;
        height: fit-content;
        padding-bottom: 0;
      }

      .in-nav-toc {
        display: none;
      }
    }

    .sidebar-container {
      --offset: var(--sticky-header-with-actions-height);
      --max-height: calc(100vh - var(--offset));

      max-height: var(--max-height);
      position: sticky;
      top: var(--offset);
      z-index: var(--z-index-sidebar-mobile);

      > .curriculum-sidebar {
        align-self: start;
        grid-area: sidebar;

        li li {
          margin-left: 1rem;
        }
      }

      &.toc-container,
      .toc-container {
        grid-area: toc;

        .place {
          grid-area: toc;
          margin: 0;
        }
        @media screen and (min-width: $screen-xl) {
          display: flex;
          flex-direction: column;
          gap: 0;
          height: calc(100vh - var(--offset));
          mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgb(0, 0, 0) 3rem calc(100% - 3rem),
            rgba(0, 0, 0, 0) 100%
          );
          overflow: auto;
          position: sticky;
          top: var(--offset);

          .place {
            margin: 1rem 0;
            padding-bottom: 3rem;
          }
        }
      }

      @media screen and (min-width: $screen-md) and (min-height: $screen-height-place-limit) {
        display: flex;
        flex-direction: column;
      }

      @media screen and (min-width: $screen-md) {
        z-index: auto;

        .curriculum-sidebar {
          mask-image: linear-gradient(
            to bottom,
            rgb(0, 0, 0) 0% calc(100% - 3rem),
            rgba(0, 0, 0, 0) 100%
          );
        }

        @media screen and not (min-height: $screen-height-place-limit) {
          overflow: auto;
        }
      }

      @media screen and (max-width: #{$screen-md - 1}) {
        .toc-container {
          display: none;
        }
      }

      @media screen and (min-width: #{$screen-md}) {
        #sidebar-quicklinks {
          display: none;
        }
      }
      @media screen and (min-width: $screen-xl) {
        display: contents;

        .sidebar {
          mask-image: none;
        }
      }
    }
  }
}
