.curriculum-content-container {
  --background-toc-active: #fcefe2;
  --category-color: #e3642a;

  .curriculum-content {
    .modules {
      input[type="radio"]:not(:checked) ~ ol {
        display: none;
      }
    }
  }
}
