@use "../ui/vars" as *;

.curriculum-content-container {
  --module-shadow: 4px 4px 8px 0 rgba(179, 179, 179, 0.18),
    -4px 4px 8px 0 rgba(179, 179, 179, 0.15);

  .curriculum-content {
    .modules {
      input[type="radio"]:not(:checked) ~ a,
      input[type="radio"]:not(:checked) ~ ol {
        display: none;
      }
    }

    .module-contents {
      h2 {
        width: 100%;
      }
    }

    ol.modules-list-list {
      display: grid;
      grid-template-areas:
        "a   b   c   spacer"
        "hr  hr  hr  hr"
        "mod mod mod mod"
        "t   t   t   t";

      grid-template-columns: max-content max-content max-content auto;
      margin: 0;
      padding: 0;

      hr {
        border: none;
        border-top: 1px solid var(--text-primary);
        grid-area: hr;
        margin: 0 0 1.5rem;
        width: 100%;
      }

      li {
        display: contents;

        > input:checked + label {
          text-decoration-color: var(--cur-color);
          text-decoration-line: underline;
          text-decoration-thickness: 0.25rem;
          text-underline-offset: 0.4rem;
        }

        > label {
          color: var(--text-secondary);
          cursor: pointer;
        }

        &:nth-child(2) {
          > label,
          > input {
            grid-area: a;
          }
        }

        &:nth-child(3) {
          > label,
          > input {
            grid-area: b;
            margin-left: 2rem;
          }
        }

        &:nth-child(4) {
          > label,
          > input {
            grid-area: c;
            margin-left: 2rem;
          }
        }

        > ol {
          grid-area: mod;
          margin: 0;
          padding: 0;
        }

        > a {
          grid-area: t;
          margin-top: 2rem;
          width: fit-content;
        }
      }
    }

    ol.modules-list {
      container-name: module-list;
      container-type: inline-size;
      display: grid;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 0;
      padding: 0;
      @media screen and (min-width: $screen-sm) {
        grid-template-columns: 1fr;
      }
      @media screen and (min-width: $screen-md) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (min-width: $screen-xl) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @container module-list (width >= 25rem) {
        grid-template-columns: 1fr 1fr;
      }
      @container module-list (width >= 38rem) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .module-list-item {
        border: 0;
        border-radius: var(--elem-radius);
        box-shadow: var(--module-shadow);
        display: flex;
        flex-direction: column;
        justify-self: center;
        max-width: 20rem;
        width: 100%;

        > header {
          a {
            align-items: center;
            background-color: var(--cur-bg-color-topic);
            display: flex;
            flex-direction: column;
            height: 12rem;
            padding: 1rem 2rem;

            .topic-icon {
              height: 5rem;
              width: 5rem;
            }

            > span {
              color: var(--text-primary);
              font-weight: var(--font-body-strong-weight);
              margin: auto;
              text-align: center;
            }
          }
        }

        > section {
          align-items: center;
          display: flex;
          flex-direction: column;
          font-size: var(--type-smaller-font-size);
          height: 11rem;
          justify-content: space-between;
          padding: 1rem 1.5rem;

          p {
            margin: 0;
          }

          p:last-child {
            color: var(--cur-color-topic);
            text-align: center;
          }
        }
      }
    }
  }
}
