.curriculum-content-container {
  .curriculum-content {
    .modules {
      input[type="radio"]:not(:checked) ~ ol {
        display: none;
      }
    }

    .module-contents {
      h2 {
        width: 100%;
      }

      ol {
        display: flex;
        flex-wrap: wrap;

        .module-list-item {
          border: 0;
          border-radius: var(--elem-radius);
          box-shadow: var(--shadow-02);
          display: flex;
          flex-direction: column;
          margin: 0.5rem;
          max-width: 100%;
          min-width: 10rem;
          width: 30%;
          height: 100%;

          > header {
            a {
              align-items: center;
              background-color: var(--cur-bg-color-topic);
              display: flex;
              flex-direction: column;
              height: 12rem;
              padding: 1rem;

              .topic-icon {
                height: 5rem;
                width: 5rem;
              }

              > span {
                color: var(--text-primary);
                font-weight: var(--font-body-strong-weight);
                margin: auto;
                text-align: center;
              }
            }
          }

          > section {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: var(--type-smaller-font-size);
            height: 11rem;
            justify-content: space-between;
            padding: 0.5rem 1rem;

            p {
              margin: 0;
            }

            p:last-child {
              color: var(--cur-color-topic);
              text-align: center;
            }
          }
        }
      }
    }
  }
}
