@use "../ui/vars" as *;

.curriculum-content-container.with-sidebar,
.curriculum-content-container {
  &.curriculum-module {
    .curriculum-content {
      > header {
        column-gap: 1.5rem;
        display: grid;
        grid-template-areas: "icon heading" "icon category";
        justify-content: flex-start;

        .topic-icon {
          --background-primary: var(--cur-bg-color-topic);
          align-self: flex-start;
          grid-area: icon;
          height: 4rem;
          width: 4rem;

          + h1 {
            grid-area: heading;
            margin-bottom: 0;
          }
        }

        p {
          color: var(--cur-color-topic);
          font-size: var(--type-smaller-font-size);
          grid-area: category;
          margin: 0;
          margin-top: 0.5rem;

          &::before {
            content: "Category: ";
          }
        }
      }

      p.curriculum-resources {
        margin-bottom: 0.5rem;

        + ul {
          padding-left: 2rem;

          > li {
            // This is hacky but works here
            &::first-line {
              vertical-align: super;
            }

            &:not(.external) {
              list-style-image: var(--cur-module-mdn-resource);
            }

            &.external {
              list-style-image: url("../assets/icons/cur-ext-resource.svg");
            }
          }
        }
      }
    }
  }
}
