@use "../ui/vars" as *;

.curriculum-content-container.curriculum-no-side {
  @media screen and (min-width: $screen-md) {
    display: grid;
    gap: 3rem;
    grid-template-areas: "main toc";
    grid-template-columns: minmax(0, 1fr) minmax(0, 12rem);
    padding-left: 1.5rem;
    padding-right: 3rem;
  }

  @media screen and (min-width: $screen-xl) {
    display: grid;
    gap: 3rem;
    grid-template-areas: "main toc";
    grid-template-columns: minmax(0, 62rem) minmax(0, 12rem);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
  }
}
