@use "../ui/vars" as *;

.partner-banner-container {
  .partner-banner {
    background-color: var(--curriculum-bg-color-partner);
    background-image: var(--curriculum-partner-bg);
    background-repeat: no-repeat;
    box-shadow:
      -4px -4px 8px 0 #b3b3b326,
      4px 4px 8px 0 #b3b3b326;
    display: grid;
    grid-template-areas: "h2" "image" "p" "a";
    margin: 1rem auto;

    @media screen and (min-width: $screen-md) {
      grid-template-areas: "copy image";
      grid-template-columns: 2fr minmax(24rem, 1fr);
    }

    > picture {
      align-self: end;
      grid-area: image;
      height: max-content;
      justify-self: center;
      max-width: max-content;
      width: 90%;
      @media screen and (min-width: $screen-md) {
        justify-self: end;
        width: 100%;
      }
    }

    > section {
      display: contents;
      grid-area: copy;
      padding: 2rem 4rem;
      @media screen and (min-width: $screen-md) {
        display: block;
      }

      > h2 {
        grid-area: h2;
        margin: 1rem 0 2rem;
        text-align: center;
        @media screen and (min-width: $screen-md) {
          margin: 0 0 1rem;
          text-align: left;
        }

        > span {
          display: inline-block;
          min-width: max-content;

          &::after {
            content: url("../assets/icons/curriculum-partner-underline-small.svg");
            position: absolute;
            transform: translate3d(-4.375em, 1.125rem, 0);
            @media screen and (min-width: $screen-md) {
              content: url("../assets/icons/curriculum-partner-underline-large.svg");
            }
          }
        }
      }

      > p {
        grid-area: p;
        margin: 1.5rem 1rem;
        @media screen and (min-width: $screen-md) {
          margin: 1rem 0 1.5rem;
        }
      }

      > a {
        grid-area: a;
        margin: 1rem;
        @media screen and (min-width: $screen-md) {
          margin: 1rem 0 0;
        }
      }
    }
  }
}
