@font-face {
  font-family: "BarlowCondensed-SemiBold";
  font-weight: 600;
  font-display: block;
  src:
    local("BarlowCondensed-SemiBold"),
    url("../assets/fonts/BarlowCondensed-SemiBold.woff2") format("woff2");
}
