.scrim {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 24rem;
  width: 100%;

  dialog {
    display: contents;

    > .scrim-with-border {
      background-image: var(--curriculum-scrim-bg);
      background-position: bottom right;
      background-repeat: no-repeat;
      height: 16rem;
      width: 100%;

      > .scrim-inner {
        --inner-width: 22rem;
        --inner-max-width: calc(100vw - 2 * var(--gutter));
        align-items: start;
        background-color: #000;
        display: flex;
        flex-direction: column;
        max-width: var(--inner-max-width);
        width: var(--inner-width);

        .partner-header {
          align-items: center;
          display: flex;
          flex-flow: row;
          gap: 0.25rem;
          justify-content: end;
          margin: 0;
          padding: 0 0.5rem;
          width: 100%;

          a {
            &::after {
              background-color: #fff;
            }

            &:hover {
              &::after {
                background-color: var(--curriculum-color);
              }
            }
          }

          button {
            color: #fff;
            cursor: pointer;

            > div {
              background-color: #fffd;
              height: 1rem;
              width: 1rem;

              &.fullscreen-button.enter {
                mask-image: url("../assets/icons/fullscreen-enter.svg");
              }

              &.fullscreen-button.exit {
                mask-image: url("../assets/icons/cancel.svg");
              }

              &:hover {
                background-color: var(--curriculum-color);
              }
            }

            &:focus-visible {
              outline-color: var(--accent-primary);
              outline-offset: 1px;
              outline-style: auto;
            }
          }

          span {
            color: #fff;
            font-size: var(--type-tiny-font-size);
            margin-right: auto;
          }
        }

        .fullscreen-overlay.enter {
          background-position: center;
          background-repeat: no-repeat;
          background-size: 7rem;
          cursor: pointer;
          height: 12.5rem;
          margin-top: 1.75rem;
          max-width: var(--inner-max-width);
          position: absolute;
          width: var(--inner-width);

          > svg {
            color: #fff;
            height: 7rem;
            width: 7rem;
          }

          &:hover {
            > svg {
              color: var(--curriculum-color);
            }
          }

          &:focus-visible {
            > svg {
              color: var(--accent-primary);
            }
          }
        }

        .fullscreen-overlay.exit {
          display: none;
        }

        iframe,
        img {
          border: 1px solid #000;
          height: 12.5rem;
          width: 100%;
        }
      }
    }

    &[open] {
      background-color: #0009;
      height: 90vh;
      width: 90vw;

      .scrim-with-border {
        background-image: none;
        height: 100%;
        width: 100%;

        .scrim-inner {
          height: 100%;
          width: 100%;

          iframe,
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  p {
    margin: 0;
    padding: 1rem 0;
  }
}
