@use "sass:math";
@use "../mixins/" as *;
@use "../vars/" as *;

blockquote {
  @include blockquote();
  font-family: inherit;
  font-weight: normal;
  margin-bottom: $base-spacing;

  &::before,
  &::after {
    background-image: $blockquote-gradient;
    content: "";
    display: block;
    height: 5px;
    margin-bottom: math.div($base-spacing, 2);
  }

  &::after {
    margin-top: math.div($base-spacing, 2);
  }

  /*
   * Turn off bottom margins on the last paragraph element inside
   * a blockquote. This also conveniently works for instances where
   * there is only a single paragraph element.
   */
  p:last-of-type {
    margin-bottom: 0;
  }
}
