@use "../vars/" as *;

/* Turns off background and border and set cursor to pointer. */
.ghost {
  background: none;
  border: 0;
  color: $mdn-blue700;
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
