@use "../mixins/" as *;
@use "../vars/" as *;

.callout {
  background-color: $mdn-blue200;
  border-radius: $default-border-radius;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: $base-spacing;
  max-width: max-content;
  padding: $base-spacing;
  padding-bottom: 0;

  p {
    @include readable-line-length();
  }

  h4 {
    @include set-heading-font-family();

    background-color: transparent;
    color: $mdn-neutral900;
  }

  .button {
    max-width: inherit;
    width: 100%;

    @media #{$mq-tablet-and-up} {
      max-width: max-content;
      width: inherit;
    }
  }
}
