@use "sass:math";
@use "../vars/" as *;

.sample-code-frame {
  border: $thin-primary-border;
  border-left: $code-example-border;
  margin: 0;
  margin-bottom: math.div($base-spacing, 2);
  padding: math.div($base-spacing, 2);
  width: 100%;
}
