@use "../vars/" as *;

form {
  .field-group {
    margin-bottom: 20px;

    &.inline {
      display: inline-block;
      margin-right: 20px;
    }
  }

  .field-note {
    color: $mdn-neutral800;
    font-size: $small-font-size;
  }
}

fieldset {
  border: 0;
  margin: 20px 0;
  padding-bottom: 0;
}

fieldset.bordered {
  border: 1px solid $mdn-neutral400;
}

legend.highlighted {
  background-color: $mdn-neutral900;
  color: $text-color-inverted;
  padding: 10px 4px;

  code {
    background-color: transparent;
  }
}

legend.emphasized {
  font-weight: bold;
  padding: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

label.inline {
  display: inline-block;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
textarea {
  border: 1px solid $mdn-neutral400;
  border-radius: 4px;
  padding: 5px 10px;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"] {
  &:focus,
  &:active {
    border-color: $mdn-blue600;
    box-shadow: 1px 1px 1px $mdn-blue600;
    outline: 0;
  }

  &.valid {
    border-color: $mdn-green600;
    outline: 2px dashed $mdn-green600;
    outline-offset: 3px;
  }

  &.valid:focus,
  &.valid:active {
    box-shadow: 1px 1px 1px $mdn-green600;
  }

  &.invalid {
    border-color: $mdn-red500;
    outline: 2px dashed $mdn-red500;
    outline-offset: 3px;
  }

  &.invalid:focus,
  &.invalid:active {
    box-shadow: 1px 1px 1px $mdn-red500;
  }
}

textarea {
  min-height: 120px;
  min-width: 350px;
}
