@use "sass:math";
@use "../vars/" as *;

.icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 21px;
  content: "";
  display: inline-block;
  height: 21px;
  margin-right: math.div($base-spacing, 4);
  vertical-align: sub;
  width: 21px;
}

h2,
h3,
h4 {
  .icon {
    margin-left: math.div($base-spacing, 4);
    vertical-align: middle;
  }
}

/* icon color styles to be applied to SVG elements */
.experimental,
.non-standard {
  fill: $mdn-blue600;
}

.warning,
.deprecated {
  fill: $mdn-yellow700;
}

.obsolete {
  fill: $mdn-red700;
}
