@use "sass:math";
@use "../vars/" as *;
@use "../mixins/" as *;

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  code {
    text-decoration-skip-ink: none;
  }

  &.external {
    display: inline-block;

    &::after {
      background: transparent url("~@mdn/dinocons/general/external.svg") 0 0
        no-repeat;
      background-size: 16px;
      content: "";
      display: inline-block;
      height: 16px;
      margin-left: math.div($base-spacing, 8);
      width: 16px;
    }
  }
}

/* 
 * Utility class for highlighting a link state such
 * as :hover, :focus, :active etc.
 * Prefer using the class over directly using the mixin
 * to avoid unnecessary code duplication
 */
.highlighted-link-state {
  @include highlighted-link-state();
}
