@use "../vars/" as *;

dl {
  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 $base-spacing $base-spacing;
  }
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  gap: $base-spacing;

  &.styled {
    margin: $base-spacing 0;
    padding-left: $base-spacing * 2;
  }

  li {
    flex-basis: 45%;
  }
}

ul.flex-list {
  &.styled {
    li {
      list-style-type: disc;
    }
  }
}

ol.flex-list {
  &.styled {
    li {
      list-style-type: decimal;
    }
  }
}
