@use "sass:math";
@use "../vars/" as *;

/* General Badges */
.badge {
  background-color: $mdn-neutral100;
  border-radius: 6px;
  margin-right: math.div($base-spacing, 4);
  padding: 0 math.div($base-spacing, 2);

  a {
    color: $mdn-neutral100;
  }
}

/* Specification badges */
.spec-living,
.spec-standard {
  color: $mdn-blue700;
}

.spec-cr,
.spec-pr,
.spec-rec,
.spec-rfc {
  color: $mdn-green700;
}

.spec-draft,
.spec-lc,
.spec-wd {
  color: $mdn-orange700;
}

.spec-ed,
.spec-obsolete {
  color: $mdn-red700;
}
