@use "../vars/" as *;

/* notification text styles */
.neutral {
  color: $mdn-blue600;
}

.warning {
  color: $mdn-yellow700;
}

.error {
  color: $mdn-red700;
}

.success {
  color: $mdn-green700;
}
