@use "../vars/" as *;

/* Style for general page overlay. Currently used with
   the main menu on mobile. */
.page-overlay {
  background-color: $overlay-background-color;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  /* This is to accommodate for the page header on all viewports */
  top: 90px;
  width: 100%;
  z-index: $top-layer;
}
