@use "../vars/" as *;

pre {
  background-color: $mdn-neutral100;
  border-left: $code-example-border;
  font-size: $code-base-font-size;
  line-height: $code-example-line-height;
  margin: 0 0 $base-spacing;
  max-width: 100%;
  overflow: auto;
  padding: $base-spacing;
  width: 100%;
}
