@use "sass:math";
@use "../mixins/" as *;
@use "../vars/" as *;

/*
 * Property tables, for an example see :
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#Technical_summary
 */
.properties {
  @include readable-line-length();
  border: $standard-primary-border;
  border-left: $property-table-border;
  width: 100%;

  th,
  td {
    background-color: $mdn-neutral100;
    border: 0;
    border-top: $standard-primary-border;
    display: block;
    padding: math.div($base-spacing, 2);
    vertical-align: top;

    @media #{$mq-small-desktop-and-up} {
      display: table-cell;
    }
  }

  @media #{$mq-small-desktop-and-up} {
    th {
      min-width: 30%;
    }
  }
}
