.col-note {
  width: 100%;
  button {
    border: 1px solid var(--border-primary);
    font-size: 0.75rem;
    margin: 0.25rem;
    padding: 0.25rem 1rem;
    &.active {
      background-color: var(--background-primary);
    }
    &.inactive {
      background-color: var(--background-secondary);
    }
  }
  .col-note-tabs {
    align-items: center;
    display: flex;
    .title {
      margin: 0 0.5rem;
      width: 100%;
    }
  }
  textarea {
    border: none;
    width: 100%;
  }
  .note {
    margin: 0.25rem;
    min-height: 6rem;
    &.active {
      border: 1px solid var(--border-primary);
      display: block;
    }
    &.inactive {
      display: none;
    }
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
