@use "../../vars.scss" as *;

.limit-banner {
  background: var(--background-primary);
  border: 1px solid var(--border-secondary);
  border-radius: var(--elem-radius);
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;

  p {
    margin: 0.5rem;
  }

  a {
    color: var(--text-link);
  }
}
