@import "~@mdn/minimalist/sass/vars/layout";
@import "~@mdn/minimalist/sass/vars/color-palette";

.titlebar-container {
  padding: 0 $base-spacing;

  @media #{$mq-tablet-and-up} {
    padding: $base-spacing 0;
  }

  h1 {
    word-break: break-word;

    @media #{$mq-tablet-and-up} {
      padding: 0 $base-spacing;
    }
  }
}
