@import "~@mdn/minimalist/sass/vars/color-palette";

.titlebar-container {
  background-color: $neutral-550;
  padding: 24px;
  border-top: 1px solid $neutral-525;
  border-bottom: 1px solid $neutral-525;
}
