@import "~@mdn/minimalist/sass/vars/typography";
@import "~@mdn/minimalist/sass/vars/layout";
@import "~@mdn/minimalist/sass/vars/color-palette";

.titlebar-container {
  background-color: $neutral-550;
  border-bottom: 1px solid $neutral-525;
  border-top: 1px solid $neutral-525;
  padding: ($base-spacing / 2) $base-spacing;

  @media #{$mq-tablet-and-up} {
    padding: 0;
  }

  h1 {
    word-break: break-word;
    font-size: $large-font-size-mobile;

    @media #{$mq-tablet-and-up} {
      margin: 0 auto;
      max-width: $max-width-default;
      padding: $base-spacing;
      font-size: $xl-font-size;
    }
  }
}
