:host {
  display: flex;
  flex-direction: column;
  font-size: var(--type-smaller-font-size);
  margin: 0;
  width: 100%;
}

.header {
  background-color: var(--code-background-inline);
  font-weight: 600;
  text-align: center;
  width: 100%;
}

ul {
  background-color: var(--code-background-inline);
  height: 6rem;
  list-style: none;
  margin: 0;
  max-height: 6rem;
  overflow: auto;
  padding: 0;
  width: 100%;
}

li {
  padding: 0 1rem;

  &::before {
    content: ">";
  }
}

code {
  font-family: var(--font-code);
  tab-size: 4;
}
