@use "../ui/vars" as *;

.play-menu {
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--border-primary);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;

  .top-navigation-main {
    justify-content: flex-end;
  }
}

main.play {
  background-color: var(--background-primary);
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  min-height: calc(100vh - var(--sticky-header-height));
  padding: 1rem;
  @media screen and (min-width: $screen-md) {
    grid-template-columns: 1fr 1fr;
  }

  dialog {
    z-index: 1;

    > form {
      display: flex;
      flex-wrap: wrap;
      font-size: var(--type-smaller-font-size);
      gap: 0.5rem;
      padding: 2rem;
      width: 25rem;

      > .buttons {
        display: flex;
        gap: 0.5rem;
      }
    }

    &#playDialog > form {
      max-width: 30rem;
      overflow-wrap: anywhere;

      > .buttons {
        margin: 1rem auto 0;
      }
    }

    &#flagDialog > form {
      > textarea {
        height: 6rem;
        resize: none;
        width: 100%;
      }

      > .buttons {
        margin-left: auto;
      }
    }
  }

  section {
    &.editors {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-height: max(80vh, 30rem);

      aside {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: flex-end;

        .switch {
          margin-right: auto;
        }

        menu {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: flex-end;
          margin: 0;

          button {
            text-transform: uppercase;

            &.red {
              --button-bg: var(--icon-critical);
              --button-bg-hover: var(--icon-warning);
            }
          }
        }
      }

      details.editor-container {
        background-color: var(--background-secondary);
        border: 1px solid var(--border-primary);
        display: flex;
        flex-direction: column;
        min-height: 2.25rem;
        width: 100%;

        &[open] {
          height: 100%;
        }

        summary {
          cursor: pointer;
          padding: 0.25rem;
        }

        .editor {
          // 100% - 2.25rem details header - 0.5rem margin - 1px border
          height: calc(100% - 2.75rem - 1px);
          margin: 0.5rem 0 0;
          overflow: scroll;

          .cm-editor {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    &.preview {
      align-items: center;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 25rem) {
        .place {
          max-width: 20rem;
          min-height: 10rem;

          .pong-box {
            width: 100%;

            .pong {
              flex-direction: row;
            }

            .pong-note {
              margin-top: 0;
            }
          }
        }
      }

      button.flag-example {
        color: var(--text-link);
        cursor: pointer;
        font-size: smaller;
        margin: 0 auto;
        margin-top: 1.5rem;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      iframe {
        height: 100%;
        width: 100%;
      }

      ul {
        background-color: var(--code-background-inline);
        height: 6rem;
        margin: 0.25rem;
        max-height: 6rem;
        overflow: auto;
        width: 100%;

        li {
          padding: 0 1rem;

          &::before {
            content: ">";
          }
        }
      }
    }
  }
}
