@use "sass:map";

@use "../../minimalist/vars/layout";
@use "../themes/color-map-light-mode";
@use "../themes/color-map-dark-mode";

.with-icon,
.with-icon-flex {
  &::after {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 12px;
    content: "";
    display: block;
    height: 12px;
    width: 12px;
  }

  &.mobile-only {
    @media #{layout.$mq-large-desktop-and-up} {
      &::after {
        display: none;
      }
    }
  }
}

.with-icon-flex {
  align-items: center;
  display: flex;

  /* 
   * commonly used on a element such as a button
   * to space the text and icon to their respective
   * positions at the start and end of the element
   */
  &.space-between {
    justify-content: space-between;
  }
}

[aria-haspopup="menu"] {
  &::after {
    background-color: map.get(color-map-light-mode.$light-mode, icon-primary);
    height: 8px;
    mask-image: url("~@mdn/dinocons/arrows/chevron.svg");

    @media (prefers-color-scheme: dark) {
      background-color: map.get(color-map-dark-mode.$dark-mode, icon-primary);
    }
  }

  &[aria-expanded="true"] {
    &::after {
      transform: rotate(180deg);
    }
  }
}
