@use "sass:map";

@use "../../minimalist/vars/layout";
@use "../../theme/index" as theme;

.page-header-main {
  display: none;
  left: 0;
  padding: 0 (theme.$base-spacing * 3) (theme.$base-spacing * 3);
  position: absolute;
  top: 64px;
  width: 100%;
  z-index: layout.$bring-to-front;

  @media #{layout.$mq-tablet-and-up} {
    top: 89px;
  }

  &.show-grid {
    background-color: map.get(theme.$light-mode, background-primary);
    display: block;

    @media (prefers-color-scheme: dark) {
      background-color: map.get(theme.$dark-mode, background-primary);
    }

    @supports (display: grid) {
      display: grid;
      grid-template-rows: 1fr;

      .auth-container {
        grid-row: 1/2;
      }

      .search-toggle,
      .header-search {
        grid-row: 2/3;
      }

      .main-nav {
        grid-row: 3/4;
      }

      .notifications-menu {
        grid-row: 4/5;
      }

      .user-menu {
        grid-row: 5/6;
      }
    }
  }

  @media #{layout.$mq-large-desktop-and-up} {
    align-items: center;
    display: flex;
    gap: theme.$base-spacing * 2;
    left: inherit;
    padding: 0;
    position: initial;
    top: inherit;
    z-index: inherit;

    .main-nav {
      flex: 3 1 40%;
    }

    .header-search {
      flex: 0 1 auto;
    }

    .auth-container {
      flex: 0 1 auto;
    }
  }
}

/* displays elements in container in `column-reverse` flow on
   mobile and then switches to `row` on desktop */
.show-reverse-to-row {
  display: flex;
  flex-flow: column-reverse;

  @media #{layout.$mq-large-desktop-and-up} {
    flex-flow: row;
  }
}
