@use "../../base/styles" as *;
@use "../../base/theme" as *;

.page-header-main {
  display: none;
  left: 0;
  padding: 1rem;
  position: absolute;
  top: 64px;
  width: 100%;
  z-index: 1000;

  &.show-grid {
    background-color: $background-primary;
    display: block;

    @supports (display: grid) {
      display: grid;
      grid-template-rows: 1fr;

      .auth-container {
        grid-row: 1/2;
      }

      .search-toggle,
      .header-search {
        grid-row: 2/3;
      }

      .main-nav {
        grid-row: 3/4;
      }

      .notifications-menu {
        grid-row: 4/5;
      }

      .user-menu {
        grid-row: 5/6;
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    left: inherit;
    padding: 0;
    position: initial;
    top: inherit;
    z-index: inherit;

    .main-nav {
      flex: 3 1 40%;
    }

    .header-search {
      flex: 0 1 auto;
    }

    .auth-container {
      flex: 0 1 auto;
    }
  }
}

/* displays elements in container in `column-reverse` flow on
   mobile and then switches to `row` on desktop */
.show-reverse-to-row {
  display: flex;
  flex-flow: column-reverse;

  @media screen and (min-width: $screen-md) {
    flex-flow: row;
  }
}
