@use "../../base/styles" as *;
@use "../../base/theme" as *;
.sign-out-form {
  @media screen and (min-width: $screen-md) {
    border-top: 1px solid $border-primary;
  }
}

button.signout-button {
  color: $text-primary;
  padding: 0.5rem;
  width: 100%;

  @media screen and (min-width: $screen-md) {
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }

  &:hover,
  &:focus {
    background-color: $background-secondary;
  }
}
