@use "sass:map";

@use "../../minimalist/vars/layout";
@use "../../theme/index" as theme;

.sign-out-form {
  @media #{layout.$mq-large-desktop-and-up} {
    border-top: 1px solid map.get(theme.$light-mode, border-primary);

    @media (prefers-color-scheme: dark) {
      border-top: 1px solid map.get(theme.$dark-mode, border-primary);
    }
  }
}

button.signout-button {
  color: map.get(theme.$light-mode, text-primary);
  padding: theme.$base-spacing;
  width: 100%;

  @media #{layout.$mq-large-desktop-and-up} {
    border-radius: theme.$default-border-radius;
    margin-top: theme.$base-spacing;
    padding: theme.$base-spacing;
  }

  @media (prefers-color-scheme: dark) {
    color: map.get(theme.$dark-mode, text-primary);
  }

  &:hover,
  &:focus {
    background-color: map.get(theme.$light-mode, background-secondary);

    @media (prefers-color-scheme: dark) {
      background-color: map.get(theme.$dark-mode, background-secondary);
    }
  }
}
