@use "sass:color";

@use "../../vars/sass/variables" as style-dictionary;

$mdn-high-contrast-black-color-text-primary: style-dictionary.$token-high-contrast-black-text-primary;
$mdn-high-contrast-black-color-text-secondary: style-dictionary.$token-high-contrast-black-text-secondary;
$mdn-high-contrast-black-color-text-inactive: color.adjust(
  style-dictionary.$token-high-contrast-black-text-inactive,
  $alpha: -0.35
);
$mdn-high-contrast-black-color-text-link: style-dictionary.$token-high-contrast-black-text-link;

$mdn-high-contrast-black-color-background-primary: style-dictionary.$token-high-contrast-black-background-primary;
$mdn-high-contrast-black-color-background-secondary: style-dictionary.$token-high-contrast-black-background-secondary;
$mdn-high-contrast-black-color-background-tertiary: style-dictionary.$token-high-contrast-black-background-tertiary;

$mdn-high-contrast-black-color-border-primary: style-dictionary.$token-high-contrast-black-border-primary;
$mdn-high-contrast-black-color-border-secondary: style-dictionary.$token-high-contrast-black-border-secondary;

$mdn-high-contrast-black-color-button-primary-default: style-dictionary.$token-high-contrast-black-button-primary-default;
$mdn-high-contrast-black-color-button-primary-hover: style-dictionary.$token-high-contrast-black-button-primary-hover;
$mdn-high-contrast-black-color-button-primary-active: style-dictionary.$token-high-contrast-black-button-primary-active;
$mdn-high-contrast-black-color-button-primary-inactive: color.adjust(
  style-dictionary.$token-high-contrast-black-button-primary-inactive,
  $alpha: -0.35
);

$mdn-high-contrast-black-color-button-secondary-default: style-dictionary.$token-high-contrast-black-button-secondary-default;
$mdn-high-contrast-black-color-button-secondary-hover: style-dictionary.$token-high-contrast-black-button-secondary-hover;
$mdn-high-contrast-black-color-button-secondary-active: style-dictionary.$token-high-contrast-black-button-secondary-active;
$mdn-high-contrast-black-color-button-secondary-inactive: color.adjust(
  style-dictionary.$token-high-contrast-black-button-secondary-inactive,
  $alpha: -0.35
);

$mdn-high-contrast-black-color-icon-primary: style-dictionary.$token-high-contrast-black-icon-primary;
$mdn-high-contrast-black-color-icon-secondary: style-dictionary.$token-high-contrast-black-icon-secondary;
$mdn-high-contrast-black-color-icon-information: style-dictionary.$token-high-contrast-black-icon-information;
$mdn-high-contrast-black-color-icon-warning: style-dictionary.$token-high-contrast-black-icon-warning;
$mdn-high-contrast-black-color-icon-critical: style-dictionary.$token-high-contrast-black-icon-critical;
$mdn-high-contrast-black-color-icon-success: style-dictionary.$token-high-contrast-black-icon-success;

$mdn-high-contrast-black-color-accent-primary: style-dictionary.$token-high-contrast-black-accent-primary;
$mdn-high-contrast-black-color-accent-secondary: style-dictionary.$token-high-contrast-black-accent-secondary;

$mdn-high-contrast-black-color-shadow01: style-dictionary.$token-high-contrast-black-shadows-shadow01;
$mdn-high-contrast-black-color-shadow02: style-dictionary.$token-high-contrast-black-shadows-shadow02;

$mdn-high-contrast-black-color-focus01: style-dictionary.$token-high-contrast-black-focus-focus01;
$mdn-high-contrast-black-color-focus02: style-dictionary.$token-high-contrast-black-focus-focus02;
