.mdn-form {
  font-family: var(--font-body);
  font-size: var(--type-smaller-font-size);
  font-weight: var(--font-body-strong-weight);
}

.mdn-form-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 1rem;

  &:first-child {
    padding-top: 0;
  }

  &.is-button-row {
    display: flex;
    justify-content: flex-end;

    .button {
      width: auto;
    }
  }

  [type="text"],
  select {
    background: var(--background-primary);
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    flex: 1 1 100%;
    font-size: var(--type-smaller-font-size);
    min-width: 0;
    padding: 0.5rem;

    &:focus {
      border: 1px solid var(--button-secondary-border-focus);
      box-shadow: var(--focus-effect);
      outline: 0 none;
    }
  }

  select {
    appearance: none;
  }

  .select-wrap {
    display: flex;
    flex: 1 1 100%;
    position: relative;
  }

  .select-wrap::after {
    background-color: var(--icon-primary);
    content: "";
    display: block;
    height: 16px;
    mask-image: url("../../../assets/icons/small-arrow.svg");
    mask-size: cover;
    pointer-events: none;
    position: absolute;
    right: 0.5rem;
    top: calc(50% - 0.5rem);
    width: 16px;
  }

  label {
    width: 100%;
  }
}
