@use "../../vars" as *;
@use "../../base/typography" as *;

.submenu {
  background-color: var(--background-primary);
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  &.show {
    display: block;
  }

  li {
    width: 100%;
  }

  a,
  .submenu-item {
    align-items: center;
    border-bottom: 1px solid var(--border-secondary);
    color: var(--text-primary);
    display: flex;
    gap: 0.5rem;
    height: 100%;
    padding: 1rem 0.5rem;
    width: 100%;

    li:last-child & {
      border-bottom: none;
    }

    &:hover,
    &:focus {
      background-color: var(--background-secondary);
      text-decoration: none;
    }
  }

  .active-menu-item {
    background-color: var(--accent-primary);
  }

  @media screen and (min-width: $screen-md) {
    border: 1px solid var(--border-primary);
    border-radius: 0.25rem;
    box-shadow: var(--shadow-01);
    padding: 0.5rem;
    position: absolute;
    width: 25rem;
    z-index: 1000;

    .submenu-item {
      border-bottom: 0;
      border-radius: 0.25rem;
      padding: 1rem;
    }
  }
}

.submenu-header {
  display: block;
  padding: 1rem;

  .submenu-item {
    padding: 0;
  }

  .submenu-item:hover {
    background: none;
  }

  @media screen and (min-width: $screen-md) {
    border-bottom: 1px solid var(--border-primary);
  }
}

.submenu-icon {
  background-color: var(--icon-primary);
  background-size: 10px;
  border-radius: var(--elem-radius);
  height: 2rem;
  padding: 0.5rem;
  position: relative;
  width: 2rem;

  &::before {
    background-color: var(--background-primary);
    content: "";
    display: block;
    height: 16px;
    /* half the width */
    left: 8px;
    mask-image: url("~@mdn/dinocons/general/asterisk.svg");
    position: absolute;
    /* half the height */
    top: 8px;
    width: 16px;
  }
}

.submenu-item {
  font: var(--type-body-m);
}

.submenu-item-description {
  display: none;

  @media screen and (min-width: $screen-md) {
    display: block;
    margin-bottom: 0;
    font: var(--type-body-s);
  }
}

.submenu-item-subtext {
  font: var(--type-emphasis-m);
}
