@use "../../base/styles" as *;
@use "../../base/theme" as *;

.submenu {
  background-color: $background-primary;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $screen-md) {
    border: 1px solid $border-primary;
    border-radius: 0.25rem;
    box-shadow: $shadow-01;
    padding: 0.5rem;
  }

  a,
  button {
    align-items: center;
    border-bottom: 1px solid $border-secondary;
    color: text-primary;
    display: flex;
    gap: 0.5rem;
    height: 100%;
    padding: 0.5rem;
    width: 100%;

    @media screen and (max-width: $screen-sm) {
      width: unset;
    }

    @media screen and (min-width: $screen-md) {
      border-bottom: 0;
      border-radius: 0.25rem;
      padding: 0.5rem;
    }

    &:hover,
    &:focus {
      background-color: $background-secondary;
      text-decoration: none;
    }
  }

  &.show {
    display: block;

    @media screen and (min-width: $screen-md) {
    }
  }

  .active-menu-item {
    background-color: $accent-primary;
  }

  li {
    width: 100%;

    @media screen and (max-width: $screen-sm) {
      width: unset;
    }
  }

  .submenu-icon {
    background-color: $icon-primary;
    background-size: 10px;
    border-radius: 4px;
    height: 16px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    position: relative;
    width: 16px;

    &::before {
      background-color: $background-primary;
      content: "";
      display: block;
      height: 16px;
      /* half the width */
      left: 8px;
      mask-image: url("~@mdn/dinocons/general/asterisk.svg");
      position: absolute;
      /* half the height */
      top: 8px;
      width: 16px;
    }
  }

  .submenu-item-heading {
    font-weight: normal;
    margin-bottom: 0.5rem;

    @media screen and (min-width: $screen-md) {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .submenu-item-description {
    display: none;

    @media screen and (min-width: $screen-md) {
      display: block;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  .submenu-item-subtext {
    font-size: 0.8125rem;
  }
}
