@use "~@mdn/minimalist/sass/mixins/utils" as *;
@use "../../base/styles" as *;

.hero {
  background-color: $mdn-color-blue-20;
  padding: 1rem;
  position: relative;

  @media screen and (max-width: $screen-sm) {
    background: $mdn-color-blue-20
      url("../../../assets/home-masthead-background.svg") 0 0 repeat;
    background-size: cover;
    padding: 0.5rem;
    padding-top: 75px;
  }

  @media screen and (min-width: $screen-md) {
    padding-bottom: 1rem;
  }
}

.hero-content {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;

  h1 {
    background-color: $mdn-color-dark-grey-90;
    color: white;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;

    @media screen and (min-width: $screen-md) {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      max-width: 750px;
    }
  }

  ul {
    @include reset-list();

    @media screen and (min-width: $screen-md) {
      display: flex;
      justify-content: space-around;
    }

    li {
      flex-basis: 35%;
      position: relative;

      @media screen and (min-width: $screen-md) {
        flex-basis: 25%;
      }
    }
  }

  a {
    border-bottom: 2px solid var(--border-primary);
    color: black;
    display: inline-block;
    padding: 0.5rem 0;
    width: 100%;

    &::after {
      background: transparent url("~@mdn/dinocons/arrows/arrow.svg") 0 0
        no-repeat;
      background-size: 16px;
      content: "";
      display: inline-block;
      height: 16px;
      position: absolute;
      right: 6px;
      top: 19px;
      transform: rotate(90deg);
      width: 16px;
    }

    &:hover,
    &:focus {
      &::after {
        right: 4px;
      }
    }
  }
}
