@import "~@mdn/minimalist/sass/vars/typography";

#sitemap {
  min-height: 800px;

  div.opening-in-your-editor {
    float: right;
    font-size: $small-font-size;
  }
  ul.breadcrumb {
    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 5px;

      &::after {
        content: " /";
      }
    }
    li.last,
    li.this-doc {
      &::after {
        content: "";
      }
    }

    li.this-doc {
      margin-left: 20px;
    }
  }

  .tree li.highlight {
    background-color: #efefef;
  }

  .footer-note {
    margin-top: 100px;
  }
}
