#sitemap {
  min-height: 800px;

  div.opening-in-your-editor {
    float: right;
    font-size: 0.8125rem;
  }

  ul.breadcrumb {
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 5px;

      &::after {
        content: " /";
      }
    }

    li.last,
    li.this-doc {
      &::after {
        content: "";
      }
    }

    li.this-doc {
      margin-left: 20px;
    }
  }

  .tree li.highlight {
    background-color: var(--background-secondary);
  }

  .footer-note {
    margin-top: 100px;
  }
}
