@use "../../ui/vars" as *;

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  iframe {
    height: 50vw;
    padding: 0;

    @media (min-width: $screen-md) {
      height: initial;
      width: 48%;
    }
  }

  .testimonial-copy {
    margin: 0 auto;
    max-width: 18rem;
    text-align: center;

    @media (min-width: $screen-md) {
      margin: initial;
      text-align: initial;
    }

    img {
      margin: 0 auto;

      @media (min-width: $screen-md) {
        margin: initial;
      }
    }

    p {
      font-size: 18px;
      line-height: 120%;
    }

    .author-name,
    .author-title {
      display: block;
      /* MDN UI / Body / M */
      font-size: 13px;
      line-height: 1.2;
    }
  }

  .quotation-mark {
    background-color: var(--icon-primary);
    height: 10px;
    margin-left: 4px;
    mask-image: url("./quote.svg");
    mask-size: cover;
    width: 10px;
  }
}
