.mdn-cta-container {
  background-color: #212121;
  color: white;
  display: flex;
  z-index: 999;
  align-items: center;
  min-height: 40px;
  height: 100%;
  padding: 0 1rem;

  .mdn-cta-copy {
    margin: 0;
    padding: 8px 0;
  }

  button {
    background: none;
    border: none;
    opacity: 0.6;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      opacity: 1;
    }

    .icon {
      height: 16px;
      color: white;
    }
  }

  .mdn-cta-content {
    margin: 0 auto;
  }

  a {
    min-height: 0;
    color: var(--color-announcement-banner-accent);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .underlined {
    font-style: normal;
    text-decoration: underline var(--color-announcement-banner-accent) 0.15rem;
  }

  .mdn-plus {
    color: var(--color-announcement-banner-accent);
    font-size: 1.2rem;
    font-weight: 700;
  }
}
