@use "../../ui/base/styles" as *;

.offer-overview {
  background-color: $mdn-color-dark-grey-90;
}

a {
  text-decoration: none;
  text-align: center;
  color: #141422;
  font-family: Inter;
  font-weight: 600;
  line-height: 175%;
}
