@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

a {
  text-decoration: none;
  text-align: center;
  color: #141422;
  font-family: Inter;
  font-weight: 600;
  line-height: 175%;
}
