@use "../../ui/vars" as *;

.offer-overview {
  background-color: $mdn-color-dark-grey-90;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* This should be replaced at some point when the top navigation has theming implemented */
