#document-flaws {
  margin: 20px;

  details {
    margin-bottom: 20px;
  }

  .flaw .fetch-error {
    p {
      font-weight: bold;
    }
  }
}

a.flawed--broken_link_404 {
  border: 1px solid red;
}
a.flawed--broken_link_redirect {
  border: 1px solid orange;
}
