@use "sass:map";

@use "../../theme/index" as theme;
@use "../../theme/themes/_color-map-light-mode" as light-mode-color-map;

@import "~@mdn/minimalist/sass/vars/mdn-web-docs-palette";
@import "~@mdn/minimalist/sass/vars/layout";

$menu-box-shadow: 0 2px 8px 0 $mdn-neutral500;

.dropdown-container {
  position: relative;

  .dropdown-menu-label {
    border: 0;
    color: $text-color;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;

    &:active {
      background-color: transparent;
    }
  }

  .dropdown-menu-items {
    background-color: $white;
    display: none;
    flex-direction: column;
    min-width: 100%;

    @media #{$mq-large-desktop-and-up} {
      border-radius: theme.$default-border-radius * 2;
      box-shadow: $menu-box-shadow;
      margin: ($base-unit * 2) 0;
      padding: theme.$base-spacing;
      position: absolute;
      right: 0;
      z-index: $top-layer;
    }

    li:first-child {
      border-bottom: 1px solid
        map.get(light-mode-color-map.$colors, border-primary);
      margin-bottom: theme.$base-spacing;
      padding: theme.$base-spacing;
    }

    a,
    button {
      color: $mdn-neutral900;
      display: inline-block;
      padding: theme.$base-spacing;
      /* buttons have centered text by default */
      text-align: left;
      white-space: nowrap;
      width: 100%;

      &:hover,
      &:focus {
        background-color: map.get(
          light-mode-color-map.$colors,
          button-secondary-hover
        );
        border-radius: theme.$default-border-radius;
        text-decoration: none;
      }
    }

    .signout-button-container {
      border-top: 1px solid
        map.get(light-mode-color-map.$colors, border-primary);
      margin-top: theme.$base-spacing;
    }

    .signout-button {
      margin-top: theme.$base-spacing;
      max-width: initial;
      text-decoration: none;
    }
  }

  .show {
    display: block;

    @media #{$mq-large-desktop-and-up} {
      display: flex;
    }
  }
}
