@use "../../vars" as *;

.card {
  background-color: #fff;
  border-radius: var(--elem-radius);
  box-shadow: var(--shadow-01);
  margin: 0 auto (1rem);
  max-width: 95%;
  padding: 0.5rem;

  @media (max-width: $screen-sm) {
    max-width: 340px;
  }

  &.featured {
    border-top: 18px solid $mdn-color-pink-60;
  }

  .card-type-heading {
    color: $mdn-color-pink-60;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.2;
    margin: 0.5rem 0;

    @media (min-width: $screen-md) {
      font-size: 1rem;
      margin-top: 0;
    }
  }

  h3 {
    font-size: 1rem;
    font-weight: var(--font-body-strong-weight);
    margin-bottom: 1rem;

    @media (min-width: $screen-md) {
      font-size: 1rem;
    }
  }

  .author {
    border-bottom: var(--border-primary);
    margin: 0.5rem 0;
    padding-bottom: 1rem;
  }

  ul,
  li {
    font-size: 0.8125rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
