@use "sass:math";

@use "../../minimalist/vars/layout";
@use "../../minimalist/vars/typography";
@use "../../minimalist/mixins/utils" as mx-utils;

@use "../../theme/index" as theme;
@use "../../theme/themes/light-mode" as light-mode;

.breadcrumbs-container {
  a {
    align-items: center;
    display: flex;

    &:link,
    &:visited {
      color: light-mode.$mdn-light-color-text-secondary;
    }
  }

  ol {
    @include mx-utils.reset-list();
    line-height: typography.$default-line-height;
  }

  li {
    display: inline-flex;
    hyphens: auto;

    .breadcrumb {
      &::after {
        background: transparent url("~@mdn/dinocons/arrows/chevron.svg") 0 0
          no-repeat;
        background-size: 12px;
        content: "";
        display: block;
        height: 12px;
        transform: rotate(-90deg);
        width: 12px;
      }
    }

    [property="name"] {
      display: inline-block;
      margin: 0 theme.$base-spacing;
    }
  }
}
