@use "../../ui/base/styles" as *;
@use "../../ui/base/theme" as *;

.document-edit {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .edit-header {
    .close {
      font-size: 0.8125rem;
      margin-left: 1rem;
    }
  }
}

.document-edit-forms {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 1em;
}

.document-preview {
  border: 2px solid $mdn-color-red-40;
  grid-column: 2/3;
  grid-row: 2/3;
  max-height: 90vh;
  overflow-y: scroll;
}
