.document-form {
  background-color: white;

  textarea,
  input {
    font-family: monospace;
  }
  .action-options {
    label {
      display: inline;
    }
  }

  .form-warning {
    font-weight: bold;
    color: #ffaa00;
  }
}
