.document-form {
  background-color: white;

  textarea,
  input {
    font-family: monospace;
  }

  .search-widget input {
    width: 100%;
  }

  .form-warning {
    font-weight: bold;
    color: #ffaa00;
  }
}
