@import "~@mdn/minimalist/sass/vars/layout";
// @import "~@mdn/minimalist/sass/vars/color-palette";
@import "~@mdn/minimalist/sass/mixins/utils";

$modal-background-color: rgba(0, 0, 0, 0.8);

.modal {
  background-color: $modal-background-color;
  //   bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $top-layer;

  //   top: 50%;
  //   left: 50%;
  //   right: auto;
  //   bottom: auto;
  //   margin-right: -50%;
  //   transform: translate(-50%, -50%);

  > * {
    position: relative;
  }

  .edit-modal {
    background-color: white;
    border-radius: 3px;
  }

  .close-modal {
    background: none;
    border: 0;
    position: absolute;
    right: -23px;
    top: -17px;

    span {
      @include visually-hidden();
    }

    &::before {
      background: transparent url("~@mdn/dinocons/general/close-modal.svg") 0 0
        no-repeat;
      background-size: 24px;
      content: "";
      display: block;
      height: 24px;
      width: 24px;
    }
  }
}

@supports (display: flex) {
  .modal {
    align-items: center;
    display: flex;
    justify-content: center;

    > * {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: $base-spacing;
    }
  }
}
