@use "sass:color";

@use "../../minimalist/vars/layout";

@use "../../theme/index" as theme;
@use "../../theme/themes/light-mode" as light;
@use "../../theme/themes/dark-mode" as dark;
@use "../../theme/themes/high-contrast-white";
@use "../../theme/themes/high-contrast-black";

.theme-switcher-menu {
  align-items: center;
  border-bottom: 1px solid light.$mdn-light-color-border-secondary;
  display: flex;
  gap: theme.$base-spacing;
  padding: theme.$base-spacing * 2;
  width: 100%;

  @media #{layout.$mq-small-desktop-and-up} {
    border-bottom: 0;
  }

  /* base style for an icon buttons is defined by `.icon-button`
     in client/src/ui/atoms/icon-button/index.scss */
  &::before {
    mask-image: url("~@mdn/dinocons/plus/theme.svg");
  }

  &::after {
    position: absolute;
    right: theme.$base-spacing * 2;
  }
}

.themes-menu {
  background-color: light.$mdn-light-color-background-primary;
  display: none;
  list-style: none;
  margin: 0;
  padding: theme.$base-spacing;

  button {
    align-items: center;
    background: none;
    border-bottom: 1px solid light.$mdn-light-color-border-secondary;
    color: light.$mdn-light-color-text-primary;
    display: flex;
    gap: theme.$base-spacing;
    height: 100%;
    padding: theme.$base-spacing;
    width: 100%;

    @media #{layout.$mq-small-desktop-and-up} {
      border-bottom: 0;
      border-radius: theme.$default-border-radius;
      gap: initial;
    }

    &:hover,
    &:focus {
      background-color: color.adjust(
        light.$mdn-light-color-accent-primary,
        $alpha: -0.9
      );
      text-decoration: none;
    }
  }

  @media #{layout.$mq-small-desktop-and-up} {
    border: 1px solid light.$mdn-light-color-border-primary;
    border-radius: theme.$default-border-radius * 2;
    box-shadow: light.$mdn-light-color-shadow01;
    padding: theme.$base-spacing;
  }

  &.show {
    display: block;

    @media #{layout.$mq-small-desktop-and-up} {
      @include theme.submenu-base-desktop();
      gap: 0;
      left: initial;
      right: 0;
    }
  }

  .active-menu-item,
  .active-menu-item:hover,
  .active-menu-item:focus {
    background-color: light.$mdn-light-color-accent-primary;
    color: theme.$white;
  }

  li {
    width: 100%;

    @media #{layout.$mq-tablet-and-up} {
      width: unset;
    }
  }
}

/* DARK MODE */
.dark {
  .themes-menu {
    background-color: dark.$mdn-dark-color-background-primary;

    @media #{layout.$mq-small-desktop-and-up} {
      border: 1px solid dark.$mdn-dark-color-border-primary;
      box-shadow: dark.$mdn-dark-color-shadow01;
    }

    button {
      border-color: dark.$mdn-dark-color-border-secondary;
      color: dark.$mdn-dark-color-text-primary;

      &:hover,
      &:focus {
        background-color: dark.$mdn-dark-color-background-secondary;
      }
    }

    .active-menu-item,
    .active-menu-item:hover,
    .active-menu-item:focus {
      background-color: dark.$mdn-dark-color-accent-primary;
    }
  }
}

/* HIGH CONTRAST WHITE MODE */
.high-contrast-white {
  .themes-menu {
    background-color: high-contrast-white.$mdn-high-contrast-white-color-background-primary;

    @media #{layout.$mq-small-desktop-and-up} {
      border: 1px solid
        high-contrast-white.$mdn-high-contrast-white-color-border-primary;
      box-shadow: high-contrast-white.$mdn-high-contrast-white-color-shadow01;
    }

    button {
      border-color: high-contrast-white.$mdn-high-contrast-white-color-border-secondary;
      color: high-contrast-white.$mdn-high-contrast-white-color-text-primary;

      &:hover,
      &:focus {
        background-color: high-contrast-white.$mdn-high-contrast-white-color-background-secondary;
      }
    }

    .active-menu-item,
    .active-menu-item:hover,
    .active-menu-item:focus {
      background-color: high-contrast-white.$mdn-high-contrast-white-color-accent-primary;
      color: theme.$white;
    }
  }
}

/* HIGH CONTRAST BLACK MODE */
.high-contrast-black {
  .themes-menu {
    background-color: high-contrast-black.$mdn-high-contrast-black-color-background-primary;

    @media #{layout.$mq-small-desktop-and-up} {
      border: 1px solid
        high-contrast-black.$mdn-high-contrast-black-color-border-primary;
      box-shadow: high-contrast-black.$mdn-high-contrast-black-color-shadow01;
    }

    button {
      border-color: high-contrast-black.$mdn-high-contrast-black-color-border-secondary;
      color: high-contrast-black.$mdn-high-contrast-black-color-text-primary;

      &:hover,
      &:focus {
        background-color: high-contrast-black.$mdn-high-contrast-black-color-background-secondary;
      }
    }

    .active-menu-item,
    .active-menu-item:hover,
    .active-menu-item:focus {
      background-color: high-contrast-black.$mdn-high-contrast-black-color-accent-primary;
      color: theme.$black;
    }
  }
}
