@use "sass:color";

@use "../../base/styles" as *;
@use "../../base/theme" as *;

.theme-switcher-menu {
  align-items: center;
  border-bottom: 1px solid $border-secondary;
  display: flex;
  gap: 0.5rem;
  width: 100%;

  @media screen and (min-width: $screen-md) {
    border-bottom: 0;
  }

  /* base style for an icon buttons is defined by `.icon-button`
     in client/src/ui/atoms/icon-button/index.scss */
  &::before {
    mask-image: url("~@mdn/dinocons/plus/theme.svg");
  }

  &::after {
    position: absolute;
    right: 0.5rem;
  }

  .themes-menu {
    background-color: $background-primary;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0.5rem;

    button {
      align-items: center;
      background: none;
      border-bottom: 1px solid $border-secondary;
      color: $text-primary;
      display: flex;
      gap: 0.5rem;
      height: 100%;
      padding: 0.5rem;
      width: 100%;

      @media screen and (min-width: $screen-md) {
        border-bottom: 0;
        border-radius: 0.25rem;
        gap: initial;
      }

      &:hover,
      &:focus {
        background-color: var(--accent-primary-engage);
        text-decoration: none;
      }
    }

    @media screen and (min-width: $screen-md) {
      &.show {
        border-radius: 0.5rem;
        border: 1px solid $border-primary;
        box-shadow: $shadow-01;
        display: block;
        gap: 0;
        left: initial;
        padding: 0.5rem;
        position: absolute;
        right: 0;
        top: 50px;
      }

      button {
        text-align: left;
      }
    }

    .active-menu-item,
    .active-menu-item:hover,
    .active-menu-item:focus {
      background-color: $accent-primary;
      color: white;
    }

    li {
      width: 100%;

      @media screen and (max-width: $screen-sm) {
        width: unset;
      }
    }
  }
}
