@use "../../../ui/vars.scss" as *;

.sidebar-filter-container {
  background: linear-gradient(
    to bottom,
    var(--background-primary) 0% calc(100% - 1.5rem),
    rgb(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  font-size: var(--type-smaller-font-size);
  padding-bottom: 1.5rem; /* Height + Space + 3rem for background */
  padding-top: 0.5rem; /* Space to breadrumbs. */
  width: 100%;

  @media screen and (max-width: $screen-md) {
    display: none;
  }

  .sidebar-filter {
    display: flex;
  }

  .sidebar-filter-label {
    left: 0.5rem; /* Moves icon inside field. */
    position: relative;
    top: 0.3rem; /* Aligns icon with input. */
    width: 0; /* Avoid moving field right. */
  }

  .sidebar-filter-input-field {
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    background-color: var(--background-primary);
    border: 1px solid var(--border-primary);
    border-radius: 100px;
    color: var(--text-primary);
    height: var(--form-elem-height);
    padding-left: 1.5rem;

    &:focus {
      border-color: var(--category-color);
      box-shadow: 0 0 0 3px var(--blend-color), 0 0 0 3px var(--category-color);
      outline: 0 none;
    }

    &[value=""] {
      width: 5rem;
    }

    &:focus,
    &:not([value=""]) {
      padding-right: 7rem;
      width: 100%;

      ~ .button.clear-sidebar-filter-button {
        display: block;
      }
    }

    ~ .sidebar-filter-count {
      background: var(--mark-color);
      border-radius: 1rem;
      display: block;
      font-size: var(--type-tiny-font-size);
      padding: 0 0.25rem;
      position: absolute;
      right: 2rem;
      top: -2.1rem;
    }

    ~ .button.clear-sidebar-filter-button {
      --button-color: var(--icon-secondary);
      --button-height: 1.5rem;
      --button-padding: 0;
      display: none;
      left: calc(100% - 2rem);
      margin-top: 0.25rem;
      position: absolute;
      width: 1.5rem;

      &:hover {
        background: transparent;
      }
    }
  }

  .icon {
    background-color: var(--icon-secondary);
    position: unset;
    z-index: unset;
  }

  .sidebar-filter-footer {
    display: flex;
    flex-direction: column;
    font-size: var(--type-tiny-font-size);
    margin-left: 0.7rem;
    margin-top: 0.5rem;

    .glean-thumbs {
      height: 1.5rem;
    }
  }
}

.sidebar {
  mark {
    background-color: var(--mark-color);
  }
}
