@use "../../../ui/vars" as *;

.sidebar {
  --offset: var(--main-document-header-height);
  --max-height: calc(100vh - var(--offset));
  color: var(--text-secondary);

  .backdrop {
    display: none;
  }

  // apply drawer styles only to the sizes that need them.
  @media screen and (max-width: #{$screen-md - 1}) {
    height: 100vh;
    left: 0;
    max-height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: var(--z-index-top);
    @media screen and (prefers-reduced-motion: reduce) {
      .sidebar-inner {
        background: var(--background-primary);
        border-right: 1px solid var(--border-primary);
        height: var(--max-height);
        max-height: var(--max-height);
        max-width: 20rem;
        overflow: hidden; //animations look janky if scrollbars are present
        overflow: auto;
        padding: 1rem;
        position: relative;
        transform: translateX(-100%);
        transition: none;
        width: 80vw;
        will-change: transform;
        z-index: var(--z-index-top);
      }
    }

    .sidebar-inner {
      background: var(--background-primary);
      border-right: 1px solid var(--border-primary);
      height: var(--max-height);
      max-height: var(--max-height);
      max-width: 20rem;
      overflow: hidden; //animations look janky if scrollbars are present
      overflow: auto;
      padding: 1rem;
      position: relative;
      transform: translateX(-100%);
      transition: 0.2s linear transform;
      width: 80vw;
      will-change: transform;
      z-index: var(--z-index-top);
    }
    @media screen and (prefers-reduced-motion: reduce) {
      .backdrop {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 0;
        bottom: 0;
        cursor: default;

        display: flex;
        left: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: none;
        width: 100%;
        will-change: opacity;
        z-index: var(--z-index-mid);
      }
    }

    .backdrop {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 0;
      bottom: 0;
      cursor: default;

      display: flex;
      left: 0;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition: opacity 0.2s linear;
      width: 100%;
      will-change: opacity;
      z-index: var(--z-index-mid);
    }

    &.is-animating {
      transform: translateX(0);
    }

    &.is-expanded {
      transform: translateX(0); // no transition on this one, just show it.

      .sidebar-inner {
        transform: translateX(0);
      }

      .backdrop {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    display: flex;
    max-height: var(--max-height);
    overflow: auto;
    position: sticky;
    top: var(--offset);
  }

  &-heading {
    color: var(--text-primary);
    font: var(--type-heading-h5);
    letter-spacing: 1.5px;
    margin: 0;
  }

  em {
    background-color: var(--background-toc-active);
    border-left: 2px solid var(--category-color);
    display: inline-block;
    hyphens: auto;
    padding: 0.25rem;
    width: 100%;
  }

  a {
    color: var(--text-secondary);
    display: inline-flex;
    hyphens: auto;
    padding: 0.25rem;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    /* stylelint-disable-next-line selector-no-qualifying-type */
    &[aria-current="page"] {
      background: var(--border-secondary);
      border-radius: var(--elem-radius);
    }
  }

  .no-link {
    display: inline-flex;
    padding: 0.25rem;
  }

  // TODO: Find these and add a class, if possible. These are section headings
  strong {
    display: flex;
    font-size: var(--type-base-font-size-rem);
    margin-top: 1rem;
  }

  .icon {
    align-self: center;
    background-size: 14px;
    height: 14px;
    margin-right: -0.25rem;
    mask-size: 14px;
    width: 14px;
  }

  summary,
  li {
    margin-bottom: 0.5rem;
  }

  ol {
    font-size: var(--type-smaller-font-size);

    ol,
    ul {
      padding-left: 0.5rem;
    }

    ol {
      li {
        .icon {
          margin-right: 0.01em;
        }

        &.no-bullet {
          display: block;
          font-weight: var(--font-body-strong-weight);
          list-style-type: none;
        }
      }
    }
  }

  details {
    margin: 0.75rem 0;

    ol {
      padding-left: 0.75rem;
    }
  }

  /* This is for sidebars where there is no sub-heading
   * for example: https://developer-mozilla.org/en-US/docs/Web/HTML/Element/progress
   */
  .sidebar-heading ~ ol,
  .sidebar-heading ~ div > ol {
    margin-top: 1rem;
  }

  summary {
    cursor: pointer;
    font-size: var(--type-smaller-font-size);
  }

  code {
    background-color: initial;
    border-radius: var(--elem-radius);
    font-family: var(--font-code);
    font-size: var(--type-smaller-font-size);
    line-height: 1.2;
    padding: 0.125rem;
    white-space: normal;
    word-wrap: break-word;
  }

  /* icons in sidebars */
  .icon-experimental,
  .icon-nonstandard {
    background-color: var(--icon-information);
  }

  .icon-deprecated {
    background-color: var(--icon-critical);
  }
}
