@use "../../../ui/vars" as *;

.sidebar {
  font-size: 0.8125rem;

  a {
    color: var(--text-link);
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  ol {
    width: 100%;

    ol,
    ul {
      @media screen and (max-width: $screen-sm) {
        padding-left: 0.5rem;
      }
    }
  }

  summary,
  li {
    margin-bottom: 0.5rem;
  }

  a {
    hyphens: auto;
  }

  code {
    background-color: transparent;
    white-space: normal;
    word-wrap: normal;
  }

  summary {
    cursor: pointer;
  }

  details {
    margin: 1rem 0;
  }

  .icon {
    background-size: 18px;
    height: 18px;
    width: 18px;
  }

  /* icons in sidebars */
  .icon-experimental,
  .icon-nonstandard {
    color: var(--icon-information);
  }

  .icon-deprecated {
    color: var(--icon-critical);
  }
}
