#writers-homepage {
  .homepage-hero,
  .container {
    margin-bottom: 60px;
  }

  #tools {
    li {
      display: inline-block;
      margin: 1em;
    }
  }

  ul li ul {
    margin-left: 1em;
  }

  h2 {
    margin-top: 1em;
  }
}
