.glean-thumbs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  .thanks {
    font-size: var(--type-tiny-font-size);
  }
}

.thumbs {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
