.glean-thumbs {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  justify-content: center;
  text-align: center;

  .question,
  .confirmation {
    font-size: var(--type-tiny-font-size);
  }
}
