@use "../ui/vars" as *;
@use "../ui/atoms/button/mixins" as button;

h4 {
  border: 1px solid var(--border-secondary);
  border-top-left-radius: var(--elem-radius);
  border-top-right-radius: var(--elem-radius);
  font-size: 1rem;
  font-weight: normal;
  grid-area: header;
  line-height: 1.1876;
  margin: 0;
  padding: 0.5rem 1rem;
}

play-editor {
  border: 1px solid var(--border-secondary);
  border-bottom-left-radius: var(--elem-radius);
  border-bottom-right-radius: var(--elem-radius);
  border-top: none;
  grid-area: editor;
  margin-top: -0.5rem;
  overflow: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: buttons;

  button {
    @include button.secondary;
  }
}

play-console {
  border: 1px solid var(--border-secondary);
  border-radius: var(--elem-radius);
  grid-area: console;
}

.template-javascript {
  align-content: start;
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "header  header"
    "editor  editor"
    "buttons console";
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  height: 100%;

  play-runner {
    display: none;
  }

  @media (max-width: $screen-sm) {
    grid-template-areas:
      "header"
      "editor"
      "buttons"
      "console";
    grid-template-columns: 1fr;

    .buttons {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
