.notecard {
  --note-theme: var(--icon-information);
  position: relative;
  padding: 1rem 1rem 1rem 3rem;
  margin: 1rem 0;
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  border-left: 4px solid var(--note-theme);

  a {
    color: var(--text-primary);

    &:hover {
      text-decoration: underline;
    }
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--note-theme);
    mask-image: url("../../../assets/icons/note-info.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    content: "";
  }

  &.warning {
    --note-theme: var(--icon-warning);

    &:before {
      mask-image: url("../../../assets/icons/note-warning.svg");
    }
  }

  &.deprecated,
  &.error,
  &.negative {
    --note-theme: var(--icon-critical);

    &:before {
      mask-image: url("../../../assets/icons/note-deprecated.svg");
    }
  }

  &.success {
    --note-theme: var(--icon-success);

    &:before {
      mask-image: url("../../../assets/icons/note-info.svg");
    }
  }

  p:last-child {
    padding-bottom: 0;
  }
}
