.button {
  --button-bg: var(--button-primary-default);
  --button-border-color: var(--button-primary-default);
  --button-color: #fff;
  --button-font: var(--type-emphasis-m);
  --button-padding: 0.5rem;
  --button-radius: var(--elem-radius, 0.25rem);

  appearance: none;
  background: none;
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.button-wrap {
  align-items: center;
  background-color: var(--button-bg);
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-radius);
  color: var(--button-color);
  display: flex;
  font: var(--button-font);
  gap: 0.25rem;
  height: 2rem;
  justify-content: center;
  padding-left: var(--button-padding);
  padding-right: var(--button-padding);
}

.button .icon {
  background-color: var(--button-color);
}

/* Button States */

.button:hover,
.button.hover {
  --button-bg: var(--button-primary-hover);
}

.button:active,
.button.active {
  --button-bg: var(--button-primary-active);
}

.button:focus,
.button.focus {
  outline: 3px solid var(--accent-primary-engage);
}

.button[disabled],
.button.inactive {
  opacity: 0.65;
}

/* Standard Button Modifiers */

.button.small,
.button.small > span {
  --button-padding: 0.25rem;
  height: 1.75rem;
}

/* Secondary Version */

.button.secondary {
  --button-bg: var(--button-secondary-default);
  --button-border-color: var(--border-primary);
  --button-color: var(--text-secondary);
}

.button.secondary:hover {
  --button-bg: var(--button-secondary-hover);
}

.button.secondary:active {
  --button-bg: var(--button-secondary-active);
}

.button.secondary:focus {
  --button-bg: var(--button-secondary-default);
}

/* Action Version */

.button.action {
  --button-bg: transparent;
  --button-border-color: var(--button-bg);
  --button-color: var(--text-secondary);
  --button-font: var(--type-label-s);
}

.button.action > span {
  text-transform: uppercase;
}

.button.action.has-icon > span {
  --button-font: var(--type-emphasis-m);
  text-transform: initial;
}

.high-contrast-black {
  .button {
    --button-color: var(--button-secondary-default);
  }

  .button.secondary {
    --button-bg: transparent;
    --button-border-color: var(--button-color);
  }
}
