section.place {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  max-width: 12rem;
  min-height: 20rem;

  a:not(.button),
  a {
    color: var(--text-primary);
    text-decoration: none;
  }

  .pong-box {
    background-color: var(--background-secondary);
    border: 1px solid var(--border-primary);
    margin: 0 0 0.125rem;
    padding: 0;
    width: 10rem;

    .pong {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0.825rem;

      img {
        margin: 0;
        max-height: 6.25rem;
        width: 8.125rem;
      }

      span {
        color: var(--text-secondary);
        font-size: 0.75rem;
        padding: 0.5rem;
      }
    }

    .pong-note {
      color: var(--text-secondary);
      display: flex;
      font-size: 0.625rem;
      justify-content: space-between;
      margin: 1rem 0.25rem 0 auto;
      text-decoration: underline;
      width: max-content;
    }
  }
}

.no-pong {
  color: var(--text-secondary);
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
  max-width: 12rem;
  padding: 0;
  text-decoration: underline;
  width: 100%;
}
