@use "../../vars" as *;

section.place {
  display: flex;
  margin: 1rem 0;

  a:not(.button),
  a {
    color: var(--text-primary);
    text-decoration: none;
  }

  .pong-box {
    background-color: var(--background-secondary);
    border: 1px solid var(--border-primary);
    margin: 0 0 0.125rem;
    padding: 0;
    width: 10rem;

    .pong {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0.825rem;

      img {
        margin: 0;
        max-height: 6.25rem;
        width: 8.125rem;
      }

      span {
        color: var(--text-secondary);
        font-size: 0.75rem;
        padding: 0.5rem;
      }
    }

    .pong-note {
      color: var(--text-secondary);
      display: flex;
      font-size: 0.625rem;
      justify-content: space-between;
      margin: 1rem 0.25rem 0 auto;
      text-decoration: underline;
      width: max-content;
    }
  }

  .no-pong {
    color: var(--text-secondary);
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
    max-width: 12rem;
    padding: 0;
    text-decoration: underline;
    width: 100%;
  }

  &.side {
    flex-direction: column;
    max-width: 12rem;
    min-height: 20rem;
  }

  &.top {
    align-items: center;
    display: grid;
    font-size: 0.625rem;

    grid-template-areas: "pong cta" "no note";
    height: var(--top-banner-height);
    margin: -1px auto;
    width: 100%;

    @media screen and (min-width: $screen-md) {
      grid-template-areas: "pong cta note" "pong cta no";
      grid-template-columns: fit-content(100%) auto fit-content(100%);
    }

    .pong-box {
      border: none;
      display: contents;
      width: 100%;

      .pong {
        color: var(--place-top-color);
        flex-direction: row;
        grid-area: pong;
        padding: 0.125rem;
        text-decoration: none;

        img {
          height: var(--top-banner-inner-height);
          max-height: var(--top-banner-inner-height);
          width: auto;
        }

        span {
          color: var(--place-top-color);
          max-height: var(--top-banner-inner-height);
          overflow: auto;
          padding: 0 1rem;
        }
      }

      .pong-cta {
        background-color: var(--place-top-cta-background);
        border-radius: var(--elem-radius);
        color: var(--place-top-cta-color);
        font-size: var(--type-smaller-font-size);
        grid-area: cta;
        height: fit-content;
        margin-right: auto;
        padding: 0.25rem 1rem;
        text-align: center;
      }

      .pong-note {
        background-color: var(--text-primary);
        border: 1px solid var(--border-primary);
        border-radius: 0 0 0.5rem 0.5rem;
        border-top: none;
        color: var(--background-secondary);
        grid-area: note;
        margin: 0 0 auto auto;
        padding: 0 0.5rem 0.125rem;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          text-decoration: underline;
        }
      }
    }

    .no-pong {
      color: var(--place-top-color);
      grid-area: no;
      margin: auto 0 0 2rem;
      width: initial;
    }
  }
}

section.place.hp-main {
  background-color: var(--place-hp-main-background);
  margin: 0;
  width: 100%;

  a {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      height: auto;
    }
  }
}

.top-banner {
  --place-top-background-light: var(--background-secondary);
  --place-top-color-light: var(--text-primary);
  --place-top-cta-background-light: var(--text-primary);
  --place-top-cta-color-light: var(--background-secondary);

  --place-top-background-dark: var(--background-secondary);
  --place-top-color-dark: var(--text-primary);
  --place-top-cta-background-dark: var(--text-primary);
  --place-top-cta-color-dark: var(--background-secondary);

  --place-top-background: var(--place-top-background-light);
  --place-top-color: var(--place-top-color-light);
  --place-top-cta-background: var(--place-top-cta-background-light);
  --place-top-cta-color: var(--place-top-cta-color-light);

  @media (prefers-color-scheme: dark) {
    --place-top-background: var(--place-top-background-dark);
    --place-top-color: var(--place-top-color-dark);
    --place-top-cta-background: var(--place-top-cta-background-dark);
    --place-top-cta-color: var(--place-top-cta-color-dark);
  }

  background-color: var(--place-top-background);

  border-bottom: 1px solid var(--border-primary);
  height: var(--top-banner-height);

  &.fallback {
    position: initial;
  }

  @media screen and (max-width: #{$screen-md - 1}) {
    display: none;
  }

  .fallback-copy {
    font-size: 1rem;
    grid-column: 1/4;
    line-height: var(--top-banner-height);
    margin: 0 auto;

    a:not(.button) {
      color: var(--apis-accent-color);

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.dark .top-banner {
  --place-top-background: var(--place-top-background-dark);
  --place-top-color: var(--place-top-color-dark);
  --place-top-cta-background: var(--place-top-cta-background-dark);
  --place-top-cta-color: var(--place-top-cta-color-dark);
}
