@import "~@mdn/minimalist/sass/vars/layout";
@import "~@mdn/minimalist/sass/vars/color-palette";

@import "~@mdn/minimalist/sass/mixins/utils";

$button-box-shadow: 5px 5px 5px $primary-500;
$modal-background-color: rgba(0, 0, 0, 0.8);

$card-gradient-start-color: #3794bc;
$card-gradient-end-color: #7556ce;

/* Base for auth buttons */
.auth-button {
  border: 2px solid $primary-100;
  border-radius: $base-unit;
  display: block;
  font-weight: bold;
  margin: $base-spacing / 2;
  min-width: 280px;
  padding: ($base-spacing / 2) 0;
  text-align: center;

  @media #{$mq-tablet-and-up} {
    min-width: 330px;
  }

  &::before {
    background-size: 24px;
    content: "";
    display: inline-block;
    height: 24px;
    margin-right: $base-unit;
    vertical-align: text-bottom;
    width: 24px;
  }

  &:hover,
  &:focus {
    box-shadow: $button-box-shadow;
    text-decoration: none;
  }
}

@mixin github-auth-button() {
  @extend .auth-button;

  &::before {
    background: transparent url("~@mdn/dinocons/brands/github-mark-small.svg") 0
      0 no-repeat;
  }
}

@mixin google-auth-button() {
  @extend .auth-button;

  /* icon use based on the following guidelines:
       https://developers.google.com/identity/branding-guidelines */
  &::before {
    background: transparent url("~@mdn/dinocons/brands/google-color.svg") 0 0
      no-repeat;
  }
}

.modal {
  background-color: $modal-background-color;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $top-layer;

  > * {
    position: relative;
  }

  .close-modal {
    background: none;
    border: 0;
    position: absolute;
    right: -23px;
    top: -17px;

    span {
      @include visually-hidden();
    }

    &::before {
      background: transparent url("~@mdn/dinocons/general/close-modal.svg") 0 0
        no-repeat;
      background-size: 24px;
      content: "";
      display: block;
      height: 24px;
      width: 24px;
    }
  }
}

@supports (display: flex) {
  .modal {
    align-items: center;
    display: flex;
    justify-content: center;

    > * {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: $base-spacing;
    }
  }
}

@mixin card($gradient: false) {
  background-color: $neutral-550;
  border: 1px solid $neutral-550;
  border-radius: $base-unit;
  max-width: 400px;

  @if $gradient {
    &::before {
      background-image: linear-gradient(
        -271deg,
        $card-gradient-start-color,
        $card-gradient-end-color
      );
      content: "";
      display: block;
      height: 4px;
    }
  }

  h2,
  p,
  ul {
    padding: 0 $base-spacing;
    text-align: center;
  }
}

.auth-providers {
  @include card();
  margin: $base-spacing auto;

  @media #{$mq-tablet-and-up} {
    margin: ($base-unit * 10) auto;
  }

  .auth-button-container {
    margin: 0 auto;
    width: 350px;
  }

  .github-auth {
    @include github-auth-button();
  }

  .google-auth {
    @include google-auth-button();
  }
}
