@import "~@mdn/minimalist/sass/vars/layout";

.language-menu {
  padding: ($base-spacing / 2) $base-spacing;

  @media #{$mq-large-desktop-and-up} {
    text-align: right;
  }

  select {
    display: block;
    margin-bottom: $base-unit;
    width: 100%;

    @media #{$mq-tablet-and-up} {
      display: inline-block;
      vertical-align: text-top;
      width: 80%;
    }

    @media #{$mq-small-desktop-and-up} {
      width: inherit;
    }
  }

  .button {
    max-width: inherit;
    width: 100%;

    @media #{$mq-tablet-and-up} {
      width: auto;
    }
  }
}
