table {
  display: grid;
  grid-auto-flow: row dense;
  width: 100%;

  thead {
    line-height: 1;
    text-orientation: sideways;
    white-space: nowrap;
    writing-mode: sideways-lr;

    tr {
      display: contents;

      th,
      td {
        display: grid;
        grid-template-columns: subgrid;
      }
    }
  }

  tbody {
    --border: 1px solid var(--border-secondary);
    display: contents;

    tr {
      display: contents;

      th,
      td {
        display: contents;

        button {
          display: grid;
          grid-template-columns: subgrid;
        }

        .more {
          grid-column: 1 / -1;
        }
      }
    }

    .bc-feature {
      align-items: center;
      border: none;
      display: flex;
      text-align: left;
      width: 100%;

      > * {
        border: none !important;
        flex-basis: max-content;
      }
    }
  }
}
