@import "~@mdn/minimalist/sass/mdn-minimalist";

/* This makes Storybook's background changer and grid work */
html,
body {
  background-color: initial;
  margin: 12px;
  padding: 0 !important; /* stylelint-disable-line declaration-no-important */
}
