form.landing-page-survey {
  padding: 40px;
  border: 1px solid #efefef;

  .form-element.price label {
    display: inline-block;
  }

  .thank-you {
    font-size: 120%;
    font-weight: bold;
  }
}
