.search-ai {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: var(--type-smaller-font-size);
  overflow: hidden;

  &-header,
  &-body,
  &-footer {
    padding: 0.5rem;
  }

  &-header {
    align-items: center;
    border-bottom: 1px solid var(--border-primary);
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
    }

    &-icon {
      flex-shrink: 0;
      text-align: center;
      width: 3rem;
    }

    &-title {
      font-weight: bold;
    }
  }

  &-body {
    flex: auto;
    overflow-y: scroll;
  }

  &-footer {
    border-top: 1px solid var(--border-primary);
  }

  &-examples {
    display: flex;
    flex-direction: column;
  }

  &-example {
    border-radius: 100px;
    color: var(--text-secondary);
    display: flex;
    padding: 0.5rem;

    &:hover {
      background-color: var(--background-secondary);
    }

    &-icon {
      flex-shrink: 0;
      margin-right: 0.5rem;
      text-align: center;
      width: 2rem;
    }
  }

  &-messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-message {
    display: flex;

    &-user {
      color: var(--text-secondary);
    }

    &-role {
      flex-shrink: 0;
      text-align: center;
      width: 3rem;
    }

    &-content {
      p:first-child {
        margin-top: 0;
      }
    }
  }

  input {
    background-color: var(--background-primary);
    border: 1px solid var(--border-primary);
    border-radius: 100px;
    color: var(--text-primary);
    height: var(--form-elem-height);
    min-width: 5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    width: 100%;
  }
}
