@use "../../../ui/vars" as *;

.get-involved {
  background-color: var(--mdn-background-dark);
  section {
    color: var(--text-primary);
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    line-height: 1.75;

    padding: 2rem 1rem;

    @media screen and (min-width: $screen-md) {
      padding: 2rem 0;
    }

    h2 {
      font-family: var(--font-heading);
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 120%;
      margin: 0;
    }

    .get-involved-cta {
      color: var(--category-color);
      margin-top: 1rem;
      display: block;
    }
  }
}
