name: Markdown Docs files

on:
  pull_request:
    paths:
      - docs/**/*.md
      - README.md
      - .github/workflows/pr-docs.yml
jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.1
        with:
          node-version: "12"
          cache: "yarn"

      - name: Lint markdown files
        run: |
          npx markdownlint-cli README.md
          npx markdownlint-cli docs/**/*.md
