name: Markdown Docs files

on:
  pull_request:
    paths:
      - docs/**/*.md
      - README.md
      - .github/workflows/pr-docs.yml
jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: npm

      - name: Lint markdown files
        run: |
          npx markdownlint-cli README.md
          npx markdownlint-cli docs/**/*.md
