# This workflow exclusively and specifically only checks the
# kumascript test suite.
# But if a package gets upgraded (e.g. Dependabot making a PR)
# that should test the kumascript suite too because the packages
# might have (and we've seen it happen!) an impact on the suite.

# Note that lint checking and stuff for files with `kumascript/**`
# is done with the general testing workflow.

name: Kumascript unit testing

on:
  pull_request:
    paths:
      - kumascript/**
      - .github/workflows/pr-kumascript.yml
      - yarn.lock

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.5
        with:
          node-version: "12"

      - name: Cache node_modules
        uses: actions/cache@v2.1.5
        id: cached-node_modules
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Install all yarn packages
        if: steps.cached-node_modules.outputs.cache-hit != 'true'
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
        run: |
          yarn --frozen-lockfile

      - name: Unit testing kumascript
        env:
          CONTENT_ROOT: testing/content/files
        run: |
          yarn test:kumascript
