$icons: "add-filled", "add", "bell-filled", "bell", "bookmark-filled",
  "bookmark", "cancel", "checkmark", "chevron", "critical", "edit", "ellipses",
  "external", "eye-filled", "eye", "firefox", "information", "language",
  "menu-filled", "menu", "search", "sidebar", "small-arrow", "star-filled",
  "star", "theme", "trash", "warning";

.icon {
  --size: var(--icon-size, 1rem);

  background-color: var(--icon-primary);
  display: inline-block;
  height: var(--size);
  width: var(--size);
}

.icon {
  @each $name in $icons {
    &.icon-#{$name} {
      mask-image: url("../../../assets/icons/" + $name + ".svg");
    }
  }
}
