$icons: "add-filled", "add", "altname", "bell-filled", "bell", "bookmark-filled",
  "bookmark", "cancel", "checkmark", "chevron", "chrome", "critical", "deno",
  "deprecated", "desktop", "disabled", "edge", "edit", "ellipses",
  "experimental", "external", "eye-filled", "eye", "footnote",
  "github-mark-small", "ie", "information", "language", "menu-filled", "menu",
  "mobile", "theme-dark", "next", "no", "nodejs", "nonstandard", "note-info",
  "note-warning", "note-deprecated", "oculus", "opera", "padlock", "partial",
  "prefix", "preview", "previous", "quote", "safari", "samsunginternet",
  "search", "server", "sidebar", "simple-firefox", "small-arrow", "theme-light",
  "star-filled", "star", "theme-os-default", "thumbs-down", "thumbs-up", "trash",
  "twitter", "unknown", "warning", "webview", "xr", "yes", "yes-circle";

.icon {
  --size: var(--icon-size, 1rem);
  background-color: var(--icon-primary);
  display: inline-block;
  height: var(--size);
  width: var(--size);
  vertical-align: middle;
  mask-position: center;
  mask-repeat: no-repeat;
  flex-shrink: 0;
}

// The icon class is applied directly to SVGs sometimes. This
// override un-breaks those.
svg.icon {
  background: transparent;
  color: var(--icon-primary);
}

.icon {
  @each $name in $icons {
    &.icon-#{$name} {
      mask-image: url("../../../assets/icons/" + $name + ".svg");
    }
  }
}
