@use "sass:math";
@use "sass:map";
@use "../../theme/index" as theme;
@use "../../theme/themes/_color-map-light-mode" as light-mode-color-map;

@import "~@mdn/minimalist/sass/vars/mdn-web-docs-palette";
@import "~@mdn/minimalist/sass/vars/layout";
@import "~@mdn/minimalist/sass/vars/typography";
@import "~@mdn/minimalist/sass/mixins/utils";

.header-search {
  background-color: $white;

  .search-widget {
    margin: $base-spacing 0;
    position: relative;
    width: 100%;

    @media #{$mq-tablet-and-up} {
      margin: math.div($base-spacing, 2) 0;
      min-width: 80px;
    }

    @media #{$mq-large-desktop-and-up} {
      margin: 0;
    }
  }

  input.search-input-field {
    // make webkit play nice with search input types
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    border: 1px solid map.get(light-mode-color-map.$colors, border-primary);
    border-radius: theme.$default-border-radius;
    color: $text-color;
    min-width: 60px;
    padding: $base-unit ($base-unit * 2);
    width: 100%;

    &:focus {
      outline: map.get(light-mode-color-map.$colors, border-primary);
    }
  }

  .server-error {
    color: $mdn-red700;
    font-size: $small-font-size;
    margin: 0;
  }

  .search-results {
    background-color: $white;
    border: 2px solid $mdn-neutral900;
    border-radius: 0 0 $base-unit $base-unit;
    border-top: 0;
    box-shadow: 0 2px 8px 0 $mdn-neutral500;
    left: 0;
    position: absolute;
    top: 42px;
    width: 100%;
    z-index: $top-layer;

    .indexing-warning {
      color: $mdn-yellow400;
    }

    div {
      padding: $base-unit;
    }

    .nothing-found {
      font-style: italic;
    }

    .fuzzy-engaged {
      font-size: $tiny-text;
    }

    .result-item {
      border-bottom: 1px solid $mdn-neutral100;
      word-break: break-word;
    }

    .result-item:hover,
    .result-item.highlight {
      background-color: $mdn-neutral100;
    }

    .result-item:hover,
    .result-item:focus {
      cursor: pointer;
    }

    div:last-child {
      border-bottom: 0;
    }

    mark {
      background-color: $mdn-yellow200;
    }

    small {
      overflow-wrap: break-word;
    }

    a {
      text-overflow: ellipsis;
    }

    div.searchindex-error {
      color: $mdn-red700;
    }
  }
}

.search-form {
  position: relative;
}

.search-button {
  background: $white url("~@mdn/dinocons/general/search.svg") center center
    no-repeat;
  background-size: 16px;
  height: 16px;
  padding: 18px;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 16px;

  &:hover,
  &:focus,
  &:active {
    background-color: map.get(
      light-mode-color-map.$colors,
      button-secondary-hover
    );
    outline: theme.$white;
  }
}
