@use "sass:math";
@use "sass:map";

@use "../../minimalist/vars/layout";
@use "../../minimalist/vars/typography";
@use "../../theme/index" as theme;

.header-search {
  .search-widget {
    margin: theme.$base-spacing 0;
    position: relative;
    width: 100%;

    @media #{layout.$mq-large-desktop-and-up} {
      align-items: center;
      display: flex;
      gap: theme.$base-spacing;
      margin: 0;
    }
  }

  input.search-input-field {
    // make webkit play nice with search input types
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    border: 1px solid map.get(theme.$light-mode, border-primary);
    border-radius: theme.$default-border-radius;
    color: theme.$mdn-neutral900;
    min-width: 60px;
    padding: theme.$base-spacing (theme.$base-spacing * 2) theme.$base-spacing
      46px;
    width: 100%;

    @media (prefers-color-scheme: dark) {
      background-color: map.get(theme.$dark-mode, background-primary);
      border: 1px solid map.get(theme.$dark-mode, border-primary);
      color: theme.$white;
    }

    &:focus {
      outline: map.get(theme.$light-mode, border-primary);
    }
  }

  .server-error {
    color: theme.$mdn-red700;
    margin: 0;
  }

  .search-results {
    background-color: theme.$white;
    border: 2px solid theme.$mdn-neutral900;
    border-radius: 0 0 theme.$base-spacing theme.$base-spacing;
    border-top: 0;
    box-shadow: 0 2px theme.$base-spacing 0 theme.$mdn-neutral500;
    left: 0;
    position: absolute;
    top: 42px;
    width: 100%;
    z-index: layout.$top-layer;

    .indexing-warning {
      color: theme.$mdn-yellow400;
    }

    div {
      padding: theme.$base-spacing;
    }

    .nothing-found {
      font-style: italic;
    }

    .fuzzy-engaged {
      font-size: typography.$tiny-text;
    }

    .result-item {
      border-bottom: 1px solid theme.$mdn-neutral100;
      word-break: break-word;
    }

    .result-item:hover,
    .result-item.highlight {
      background-color: theme.$mdn-neutral100;
    }

    .result-item:hover,
    .result-item:focus {
      cursor: pointer;
    }

    div:last-child {
      border-bottom: 0;
    }

    mark {
      background-color: theme.$mdn-yellow200;
    }

    small {
      overflow-wrap: break-word;
    }

    a {
      text-overflow: ellipsis;
    }

    div.searchindex-error {
      color: theme.$mdn-red700;
    }
  }
}

.search-form {
  position: relative;
}

.search-button {
  height: 44px;
  left: 1px;
  padding: 16px;
  position: absolute;
  top: 1px;
  width: 42px;

  &::before {
    background-color: map.get(theme.$light-mode, icon-primary);
    background-size: 16px;
    content: "";
    display: block;
    height: 16px;
    left: -3px;
    mask-image: url("~@mdn/dinocons/general/search.svg");
    position: relative;
    top: -1px;
    width: 16px;

    @media (prefers-color-scheme: dark) {
      background-color: map.get(theme.$dark-mode, icon-primary);
    }
  }
}

.close-search-button {
  display: none;

  @media #{layout.$mq-large-desktop-and-up} {
    background: none;
    border-radius: theme.$default-border-radius;
    display: block;
    padding: theme.$base-spacing * 2;

    &::before {
      background-color: map.get(theme.$light-mode, icon-primary);
      background-size: 12px;
      content: "";
      display: block;
      height: 12px;
      mask-image: url("~@mdn/dinocons/general/close.svg");
      position: relative;
      width: 12px;

      @media (prefers-color-scheme: dark) {
        background-color: map.get(theme.$dark-mode, icon-primary);
      }
    }
  }
}

.search-button,
.close-search-button {
  &:hover,
  &:focus,
  &:active {
    background-color: map.get(theme.$light-mode, button-secondary-hover);
    outline: theme.$white;

    @media (prefers-color-scheme: dark) {
      background-color: map.get(theme.$dark-mode, button-secondary-hover);
    }
  }
}
