@import "~@mdn/minimalist/sass/vars/color-palette";
@import "~@mdn/minimalist/sass/vars/layout";
@import "~@mdn/minimalist/sass/vars/typography";

.page-footer-logo {
  margin-bottom: $base-spacing;
}

.page-footer {
  background-color: $neutral-100;
  color: $text-color-inverted;
  padding: ($base-spacing * 2) $base-spacing;

  .content-container {
    margin: 0 auto;
    max-width: 1400px;
  }

  a {
    color: $text-color-inverted;
  }

  ul {
    a {
      display: block;
      padding: 10px 0;
    }
  }

  .social {
    align-items: center;
    display: flex;

    h4 {
      font-size: $small-medium-font-size;
      font-weight: normal;
      margin: inherit;
      margin-right: 10px;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    svg {
      height: 18px;
      vertical-align: sub;
      width: 18px;

      path {
        fill: #fff;
      }
    }
  }

  .footer-license {
    margin: 10px 0;

    @media #{$mq-tablet-and-up} {
      border-top: 1px solid $neutral-550;
      margin: 50px 0 30px;
      padding: 30px 0 0;
    }

    a {
      text-decoration: underline;
    }
  }

  .footer-legal {
    @media #{$mq-tablet-and-up} {
      padding-bottom: 20px;
    }

    li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 0 20px 0 0;
      text-decoration: underline;
    }
  }
}

@supports (display: grid) {
  .content-container {
    display: grid;

    .page-footer-logo,
    .link-list-mdn,
    .link-list-moz,
    .footer-license,
    .footer-legal {
      grid-column: 1/3;
    }

    .page-footer-logo {
      grid-row: 1/2;
    }

    .link-list-mdn {
      grid-row: 2/3;

      @media #{$mq-tablet-and-up} {
        grid-column: 1/2;
      }
    }

    .link-list-moz {
      grid-row: 3/4;

      @media #{$mq-tablet-and-up} {
        grid-row: 2/3;
        grid-column: 2/3;
      }
    }

    .social-mdn {
      grid-row: 4/5;
      grid-column: 1/2;
    }

    .social-moz {
      grid-row: 4/5;
      grid-column: 2/3;
    }

    .footer-license {
      grid-row: 5/6;
    }

    .footer-legal {
      grid-row: 6/7;
    }
  }
}
